<template>
  <main>
    <span class="label">{{label}}</span>
    <h1>{{ tax.name }}</h1>
    <Index v-if="posts.length > 0" :routes="posts" />
  </main>
</template>
<script>
import { cats } from "../static/cats";
import { tags } from "../static/tags";

import Index from "./index";

export default {
  components: {
    Index
  },
  data() {
    return {
      label: "",
      posts: []
    };
  },

  props: ["tax"],

  mounted() {
    if (this.tax.taxonomy == "category") {
      this.posts = cats[this.tax.id];
      this.label = "Category";
    } else if (this.tax.taxonomy == "post_tag") {
      this.posts = tags[this.tax.id];
      this.label = "Tag";
    }
  }
};
</script>
<style scoped>
span.label {
  display: block;
  font-family: "Staatliches", cursive;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}
</style>
