<template>
  <article class="post card">
    <h2 class="post-title" >
      <nuxt-link v-if="audio" :to="`/${post.slug}`">
        <span v-html="title" />
      </nuxt-link>
      <a v-if="patreon" :href="patreon" rel="noopener noreferrer" target="_blank"><span v-html="title"></span></a>
    </h2>
    <audio v-if="audio" preload="none" controls :src="audio">
      <source type="audio/mpeg" :src="audio" />
      <a :href="audio">{{audio}}</a>
    </audio>
    <img :src="thumbnail" alt loading="lazy" />
    <div class="post-content" v-html="excerpt"></div>
  </article>
</template>
<script>
import Media from "./media.vue";
export default {
  components: {
    Media
  },
  data() {
    return {
      excerpt: "",
      title: "",
      thumbnail: "",
      audio: false,
      patreon: false,
    };
  },
  methods: {},
  props: ["post"],
  mounted: function() {
    if (this.post["post-thumbnail"] != "") {
      this.thumbnail = this.post["post-thumbnail"];
    }

    if (this.post["episode-data"]) {
      this.audio = this.post["episode-data"].url;
    }

    this.title = this.post.title;

    console.log(this.post.title.rendered)

    if (typeof this.post.title == "object") {
      this.title = this.post.title.rendered;
    }

    this.excerpt = this.post.excerpt;

    if (typeof this.post.excerpt == "object") {
      this.excerpt = this.post.excerpt.rendered;
    }

    if( this.post['post-meta-fields'] && this.post['post-meta-fields']['patreon_link'] && this.post['post-meta-fields']['patreon_link'][0]) {
      this.patreon = this.post['post-meta-fields']['patreon_link'][0];
    }  
  }
};
</script>
<style scoped>
article {
  max-width: 680px;
}

article h2 {
  text-transform: uppercase;
}
article h2 a {
  color: var(--complementary);
  font-family: "Staatliches", cursive;
  text-decoration: none;
}
article h2 a:hover {
  text-decoration: underline;
}
article audio {
  clear: both;
  display: block;
  margin-bottom: 12px;
  width: 100%;
}
.show-notes {
  color: #5a420b;
}

.show-notes:hover {
  background: black;
}
</style>