<template>
  <header class="site-header staatliches bg-black color-white sticky">
    <h1 :style="headingStyle">
      <nuxt-link to="/" class="color-white">The Golden Age Horror Podcast</nuxt-link>
    </h1>
    <nav role="navigation" :class="toggled">
      <ul>
        <li @click="toggle">
          <a href="/#latest" class="color-white">Past Episodes</a>
        </li>
        <li>
          <a href="https://www.patreon.com/bePatron?u=781216" class="color-white">Become a Patron!</a>
        </li>
        <li>
          <a href="https://goldenagehorror.com/feed/podcast" class="color-orange">RSS</a>
        </li>
      </ul>
    </nav>
    <Modal />
  </header>
</template>
<script>
import Modal from "./modal";
export default {
  data() {
    return { pageY: 0 };
  },
  computed: {
    headingStyle() {
      if (this.pageY > 100) {
        return {
          margin: "0",
          transition: "margin 500ms"
        };
      }
      return {
        transition: "margin 500ms"
      };
    },
    toggled() {
      if (this.$store.state.menuToggled) {
        return "toggled";
      }
      return "";
    }
  },
  mounted() {
    const handleScroll = this.handleScroll;
    window.addEventListener("scroll", function(event) {
      handleScroll(event);
    });
  },
  methods: {
    handleScroll(event) {
      this.pageY = event.pageY;
    },
    toggle() {
      this.$store.commit("toggleMenu");
    }
  },
  components: { Modal }
};
</script>

<style scoped>
h1 {
  font-family: "Staatliches", cursive;
}
.site-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  z-index: 2;
}
nav ul {
  display: flex;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
}

@media (max-width: 975px) {
  h1 {
    font-size: 7vw;
  }
  nav {
    display: none;
    min-height: 0;
    transition: all 1s ease;
    top: 0;
  }

  nav.toggled {
    align-items: center;
    background: #453a94;
    bottom: 0;
    display: flex;
    min-height: 100vh;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
  }
  nav.toggled ul {
    display: block;
  }
  nav.toggled ul li {
    display: block;
    font-size: 40px;
    margin-bottom: 10px;
  }
}
</style>
