<template>
  <div class="posts" id="latest">
    <Excerpt v-for="post in posts" :post="post" :key="post.id" />
  </div>
</template>

<script>
import Excerpt from "./excerpt.vue";

export default {
  components: {
    Excerpt
  },
  data() {
    return {
      posts: [],
      offset: 0,
      perPage: 3
    };
  },

  props: ["routes"],

  methods: {
    getPosts() {
      const routes = this.routes;
      const perPage = this.perPage;
      const promises = [];
      const posts = this.posts;
      let offset = this.offset;
      const getPosts = this.getPosts;

      const limit = perPage + offset;

      const promise = new Promise((resolve, reject) => {
        if (!routes[offset]) {
          reject("No data offset");
        }

        const slug = routes[offset];

        console.log(routes[offset]);

        fetch(`../../routes/${slug}.json`)
          .then(response => {
            return response.json();
          })
          .then(response => {
            resolve(response);
          });
      });

      promise.then(result => {
        posts.push(result);
        this.offset += 1;

        if (routes[offset] && posts.length < perPage) {
          getPosts();
        } else {
          this.watchIntersection();
        }
      });
    },

    watchIntersection() {
      let callback = (entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            this.perPage += 3;
            this.getPosts();
          }
        });
      };
      let observer = new IntersectionObserver(callback);
      let target = document.querySelector(".post.card:last-of-type");

      observer.observe(target);
    }
  },

  mounted() {
    this.getPosts();
  }
};
</script>
<style>
@media (min-width: 1000px) {
  .posts article {
    overflow: auto;
  }
  .posts article img {
    float: left;
    margin: 0 20px;
    width: 200px;
  }
}
</style>
