<template>
  <div>
    <img v-if="id != 0" :src="src" :alt="alt" />
  </div>
</template>
<script>
import axios from "axios";
export default {
  computed: {},
  data() {
    return {
      src: "",
      alt: "",
      media: {}
    };
  },
  methods: {
    fetchPicture: function() {
      if (this.id == 0) {
        return;
      }

      const self = this;
      const api = `${process.env.apiBase}/wp-json/wp/v2/media/` + self.id;

      axios
        .get(api)
        .then(function(response) {
          self.src = response.data.media_details.sizes.medium.source_url;
          self.alt = response.data.alt_text;
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  },
  props: ["id"],
  mounted: function() {
    this.fetchPicture();
  }
};
</script>
<style>
</style>
