<template>
  <button :class="buttonClass" @click="toggle" aria-label="Toggle Menu Visibility">
    <div></div>
    <div></div>
    <div></div>
  </button>
</template>
<script>
export default {
  data() {
    return {};
  },
  computed: {
    buttonClass() {
      if (this.$store.state.menuToggled) {
        return "toggled";
      }
    }
  },
  methods: {
    toggle() {
      this.$store.commit("toggleMenu");
    }
  }
};
</script>
<style scoped>
@media (min-width: 975px) {
  button {
    display: none;
  }
}

button.toggled div {
  background: transparent;
  position: absolute;
  width: 75px;
}

button.toggled div:first-child {
  background: white;
  /*left: 0;*/
  transform: rotate(45deg);
}

button.toggled div:last-child {
  background: white;
  transform: rotate(-45deg);
  /*right: 0;*/
}

button {
  background: #453a94;
  border: 0;
  border-radius: 50% 0 0 0;
  bottom: 0;
  height: 75px;
  outline: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 3;
  width: 120px;
}

button div:last-child {
  margin-bottom: 0;
}

button div {
  background: white;
  height: 5px;
  margin-bottom: 10px;
  transition: 1s ease all;
  width: 100px;
}
</style>
