
<template>
  <div class="modal" v-if="visible">
    <div>
      <button class="close" @click="close">X</button>
      <div v-html="formHTML"></div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  computed: {},
  data() {
    return {
      formHTML: "",
      visible: false
    };
  },
  methods: {
    close() {
      this.visible = false;
    },

    getCookie() {
      if (
        document.cookie.split(";").filter(item => {
          return item.indexOf("gah_mc=") >= 0;
        }).length
      ) {
        return true;
      }
      return false;
    },
    insertMailChimpForm() {
      this.formHTML = `<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="mc_embed">
<form action="https://cthulhudice.us8.list-manage.com/subscribe/post?u=2d506aed373ee18e74e419322&amp;id=551ee55c6c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll" class="mc_embed_signup">
	<p>Receive our hand crafted, monthly emails -- and never miss an episode!</p>
  
  <div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d506aed373ee18e74e419322_551ee55c6c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="bg-btn button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->`;
    },
    setCookie() {
      document.cookie = "gah_mc=accept;max-age=31536000";
    },
    show() {
      this.visible = true;
    }
  },
  mounted: function() {
    setTimeout(() => {
      if (!this.getCookie()) {
        this.setCookie();
        this.insertMailChimpForm();
        this.show();
      }
    }, 8000);
  },
  props: []
};
</script>
<style>
@media (min-width: 400px) {
  .modal {
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
    display: flex;
    font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
    height: 100vh;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }
  .modal .asterisk {
    color: red;
  }
  .modal .close {
    border: 0;
    float: right;
    font-size: 1em;
  }
  .modal > div {
    background: white;
    color: black;
    max-width: 800px;
    padding: 1em;
    width: 67%;
  }

  .modal .mc_embed_signup {
    margin: auto;
    max-width: 600px;
  }

  .modal .mc-field-group {
    margin: 1em auto;
  }

  .modal label {
    display: block;
    margin: auto;
    width: 600px;
  }
  .modal input {
    display: block;
    margin: auto;
    width: 600px;
  }

  .modal .button {
    color: white;
    font-size: 1em;
    margin: 1em auto;
    padding: 0.5em 1em;
    width: 600px;
  }
}
</style>