<template>
  <ul :class="classNames">
    <li>
      <a
        href="https://itunes.apple.com/us/podcast/golden-age-horror-classic-horror-movie-podcast-reviews/id931411674?mt=2"
      >
        <img src="~/static/itunes.svg" alt="Apple Podcasts" />
      </a>
    </li>
    <li>
      <a
        href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&amp;isi=691797987&amp;ius=googleplaymusic&amp;link=https://play.google.com/music/m/Ibcdygvbcvfjxsv2i22oibb5aya?tGolden_Age_Horror_Classic_Horror_Movie_Podcast_Reviews_and_Discussion_(GoldenAgeHorror.com)pcampaignidMKT-na-all-co-pr-mu-pod-16"
      >
        <img src="~/static/google.svg" alt="Google Play" />
      </a>
    </li>
    <li>
      <a href="https://open.spotify.com/show/3oQkUgkjidiyogU3qyJ2T5">
        <img class="spotify" src="~/static/spotify.png" alt="Spotify" />
      </a>
    </li>
    <li>
      <a
        href="https://www.stitcher.com/podcast/twilit-grotto/the-goldenagehorrorcom-podcast?refid=stpr"
      >
        <img src="~/static/stitcher.png" alt="Stitcher" />
      </a>
    </li>
  </ul>
</template>
<script>
export default {
  props: ["classNames"]
};
</script>
<style scoped>
ul {
  padding: 0;
}
ul li a img {
  max-height: 40px;
}

.single .spotify {
  filter: invert(100%);
}

@media (max-width: 975px) {
  ul.choices.revealed {
    background: #453a94;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    left: 0;
    margin: 0;
    max-height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
  }
}
</style>
