<template>
  <article class="post">
    <header class="post-header" v-if="audio">
      <h1 class="post-title" v-html="post.title.rendered"></h1>
      <audio v-if="audio" preload="none" controls :src="audio">
        <source type="audio/mpeg" :src="audio" />
        <a :href="audio">{{ audio }}</a>
      </audio>
      <ul class="post-meta">
        <li class="date">{{ date }}</li>
        <li class="length">{{ duration }}</li>
        <li class="download-link">
          <a :href="audio">Download Episode</a>
        </li>
      </ul>
    </header>

    <header class="post-header" v-if="!audio">
      <h1 class="post-title" v-html="post.title.rendered"></h1>
    </header>

    <div class="patreon-banner" v-if="patreon">
      <span>Listen on</span> <a :href="patreon" target="_blank" rel="noreferrer"><img src="~/static/patreon.png" alt="patreon"/></a>
    </div>

    <div
      class="post-content"
      v-html="post.content.rendered.replace('http', 'https')"
    ></div>

    <Modal v-if="showModal" />
  </article>
</template>
<script>
// we have to use require for this
const entities = require('entities');

import { getText } from "../assets/getText";
import Modal from "./modal";

export default {
  head() {
    return {
      title: `${entities.decodeHTML(this.post.title.rendered)} - The GoldenAgeHorror.com Podcast`,
      meta: [
        {
          property: "og:title",
          content: `${entities.decodeHTML(this.post.title.rendered)} - GoldenAgeHorror.com`
        },
        {
          property: "og:image",
          content: `${this.post["post-thumbnail"]}`
        },
        {
          property: "og:description",
          content: getText(this.post.excerpt.rendered)
        },
        {
          property: "og:url",
          content: `https://www.goldenagehorror.com/${this.post.slug}`
        }
      ],
      link: [
        {
          rel: "canonical",
          href: `https://www.goldenagehorror.com/${this.post.slug}`
        }
      ]
    };
  },
  components: {
    Modal
  },
  computed: {
    audio() {
      if (this.post["episode-data"]) {
        return this.post["episode-data"].url;
      }
      return false;
    },
    patreon() {
      if( !this.post['post-meta-fields']) {
        return false;
      }

      if( !this.post['post-meta-fields']['patreon_link'] ) {
        return false;
      }

      if( this.post['post-meta-fields']['patreon_link'][0] ) {
        return this.post['post-meta-fields']['patreon_link'][0];
      }

      return false;
    },
    choices() {
      return `single choices revealed`;
    },
    date() {
      if (this.post.date) {
        const date = new Date(this.post.date);
        const month = this.months[date.getMonth()];
        const day = date.getDate();
        const year = date.getFullYear();
        return `${month} ${day}, ${year}`;
      }
      return false;
    },
    duration() {
      if (this.post["episode-data"]) {
        return this.post["episode-data"].duration;
      }
      return false;
    }
  },
  data() {
    return {
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      showModal: false,
      showSubscribe: false
    };
  },

  methods: {
    toggleSubscribe() {
      if (this.showSubscribe) {
        this.showSubscribe = false;
        return;
      }

      this.showSubscribe = true;
    }
  },
  mounted: function() {
    setTimeout(() => {
      this.showModal = true;
    }, 5000);
  },
  props: ["post"]
};
</script>
<style scoped>
article {
  margin: auto;
  max-width: 680px;
}
audio {
  width: 100%;
}

.post-meta {
  background: rgba(202, 202, 202, 0.21);
  display: flex;
  font-size: 18px;
  gap: 1em;
  list-style: none;
  justify-content: space-between;
  padding: 6px;
}

.post-meta li {
  display: inline;
}

@media (max-width: 975px) {
  h1 {
    font-size: 6vw;
    text-align: center;
  }
  .post-content {
    margin: 0 10px;
  }
}
</style>
