<template>
  <footer id="colophon" class="site-footer" role="contentinfo">
    <aside>
      <p>
        We’d like to start taking listener questions and comments on the show – if you have a message, you can leave a message for us by calling (508) 817-3408, or you can email me at
        <a
          href="mailto:matt@goldenagehorror.com"
        >matt@goldenagehorror.com</a>.
      </p>
      <div class="subscription-options">
        <h2>Subscribe today:</h2>
        <PodcastSubscribe classNames="choices single" />
        <div>
          <h3>But our emails?</h3>
          <p>Andrew handcrafts email newsletters every month.</p>
          <a
            class="button one-of-us bg-black color-white blue-hover"
            href="http://eepurl.com/8oOKT"
          >ONE OF US</a>
        </div>
      </div>
    </aside>
    <div class="widgets subfooter" role="complementary">
      <section id="text-10" class="widget">
        <h2 class="widget-title">About Andrew</h2>
        <div class="textwidget">
          <p>
            Sometimes Andrew
            <a href="https://pizzapranks.itch.io">makes games</a>, sometimes he plays them.
          </p>
          <p>
            <a href="https://www.twitter.com/pizzapranks">Andrew on Twitter</a>
          </p>
          <p>
            <a href="http://www.pizzapranks.com">Andrew’s Website</a>
          </p>
        </div>
      </section>
      <section id="text-19" class="widget flex-item">
        <h2 class="widget-title">About Matt</h2>
        <div class="textwidget">
          <p>Matt is a web developer and writer. He loves both horror movies and podcasts.</p>
          <p>
            <a href="http://www.twitter.com/thewatermethod">Matt on Twitter</a>
          </p>
          <p>
            <a href="https://www.whalingcityweb.com">Matt can help you with your website.</a>
          </p>
        </div>
      </section>
    </div>
    <div class="widgets footer" role="complementary">
      <section id="text-20" class="widget flex-item">
        <h3 class="widget-title">Other Projects</h3>
        <div class="textwidget">
          <p>
            Andrew creates a monthly indie video and pen and paper collection - 
            <a
              href="http://www.indiepocalypse.com"
            >indiepocalypse</a>.
          </p>
          <p>
            If you like tabletop gaming, you should check out Andrew and Matt’s other podcast, the
            <a
              href="https://actualplay.network"
            >ActualPlay.Network</a> podcast.
          </p>
        </div>
      </section>
    </div>
    <div class="site-info">    
      Made with love by <a href="http://www.whalingcityweb.com">Whaling City Web</a>
    </div>
  </footer>
</template>
<script>
import PodcastSubscribe from "./podcastsubscribe";
export default {
  components: {
    PodcastSubscribe
  }
};
</script>
<style>
.one-of-us {
  margin-bottom: 1em;
}
.site-footer aside {
  margin: auto;
  max-width: 680px;
}

.subscription-options h2 {
  font-family: "Staatliches", cursive;
}

.subscription-options ul {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  list-style: none;
  padding: 6px;
}
.subfooter section {
  background: var(--complementary);
  color: white;
  padding: 1em;
  text-align: center;
}
.subfooter section a {
  color: #fefefe;
}

.footer section {
  padding: 1em;
  text-align: center;
}

.site-info {
  background: #333;
  color: white;
  text-align: center;
}
.site-info a {
  color: lightblue;
}
@media (max-width: 975px) {
  .site-footer aside {
    margin: 0 10px;
  }
  .subscription-options ul {
    flex-direction: column;
  }
}
</style>