<template>
  <div>
    <p>
      <button
        :class="buttonClass"
        style="font-family: 'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;"
        @click="showSubscribe"
      >{{buttonMessage}}</button>
    </p>

    <PodcastSubscribe :classNames="choices" />

    <p>
      <nuxt-link class="color-white" to="/new-listeners/">New Listener? -- Start here</nuxt-link>
    </p>
  </div>
</template>
<script>
import PodcastSubscribe from "./podcastsubscribe";
export default {
  components: { PodcastSubscribe },
  data() {
    return {
      review: "",
      reviews: [
        "Worst podcast still on",
        "Wasted potential",
        "Don't waste your time"
      ],
      show: false
    };
  },
  computed: {
    buttonClass() {
      return `button bg-btn blue-hover ${this.show}`;
    },
    buttonMessage() {
      if (this.show && window.innerWidth < 976) {
        return `Home`;
      }

      return `Subscribe to our podcast`;
    },

    choices() {
      if (this.show) {
        return `choices revealed`;
      }
      return "choices";
    }
  },
  mounted() {
    this.review = this.reviews[Math.floor(Math.random() * 2)];
  },
  methods: {
    showSubscribe() {
      if (this.show) {
        this.show = false;
      } else {
        this.show = true;
      }
    }
  }
};
</script>
<style scoped>
.choices {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-height: 0;
  max-width: 1200px;
  overflow: hidden;
  transition: max-height 1s;
}

.choices.revealed {
  max-height: 100px;
}

.choices a {
  flex: 1;
}
img {
  min-height: 100px;
}
a.button {
  margin: 1em auto;
}
ul {
  list-style: none;
}
ul li {
  text-align: left;
}
ul li a {
  border-bottom: 2px solid #ef3b49;
  color: white;
  text-decoration: none;
}

ul li a:hover {
  border-bottom: 2px solid blue;
}
@media (max-width: 975px) {
  .choices,
  .choices-message {
    display: none;
  }

  button.true {
    background: #453a94;
    display: flex;
    bottom: 0;
    border-radius: 0;
    font-size: 18px;
    justify-content: center;
    position: fixed;
    text-align: center;
    text-decoration: underline;
    width: 100%;
    z-index: 4;
  }
}
</style>

