<template>
  <div>
    <Category :tax="tax" />
  </div>
</template>

<script>

import Category from "../../components/category.vue";

export default {
  components: {
    Category
  },

  data() {
    return {
      tax: {"id":190,"count":10,"description":"","link":"https://api.twilitgrotto.com/goldenagehorror/category/folk-horror/","name":"Folk Horror","slug":"folk-horror","taxonomy":"category","parent":0,"meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories/190"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/taxonomies/category"}],"wp:post_type":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts?categories=190"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
    };
  },

};
</script>