/**
 * TYPOGRAPHY
**/

@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro|Staatliches");
/**
* vars 
**/

:root {
  --breakpoint: 975px;
  --complementary: #06ae91;
}

html {
  font-family: "Source Serif Pro", Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  overflow-x: hidden;
}

body {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body * {
  max-width: 100%;
}

.staatliches {
  font-family: "Staatliches", Arial, Helvetica, sans-serif;
}

.centered {
  text-align: center;
}

/**
 * Colors
**/

.bg-btn {
  background: #38f9d7;
  color: black;
}

.bg-black {
  background: black;
}

.color-white {
  color: white;
}
.color-orange {
  color: lightcoral;
}

.gradient {
  background-image: linear-gradient(
    to bottom,
    #43e97b 0%,
    #43e97b 50%,
    #38f9d7 100%
  );
}

.blue-hover:hover {
  background-image: radial-gradient(
    circle 248px at center,
    #16d9e3 0,
    #30c7ec 47%,
    #46aef7 100%
  );
}

/**
* Position and layout
**/

.flex {
  display: flex;
}

.flex-item {
  flex: 1;
}

.flex.align-end {
  align-items: flex-end;
}

.sticky {
  left: 0;
  position: sticky;
  top: 0;
}

.full-width {
  min-width: 100vw;
}

.full-height {
  min-height: calc(100vh - 125px);
}

.half-height {
  min-height: 50%;
}

/* Component */

.card {
  padding: 1em;
  margin: 1em auto;
}

.button {
  display: inline-block;
  font-size: 1.25rem;
  outline: 0;
  padding: 1rem 2.5rem;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

figure.aligncenter {
  text-align: center;
}

figure figcaption {
  font-size: 14px;
}

.post-content img {
  height: auto;
}

.patreon-banner {
  display: grid;
  place-items: center;
}

.patreon-banner img {
  transition: filter 1s ease;
}

.patreon-banner:hover img {
  filter: hue-rotate(50deg);
}
