<template>
  <div>
    <Header />
    <div class="site-content">
      <nuxt />
    </div>
    <Sitefooter />
    <MenuToggle />
  </div>
</template>

<script>
import Header from "../components/header.vue";
import Sitefooter from "../components/sitefooter.vue";
import MenuToggle from "../components/menutoggle";

export default {
  components: { Header, Sitefooter, MenuToggle },
  methods: {}
};
</script>

<style lang="scss" scoped>
</style>
