<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":42,"date":"2014-09-14T00:31:07","date_gmt":"2014-09-14T00:31:07","guid":{"rendered":"http://goldenagehorror.com/?p=42"},"modified":"2014-09-14T00:31:07","modified_gmt":"2014-09-14T00:31:07","slug":"5-moments-true-terror-1930s-horror-movies","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/09/14/5-moments-true-terror-1930s-horror-movies/","title":{"rendered":"The 5 Moments of True Terror from 1930&#8217;s Horror Movies"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-44\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/Invisible-Man-SFX-1024x819.jpg\" alt=\"Invisible Man Golden Age Horror We Belong Dead\" width=\"676\" height=\"540\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Invisible-Man-SFX-1024x819.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Invisible-Man-SFX-300x240.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Invisible-Man-SFX-768x614.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Invisible-Man-SFX.jpg 1280w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>There are obviously many moments of horror in the the Gothic and Expressionist films of the 1930&#8217;s. Nearly every film contains that apotheosis moment where the melodrama and Weirdness of the plot create an over the top scene of terror &#8211; but in many of these films, it tends to be more &#8220;thrilling&#8221; than horrifying.</p>\n<p>The moments on this list are more subtle, universal moments of horror. Obviously, this is a subjective idea, but I think most would agree with my selections. <strong>Obviously, spoilers abound.</strong></p>\n<p><!--more--></p>\n<h3>The Island of Lost Souls</h3>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-45\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/Island-of-Lost-Souls-Golden-Age-Horror-We-Belong-Dead-1024x683.jpg\" alt=\"Island of Lost Souls Golden Age Horror We Belong Dead\" width=\"676\" height=\"450\" /></p>\n<p>A central conflict in THE ISLAND OF LOST SOULS is the struggle of Lota, a panther that the mad Doctor Moreau vivisected to become a woman. She falls in love with Parker, the protagonist of the film, but her panther nature causes his to reject her in piteous disgust. Moreau, whose House of Pain hangs over the whole film, rages until he catches her crying over lost love. Charles Laughton as Doctor Moreau is a true madman &#8211; he drags her off to his charnel torture house, planning to &#8220;burn the rest of the animal out of her.&#8221;</p>\n<h3>The Black Cat</h3>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-46\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/lugosi-karloff.jpg\" alt=\"lugosi karloff the black cat golden age horror we belong dead\" width=\"320\" height=\"216\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/lugosi-karloff.jpg 320w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/lugosi-karloff-300x203.jpg 300w\" sizes=\"(max-width: 320px) 100vw, 320px\" /></p>\n<p>THE BLACK CAT was one of the films I watched for this project that surprised me the most &#8211; I hadn&#8217;t seen it, and I hadn&#8217;t realized beforehand would be one of my favorites from the period. It is a dark, hellish piece of expressionism, Boris Karloff acts his head off, Lugosi manages to draw some sympathy, I could probably go on all day.</p>\n<p>The plot is fairly twisted and complicated, but one of the major points has Vitus Werdegast (Bela Lugosi) blaming mad satanic architect Hjalmar Poelzig for the death of his wife and daughter. The moment of true horror? Werdegast&#8217;s daughter is alive, and has been seduced by Poelzig &#8211; who also seduced Werdegast&#8217;s wife and keeps her embalmed body in a glass case in his basement.</p>\n<p>I won&#8217;t even get into the flaying that takes place later&#8230;</p>\n<h3>Freaks</h3>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-47\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/Freaks.png\" alt=\"Freaks Golden Age Horror We Belong Dead\" width=\"576\" height=\"432\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Freaks.png 576w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Freaks-300x225.png 300w\" sizes=\"(max-width: 576px) 100vw, 576px\" /></p>\n<p>FREAKS is horrifying in a chilling, weirdly everyday way. The most horrifying moment of the film( in my opinion, obviously) is the &#8220;reveal&#8221; in the very beginning that the beautiful tightrope walker has some ended up a grotesque in a cage. The specifics of her fate are not revealed until the end, but it is the movie long march to that moment at the end where her mutilations are revealed that turns the stomach.</p>\n<h3>The Raven</h3>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-48\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/vlcsnap-2547830.png\" alt=\"The Raven Karloff Lugosi Golden Age Horror We Belong Dead\" width=\"640\" height=\"480\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/vlcsnap-2547830.png 640w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/vlcsnap-2547830-300x225.png 300w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></p>\n<p>Karloff and Lugosi team up again in THE RAVEN which, quite frankly, is not the film that THE BLACK CAT is. However, it does have a very chilling sequence involving both men. Karloff is a killer on the run. Lugosi agrees to give him a new face to help him evade capture. The two have a conversation beforehand where Karloff asks for a handsome, &#8220;good&#8221; face, saying that he believes the ugliness of the face he was born with is responsible for the ugliness of his life and actions.</p>\n<p>Unfortunately for Karloff, Lugosi has need of a monster, and that is what he creates. The moment where the bandages are removed, and Karloff gropes about for a mirror, smiling in childlike glee at the idea that he will finally look good, while we in the audience are treated to his new, horrifying face, that is a moment of truly heartbreaking horror.</p>\n<h3>Son of Frankenstein</h3>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-50\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/atwill-rathbone-son-of-frankenstein.jpg\" alt=\"Son of Frankenstein Golden Age Horror  We Belong Dead\" width=\"500\" height=\"374\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/atwill-rathbone-son-of-frankenstein.jpg 500w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/atwill-rathbone-son-of-frankenstein-300x224.jpg 300w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></p>\n<p>I am definitely of two minds about SON OF FRANKENSTEIN, but it is certainly an interesting and memorable picture. As the parent of a young child, the moment of true horror came during a discussion between the one armed Inspector Krogh, played by Lionel Atwill, and Baron Wolf Frankenstein, played by Basil Rathbone. Krogh reveals the monster tore his arm off &#8220;at the roots&#8221; when he was but a child. Frankenstein, who has just reanimated the monster secretly, listens nervously.</p>\n<p>The Barons young son enters a moment later and describes what Frankenstein and Krogh know to be a visitation by the monster. When the boy innocently reveals that the Monster had grabbed him by the arm, Krogh&#8217;s living hand grips his dead arm and the Baron pales visibly at the implication.</p>\n<h4>Honorable Mention: The entire film M</h4>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-52\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/M_poster.jpg\" alt=\"M_poster\" width=\"300\" height=\"457\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/M_poster.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/M_poster-197x300.jpg 197w\" sizes=\"(max-width: 300px) 100vw, 300px\" /></p>\n<p>Peter Lorre prowling the streets of Berlin is horrifying. Just completely horrifying.</p>\n<p>What do you say? Do you have a moment of true horror to share from the films of the 1930&#8217;s?</p>\n","protected":false},"excerpt":{"rendered":"<p>There are obviously many moments of horror in the the Gothic and Expressionist films of the 1930&#8217;s. Nearly every film contains that apotheosis moment where the melodrama and Weirdness of the plot create an over the top scene of terror &#8211; but in many of these films, it tends to be more &#8220;thrilling&#8221; than horrifying. [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557908184;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:235;}i:1;a:1:{s:2:\"id\";i:248;}i:2;a:1:{s:2:\"id\";i:123;}}}}"],"_wpghs_github_path":["_posts/2014-09-14-5-moments-true-terror-1930s-horror-movies.md"],"_sha":["bf93b57f5e62f251bc9b10fef2f8e9f9bf9908bf"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/09/Invisible-Man-SFX-1024x819.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/42"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=42"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/42/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=42"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=42"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=42"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>