<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":67,"date":"2014-09-23T20:02:03","date_gmt":"2014-09-24T00:02:03","guid":{"rendered":"http://goldenagehorror.com/?page_id=67"},"modified":"2014-09-23T20:02:03","modified_gmt":"2014-09-24T00:02:03","slug":"author","status":"publish","type":"page","link":"https://api.twilitgrotto.com/goldenagehorror/author/","title":{"rendered":"About the Contributors"},"content":{"rendered":"<p>hr{ width: 100%; clear: both; }</p>\n<div style=\"width: 100%;clear: both\">\n<p><div id=\"attachment_69\" style=\"width: 373px\" class=\"wp-caption alignleft\"><img aria-describedby=\"caption-attachment-69\" loading=\"lazy\" class=\"wp-image-69 size-full\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/pierrot.jpgBlog.jpg\" alt=\"Pierrot by Aubrey Beardsley\" width=\"363\" height=\"500\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/pierrot.jpgBlog.jpg 363w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/pierrot.jpgBlog-218x300.jpg 218w\" sizes=\"(max-width: 363px) 100vw, 363px\" /><p id=\"caption-attachment-69\" class=\"wp-caption-text\">Pierrot by Aubrey Beardsley</p></div></p>\n<p style=\"text-align: left\">I, <a href=\"mailto:matt@twilitgrotto.com\">Matt Bevilacqua</a> am a web developer and writer from Cape Cod, Massachusetts. I have always loved horror movies, especially movies drawn from the Gothic and Victorian eras. You may have read my previous novel <em>I HAVE STABBED THE WORLD IN ITS HEART</em>, which is currently unavailable, but will hopefully be available for free download again soon.</p>\n<p style=\"text-align: left\">You may find me on twitter <a href=\"http://www.twitter.com/thewatermethod\">@thewatermethod</a> or on <a href=\"http://thewatermethod.tumblr.com\">tumblr</a> at the same.</p>\n<p>&nbsp;</p>\n</div>\n<hr />\n<div style=\"width: 100%;clear: both\"><img loading=\"lazy\" class=\"wp-image-68 size-medium alignleft\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/whatever_man_by_kiwimonsta-d55w95k-189x300.jpg\" alt=\"whatever_man_by_kiwimonsta-d55w95k\" width=\"189\" height=\"300\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/whatever_man_by_kiwimonsta-d55w95k-189x300.jpg 189w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/whatever_man_by_kiwimonsta-d55w95k-768x1217.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/whatever_man_by_kiwimonsta-d55w95k-646x1024.jpg 646w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/whatever_man_by_kiwimonsta-d55w95k.jpg 900w\" sizes=\"(max-width: 189px) 100vw, 189px\" /></p>\n<p style=\"text-align: left\">The book is illustrated by choke fiend and brony extraordinaire <a href=\"https://twitter.com/kiwimonsta\">Gino Vasconcelos</a>.</p>\n<p style=\"text-align: left\">His twitter is <a href=\"http://www.twitter.com/KiwiMonsta\">@KiwiMonsta</a>.</p>\n</div>\n<hr />\n<div style=\"width: 100%;clear: both\"><a href=\"http://goldenagehorror.com/wp-content/uploads/2014/09/1365992462950.png\"><img loading=\"lazy\" class=\" size-medium wp-image-390 alignleft\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/1365992462950-150x300.png\" alt=\"andrew baillie\" width=\"150\" height=\"300\" /></a></p>\n<p style=\"text-align: left\">Andrew Baillie contributes to the podcast. He&#8217;s been a real sport about watching movies with Una O&#8217;Connor in them. He makes games at <a href=\"http://www.pizzapranks.com\">Pizza Pranks</a>.</p>\n</div>\n","protected":false},"excerpt":{"rendered":"<p>hr{ width: 100%; clear: both; } I, Matt Bevilacqua am a web developer and writer from Cape Cod, Massachusetts. I have always loved horror movies, especially movies drawn from the Gothic and Victorian eras. You may have read my previous novel I HAVE STABBED THE WORLD IN ITS HEART, which is currently unavailable, but will hopefully be available [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"parent":0,"menu_order":0,"comment_status":"open","ping_status":"open","template":"","meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages/67"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/page"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=67"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages/67/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=67"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>