<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":139,"date":"2014-10-22T22:54:37","date_gmt":"2014-10-23T02:54:37","guid":{"rendered":"http://goldenagehorror.com/?p=139"},"modified":"2014-10-22T22:54:37","modified_gmt":"2014-10-23T02:54:37","slug":"bela-lugosi","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/22/bela-lugosi/","title":{"rendered":"Bela Lugosi"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-146\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/Annex-Lugosi-Bela_02-796x1024.jpg\" alt=\"Annex - Lugosi, Bela_02\" width=\"676\" height=\"869\" /></p>\n<p>Bela Lugosi, a Hungarian immigrant born Béla Ferenc Dezső Blaskó, is certainly most famous for playing the role of Dracula in 1931. The film defined not only his career but increasingly, defined his life.</p>\n<p><!--more--></p>\n<p>Lugosi&#8217;s acting style is heavily dependent on his personal mannerisms and charisma. Confined to monster movies for basically his entire Hollywood career, he used his flashing eyes, exotic hand movements and strange accent to lend his roles a unique and compelling aspect.</p>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-140\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/bela-gif.gif\" alt=\"bela lugosi golden age horror\" width=\"500\" height=\"369\" /></p>\n<p>His performances are also strongly informed by his stage career &#8211; his performances defy the naturalism that peeked into performances by his contemporaries, <a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a> and <a title=\"Mad Love (1935)\" href=\"http://goldenagehorror.com/mad-love-1935/\">Peter Lorre</a>. Instead, he rests firmly in the &#8220;over-the-top&#8221; category.</p>\n<p>It was Dracula that propelled him to stardom, and his performance there is one of the greatest Dracula performances of all time &#8211; if not the greatest, it is definitely the most iconic and quotable vampire movie ever made. The actual film Dracula suffers from poor pacing and performances, but Lugosi is in top form throughout and carries the movie almost entirely on his own (with some help from Dwight Frye).</p>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-141\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/bela-jesus.png\" alt=\"bela jesus\" width=\"500\" height=\"652\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/bela-jesus.png 500w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/bela-jesus-230x300.png 230w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></p>\n<p>That should&#8217;t be regarded as an insult &#8211; Lugosi, in many of the movies he was in, was by far the most interesting performer to watch. Notable exceptions include the films he made with Boris Karloff &#8211; starting with genre classic <a title=\"The Black Cat (1934)\" href=\"http://goldenagehorror.com/black-cat-1934/\">The Black Cat</a>, they made 8 movies together, of varying quality, but always interesting to watch given the talent of the lead performers.</p>\n<p>Further viewing: The Tim Burton film Ed Wood features Martin Landau playing Bela Lugosi, a performance for which Landau won an Oscar. It is a terrific film, although many say it plays fast and loose with the facts of Lugosi&#8217;s life. It is also an ironic shame that Lugosi went without the respect that Landau earned for playing Bela. However, Ed Wood is almost certainly intended as a homage and celebration of Lugosi, despite any problematic elements.</p>\n<p>I&#8217;ve also embedded a short but informative video on Lugosi from biography.com.</p>\n<h3>Movies to watch</h3>\n<p>Dracula, White Zombie, The Island of Lost Souls, The Black Cat</p>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-142\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/children-gif.gif\" alt=\"children gif\" width=\"430\" height=\"261\" /></p>\n<h3>Movies to avoid</h3>\n<p>The Ed Wood films (sorry, I know people like them, but they are bad), Murders in the Rue Morgue. Most things he was in past say, 1945, are fairly forgettable. Unlike Karloff, Lugosi did not maintain stardom and slipped further and further down the ladder of success, although he always remained an interesting and exciting performer.</p>\n","protected":false},"excerpt":{"rendered":"<p>Bela Lugosi, a Hungarian immigrant born Béla Ferenc Dezső Blaskó, is certainly most famous for playing the role of Dracula in 1931. The film defined not only his career but increasingly, defined his life.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592519;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:61;}i:1;a:1:{s:2:\"id\";i:223;}i:2;a:1:{s:2:\"id\";i:376;}i:3;a:1:{s:2:\"id\";i:105;}i:4;a:1:{s:2:\"id\";i:266;}i:5;a:1:{s:2:\"id\";i:165;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667509817"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-10-22-bela-lugosi.md"],"_sha":["3e7836d9eb837f8567f84ea624b698855ec33203"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/10/Annex-Lugosi-Bela_02-796x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/139"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=139"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/139/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=139"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=139"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=139"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>