<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":105,"date":"2014-10-10T21:25:59","date_gmt":"2014-10-11T01:25:59","guid":{"rendered":"http://goldenagehorror.com/?p=105"},"modified":"2020-02-13T15:05:10","modified_gmt":"2020-02-13T15:05:10","slug":"black-cat-1934","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/10/black-cat-1934/","title":{"rendered":"The Black Cat (1934)"},"content":{"rendered":"<p><em>The Black Cat</em> is pretty much one of my personal favorite horror movies of all time. It was notable at the time of its release for featuring the two most famous horror stars working at the time, Bela Lugosi and <a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a>. The film&#8217;s director, Edgar G Ulmer, is famous mainly for this film, and it&#8217;s easy to see why. The style and Weirdness of the film are undeniable.</p>\n<p><!--more--></p>\n<p><em>The Black Cat</em> is ostensibly based on <a href=\"http://poestories.com/read/blackcat\">the Edgar Allan Poe story</a> of the same name. In reality, of course, it bears little resemblance. The movie is not interesting as a wild Poe interpretation, though. It is much more interesting as a film that I think is incredible forward looking.</p>\n<p><iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/fWRN2OUfg0o?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe></p>\n<h3>The Story of <em>the Black Cat</em></h3>\n<p>In The<em> Black Cat</em>, the villain is modernist architect Hjalmar Poelzig, played by Boris Karloff with typical incredibly subtle menace. Bela Lugosi gets to make a rare turn as a hero, playing former POW Dr. Vitus Werdegast.</p>\n<p>David Manners and Julie Bishop play an American couple who somehow get wrapped in their terrible vendetta &#8211; although they are supposed to add stakes to the film, in  reality, they do little but get in the way of the titanic clash between Lugosi and Karloff.</p>\n<p>The film&#8217;s sets recall the uncanny expressionism of earlier cinema, but the brutality of Karloff&#8217;s satanic Poelzig and the tragic if over the top performance that Lugosi lends to Werdegast do look forward to the noir films of the 1940&#8217;s and the Hammer horror films of the 1960&#8217;s.</p>\n<p>The film has a rolling, menacing score which is far more pervasive than most films of the time &#8211; compare it to the weirdly silent Dracula. Although continuous scores were very rare in 1934, it is used to great effect here.</p>\n<p>I covered the book at greater length in <a href=\"http://www.amazon.com/gp/product/B00O1IVMGS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00O1IVMGS&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=P42PBEUZB6QJXARU\">my ebook</a>, but for the record, this was one of the few movies I watched for this project that I hadn&#8217;t seen before, and I was completely blown away.</p>\n<h3><em>The Black Cat</em> is a Symbolist Masterpiece</h3>\n<p>I think it is beyond the purview of a blog about horror movies to explain<a href=\"http://en.wikipedia.org/wiki/Symbolism_(arts)\"> the symbolist movement</a> in art and poetry, but I personally think that the movement, which was inspired by Edgar Allan Poe, had an enormous effect on horror films throughout the century, and <em>The Black Cat</em> represents a sort of culmination of the movement.</p>\n<p>The symbolists existed as a reaction to realism, and idealism, in art. Instead, they wished to create a heightened experience, unfettered by reality. They were inspired by nightmares and by subjects like sexuality and the occult.</p>\n<p>From beginning to end, <em>The Black Cat</em> exists in a place untouched by reality. Instead, the film is defined by brief, potent symbols &#8211; the chess game, the Black Mass, the preserved corpse floating in a tube, and of course, the undying black cat that shadows Poelzig the whole time. The film&#8217;s extreme thematics also call back to the symbolist movement &#8211;  necrophilia, flaying, incest, animal torture, human sacrifice &#8211; while presented in an entirely &#8220;1930&#8217;s&#8221; way, they <b>are</b> there.</p>\n<p>I think the only way to watch the Black Cat is to <a href=\"http://www.amazon.com/gp/product/B0009X770E/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B0009X770E&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=DVZLGOSRW66XLLII\">is to buy the Bela Lugosi collection on Amazon</a>. Unless of course, you can track it down somewhere else on the internet.</p>\n<p>Let me know what you think about the Black Cat in the comments or on <a href=\"https://www.facebook.com/AllGodlessHere\">Facebook</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>The Black Cat is pretty much one of my personal favorite horror movies of all time. It was notable at the time of its release for featuring the two most famous horror stars working at the time, Bela Lugosi and Boris Karloff. The film&#8217;s director, Edgar G Ulmer, is famous mainly for this film, and [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[13,23,29,153],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_wpas_mess":["The Black Cat (1934)"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_focuskw":["the black cat"],"_yoast_wpseo_linkdex":["81"],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592521;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:139;}i:1;a:1:{s:2:\"id\";i:171;}i:2;a:1:{s:2:\"id\";i:61;}i:3;a:1:{s:2:\"id\";i:42;}i:4;a:1:{s:2:\"id\";i:177;}i:5;a:1:{s:2:\"id\";i:379;}}}}"],"dsq_thread_id":["5707687559"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpghs_github_path":["_posts/2014-10-10-black-cat-1934.md"],"_sha":["573be44ce5dab451a5e5dfe6609b09f56869ff30"],"_oembed_ed93c34fc27402468e2e8cd338ccd4d8":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/fWRN2OUfg0o?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_ed93c34fc27402468e2e8cd338ccd4d8":["1498697636"],"_oembed_6a68ac6d6cc60d6421864ba887a06015":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/fWRN2OUfg0o?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_6a68ac6d6cc60d6421864ba887a06015":["1558442095"],"_edit_lock":["1581606310:1"],"_oembed_12896b701e446595611fb39f015267bf":["<iframe title=\"The Phone is Dead (The Black Cat 1934)\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/fWRN2OUfg0o?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_12896b701e446595611fb39f015267bf":["1581606247"]},"episode-data":false,"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/105"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=105"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/105/revisions"}],"predecessor-version":[{"id":836,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/105/revisions/836"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=105"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=105"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=105"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>