<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":814,"date":"2019-11-01T15:02:21","date_gmt":"2019-11-01T15:02:21","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=814"},"modified":"2019-11-08T18:30:17","modified_gmt":"2019-11-08T18:30:17","slug":"bonus-episode-a-survey-of-folk-horror","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/11/01/bonus-episode-a-survey-of-folk-horror/","title":{"rendered":"BONUS Episode &#8211; A Survey of Folk Horror"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"768\" height=\"977\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/11/Wickerman.jpg\" alt=\"\" class=\"wp-image-815\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/11/Wickerman.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/11/Wickerman-236x300.jpg 236w\" sizes=\"(max-width: 768px) 100vw, 768px\" /></figure>\n\n\n\n<p>Matt presents, as a Halloween treat, 10 minutes of explanation and recommendations about the folk horror subgenre.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Mentioned on the Show</h2>\n\n\n\n<ul><li><a href=\"https://goldenagehorror.com/episode-33-witchfinder-generalthe-conqueror-worm/\">The Witchfinder General</a></li><li><a href=\"https://goldenagehorror.com/episode-24-the-wicker-man-1973/\">The Wicker Man&nbsp;</a></li><li>Blood on Satan&#8217;s Claw&nbsp;</li><li><a href=\"https://goldenagehorror.com/episode-47-kwaidan-1964/\">Kwaidan&nbsp;</a></li><li><a href=\"https://goldenagehorror.com/episode-42-kuroneko-1968/\">Kuroneko</a>&nbsp;</li><li><a href=\"https://goldenagehorror.com/episode-44-onibaba-1964/\">Onibaba</a></li><li>Lair of the White Worm</li><li>The Devils</li><li>The Witch</li><li>A Field in England</li><li>Midsommar</li><li>The Golden Bough</li><li>Children of the Corn</li><li>Halloween III</li></ul>\n\n\n\n<h2>Audio Sources</h2>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Folk Horror clip from Mark Gatiss&#039; History of Horror (ep 2)\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/4IGWmm4iFAc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div><figcaption><br></figcaption></figure>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"The Wicker Man (1973) The Final Cut - HD Trailer [1080p]\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/xatrlxv3Vr8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Halloween III: Season of the Witch (10/10) Movie CLIP - Get It Off the Air! (1982) HD\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/goKRpR4XNg8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>We&#8217;d like to start taking listener questions and comments on the show &#8211; if you have a message, you can leave a message for us by calling <a href=\"tel:5088173408\">(508) 817-3408</a>, or you can email me at <a href=\"mailto:matt@goldenagehorror.com\">matt@goldenagehorror.com</a>.</p>\n\n\n\n<h2>Contact Matt:</h2>\n","protected":false},"excerpt":{"rendered":"<p>Matt presents, as a Halloween treat, 10 minutes of explanation and recommendations about the folk horror subgenre.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,190,7],"tags":[],"post-meta-fields":{"_edit_lock":["1573237817:1"],"_oembed_14757037a4b50b7045ba1067dcf54357":["<iframe title=\"Folk Horror clip from Mark Gatiss&#039; History of Horror (ep 2)\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/4IGWmm4iFAc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_14757037a4b50b7045ba1067dcf54357":["1572620542"],"_oembed_094445e75ea920c5766db09a2c717a6f":["<iframe title=\"The Wicker Man (1973) The Final Cut - HD Trailer [1080p]\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/xatrlxv3Vr8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_094445e75ea920c5766db09a2c717a6f":["1572620542"],"_oembed_f1bc7cfe55958ccb573f0c36fc7ef0e7":["<iframe title=\"Halloween III: Season of the Witch (10/10) Movie CLIP - Get It Off the Air! (1982) HD\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/goKRpR4XNg8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_f1bc7cfe55958ccb573f0c36fc7ef0e7":["1572620542"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/f5f8c850-957f-42b5-9dcd-979dbfdd7050/gah-bonus-folk-horror_tc.mp3\n11238130\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:11:42\";}"]},"episode-data":{"id":814,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/f5f8c850-957f-42b5-9dcd-979dbfdd7050/gah-bonus-folk-horror_tc.mp3","duration":"0:11:42","size":"11238130","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/11/Wickerman.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/814"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=814"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/814/revisions"}],"predecessor-version":[{"id":816,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/814/revisions/816"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=814"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=814"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=814"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>