<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":61,"date":"2014-09-23T19:25:42","date_gmt":"2014-09-23T23:25:42","guid":{"rendered":"http://goldenagehorror.com/?p=61"},"modified":"2020-02-13T15:11:34","modified_gmt":"2020-02-13T15:11:34","slug":"boris-karloff","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/09/23/boris-karloff/","title":{"rendered":"Boris Karloff"},"content":{"rendered":"<p>One of the most surprising things that I learned when watching every horror movie I could find from 1930-1939 is the level of talent involved in these movies. Frequently, these films are a handful of good and interesting ideas and a handful of cliches. The truly great films transcend that, and mainly by the strength of certain performances.</p>\n<p>Boris Karloff is an actor I never had great respect for before &#8211; I had seen a handful of his films, and considered his slightly weird appearance and lispy delivery to be entertaining, but I never realized the legitimacy of his acting talent.</p>\n<p><!--more--></p>\n<p>I always preferred the over the top charisma driven performances of Bela Lugosi, to whom Karloff is often compared. When they are both on screen together, however, Karloff generally outshines the Hungarian.</p>\n<p>Karloff, born William Henry Pratt, worked as a laborer for many years when he was a struggling actor, and he definitely brings an approach to these movies that would best be described as &#8220;workmanlike.&#8221; I mean that in the most positive way; no matter the material he was given, he clearly delivered an honest and hardworking performance each time.</p>\n<p>In Frankenstein and the sequel, he manages to give the monster dimension beyond bloodlust and childish rage, and generally without the ability to speak. I had long attributed the power of these performances to James Whale, but once I&#8217;d taken in a greater portion of Karloff&#8217;s work, I began to realize that Karloff had a great deal more to do with the success of those pictures.</p>\n<p>The Mummy is another role that Karloff took and managed to avoid turning into a cackling stereotype by playing Imhotep as polite and subdued. It would have been easy to slide into racism or vaudeville villainy, especially given the plot of the film, but Karloff deftly avoided falling into that particular trap.</p>\n<p>His pairings with fellow horror legend Bela Lugosi produced a pair of truly excellent films (as well as seemingly endless mediocrities). A particularly chilling thriller, The Black Cat, and the lesser, but still appropriately horrifying The Raven are both amongst the best of the decade.</p>\n<p>His career continued well beyond the thirties. If you&#8217;ve a taste for more Karloff, I might recommend the Criterion collection <a href=\"http://www.amazon.com/gp/product/B000K0YM18/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B000K0YM18&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=RU2KSUACVLXYAZKK\">Monsters and Madmen collection </a>. <em>Corridors of Blood</em> is a particular favorite of mine. Another sentimental favorite of mine is his performance as the Wurdulak in <em>Black Sunday</em>. He was in literally hundreds of films, many of them terrible, but I will watch basically any of them with him in it, because I know that he will at least give an interesting performance when on screen.</p>\n","protected":false},"excerpt":{"rendered":"<p>One of the most surprising things that I learned when watching every horror movie I could find from 1930-1939 is the level of talent involved in these movies. Frequently, these films are a handful of good and interesting ideas and a handful of cliches. The truly great films transcend that, and mainly by the strength [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_yoast_wpseo_focuskw":["boris karloff"],"_yoast_wpseo_linkdex":["80"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592521;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:266;}i:1;a:1:{s:2:\"id\";i:139;}i:2;a:1:{s:2:\"id\";i:42;}i:3;a:1:{s:2:\"id\";i:105;}i:4;a:1:{s:2:\"id\";i:294;}i:5;a:1:{s:2:\"id\";i:148;}}}}"],"dsq_thread_id":["5647997782"],"_wpghs_github_path":["_posts/2014-09-23-boris-karloff.md"],"_sha":["2d51f88941c0c00cfa3f01d02b6741d909f3761d"],"_edit_lock":["1581606694:1"]},"episode-data":false,"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/61"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=61"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/61/revisions"}],"predecessor-version":[{"id":837,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/61/revisions/837"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=61"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=61"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=61"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>