<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":114,"date":"2014-10-11T21:56:50","date_gmt":"2014-10-12T01:56:50","guid":{"rendered":"http://goldenagehorror.com/?p=114"},"modified":"2014-10-11T21:56:50","modified_gmt":"2014-10-12T01:56:50","slug":"capital-w-weirdness","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/11/capital-w-weirdness/","title":{"rendered":"&#8220;Capital W&#8221; Weirdness"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"aligncenter wp-image-115 size-full\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/weird_tales_193310.jpg\" alt=\"weird tales\" width=\"360\" height=\"552\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/weird_tales_193310.jpg 360w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/weird_tales_193310-196x300.jpg 196w\" sizes=\"(max-width: 360px) 100vw, 360px\" /></p>\n<blockquote><p>The true weird tale has something more than secret murder, bloody bones, or a sheeted form clanking chains according to rule. A certain atmosphere of breathless and unexplainable dread of outer, unknown forces must be present; and there must be a hint, expressed with a seriousness and portentousness becoming its subject, of that most terrible conception of the human brain&#8211;a malign and particular suspension or defeat of those fixed laws of Nature which are our only safeguard against the assaults of chaos and the daemons of unplumbed space.</p>\n<p>&#8211; HP LOVECRAFT, <em>SUPERNATURAL HORROR IN LITERATURE</em></p></blockquote>\n<p>You&#8217;ll find that frequently when describing one of these movies, I will refer to how &#8220;Weird&#8221; it is.</p>\n<p>This is what I&#8217;m referring to &#8211; the level of existential dread inherent in the film. To clarify, some films faintly drip with Weirdness, cosmic horror, where the menace is derived just from the fact that the characters exist in the world.  <a title=\"The Black Cat (1934)\" href=\"http://goldenagehorror.com/black-cat-1934/\">The Black Cat</a> is my favorite example of this &#8211; the horror is deep set and pervades the entire atmosphere of the film.</p>\n<p>Some films have far less of this Weirdness &#8211; especially as the thirties slide away, movies like <i>Dracula&#8217;s Daughter</i> and <i>Son of Frankenstein</i> seem to me to be &#8220;surface&#8221; films. That&#8217;s not to say these movies are not interesting or that they lack quality. I don&#8217;t believe that this &#8220;Weirdness&#8221; is an essential aspect of a horror film, but it is something I respond to.</p>\n<p><!--more--></p>\n<h3>The Five Weirdest Horror Films from the 1930&#8217;s</h3>\n<h4>The Black Cat</h4>\n<p>&nbsp;</p>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-119\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/black_cat1-1024x576.jpg\" alt=\"black cat\" width=\"676\" height=\"380\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/black_cat1-1024x576.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/black_cat1-300x169.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/black_cat1-768x432.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/black_cat1.jpg 1920w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>As described above &#8211; the scores, the sets, the performances &#8211; the epitome of weirdness.</p>\n<h4>Vampyr</h4>\n<p><img loading=\"lazy\" class=\"alignnone wp-image-117\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/final_draft_html_3da1efaa.jpg\" alt=\"vampyr\" width=\"640\" height=\"703\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/final_draft_html_3da1efaa.jpg 910w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/final_draft_html_3da1efaa-273x300.jpg 273w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/final_draft_html_3da1efaa-768x844.jpg 768w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></p>\n<p>Of course, I may have spoken too soon &#8211; this film is definitely weirder than <i>The Black Cat, </i>but is it Weirder? The general surreality of the film does create the distinct sensation that reality itself is unreliable.</p>\n<h4>The Mummy</h4>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-118\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/the-mummy-boris-karloff.jpg\" alt=\"the-mummy-boris-karloff\" width=\"590\" height=\"443\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/the-mummy-boris-karloff.jpg 590w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/the-mummy-boris-karloff-300x225.jpg 300w\" sizes=\"(max-width: 590px) 100vw, 590px\" /></p>\n<p>Karloff&#8217;s performance as the age old sorcerer Imhotep suggests that death itself can be defied and conquered, that we carry around the shells of thousands of old personalities, and that the Old Gods are with us still.</p>\n<h4>Das Testament des Dr. Mabuse</h4>\n<p><img loading=\"lazy\" class=\"alignnone wp-image-120\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/hE9TEMBQPEcrR3FV694d2r14TWO-682x1024.jpg\" alt=\"hE9TEMBQPEcrR3FV694d2r14TWO\" width=\"534\" height=\"800\" /></p>\n<p>Another German film, this one creates the slightly more mundane reality wherein the institutions that we depend on are completely untrustworthy &#8211; except of course, for the end of the film, where the disembodied consciousness of the titual Doctor jumps from body to body.</p>\n<h4>Dracula</h4>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-38\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/09/Dracula-1931-Bela-Lugosi-Golden-Age-Horror-We-Belong-Dead.jpg\" alt=\"Dracula 1931 Bela Lugosi Golden Age Horror We Belong Dead\" width=\"720\" height=\"540\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Dracula-1931-Bela-Lugosi-Golden-Age-Horror-We-Belong-Dead.jpg 720w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/09/Dracula-1931-Bela-Lugosi-Golden-Age-Horror-We-Belong-Dead-300x225.jpg 300w\" sizes=\"(max-width: 720px) 100vw, 720px\" /></p>\n<p>Although Lugosi&#8217;s performance has gradually become something to be parodied, one must remember that the Vampire as a myth hasn&#8217;t always been so enmeshed in our culture. This film is about an undying man who has gradually become something far more and far less, who walks among us, all the while looking at us as a food source.</p>\n<p>As always, I&#8217;d love to hear what you think. Please let me know in the comments or find us on <a href=\"https://www.facebook.com/AllGodlessHere\">Facebook.</a></p>\n","protected":false},"excerpt":{"rendered":"<p>The true weird tale has something more than secret murder, bloody bones, or a sheeted form clanking chains according to rule. A certain atmosphere of breathless and unexplainable dread of outer, unknown forces must be present; and there must be a hint, expressed with a seriousness and portentousness becoming its subject, of that most terrible [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592519;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:205;}i:1;a:1:{s:2:\"id\";i:151;}i:2;a:1:{s:2:\"id\";i:105;}i:3;a:1:{s:2:\"id\";i:95;}i:4;a:1:{s:2:\"id\";i:42;}i:5;a:1:{s:2:\"id\";i:148;}}}}"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"dsq_thread_id":["3233666857"],"_wpghs_github_path":["_posts/2014-10-11-capital-w-weirdness.md"],"_sha":["0ffc27bc58441df62cfd354c7a604a1acbf56895"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/10/weird_tales_193310.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/114"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=114"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/114/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=114"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=114"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=114"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>