<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":883,"date":"2021-02-10T01:37:49","date_gmt":"2021-02-10T01:37:49","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=883"},"modified":"2021-02-10T01:38:17","modified_gmt":"2021-02-10T01:38:17","slug":"children-of-the-corn-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/02/10/children-of-the-corn-patreon-bonus-episode/","title":{"rendered":"Children of the Corn (Patreon Bonus Episode)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"580\" height=\"905\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/children-of-the-corn.jpg\" alt=\"\" class=\"wp-image-884\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/children-of-the-corn.jpg 580w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/children-of-the-corn-192x300.jpg 192w\" sizes=\"(max-width: 580px) 100vw, 580px\" /></figure>\n\n\n\n<p>We discuss our first ever Stephen King movie, as well as the perils of child actors and a preponderance of sequels</p>\n","protected":false},"excerpt":{"rendered":"<p>We discuss our first ever Stephen King movie, as well as the perils of child actors and a preponderance of sequels</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,190,193,7,194],"tags":[],"post-meta-fields":{"_edit_lock":["1612920999:1"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/47349901"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/children-of-the-corn.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/883"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=883"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/883/revisions"}],"predecessor-version":[{"id":886,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/883/revisions/886"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=883"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=883"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=883"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>