<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":909,"date":"2021-05-29T14:07:08","date_gmt":"2021-05-29T14:07:08","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=909"},"modified":"2021-05-29T14:34:47","modified_gmt":"2021-05-29T14:34:47","slug":"destroy-all-monsters-1968-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/05/29/destroy-all-monsters-1968-patreon-bonus-episode/","title":{"rendered":"Destroy All Monsters (1968) &#8211; Patreon Bonus Episode"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"685\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster-685x1024.jpg\" alt=\"the american poster for destroy all monsters, the kaiju movie from 1968\" class=\"wp-image-910\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster-685x1024.jpg 685w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster-201x300.jpg 201w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster-768x1148.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster.jpg 800w\" sizes=\"(max-width: 685px) 100vw, 685px\" /></figure>\n\n\n\n<p>I think, during the course of this, Andrew and I commit to doing a kaiju movie-only themed podcast</p>\n","protected":false},"excerpt":{"rendered":"<p>I think, during the course of this, Andrew and I commit to doing a kaiju movie-only themed podcast</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[193,7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1622298888:1"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/destroy-all-1968-51835094"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Destroy-All-Monsters-poster-685x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/909"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=909"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/909/revisions"}],"predecessor-version":[{"id":915,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/909/revisions/915"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=909"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=909"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=909"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>