<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":151,"date":"2014-10-29T21:23:40","date_gmt":"2014-10-30T01:23:40","guid":{"rendered":"http://goldenagehorror.com/?p=151"},"modified":"2014-10-29T21:23:40","modified_gmt":"2014-10-30T01:23:40","slug":"doctor-x","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/29/doctor-x/","title":{"rendered":"Doctor X"},"content":{"rendered":"<h2><img loading=\"lazy\" class=\"alignnone size-large wp-image-153\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/Doctor-X-1024x694.jpg\" alt=\"Doctor X\" width=\"676\" height=\"458\" /></h2>\n<h2><em>Doctor X</em> Will Build A Creature</h2>\n<p><em>Doctor X</em>, although not a movie that is often discussed in the same breath as say, <em>Frankenstein</em> or <em>Dracula</em>, is every bit as weird and wild as them. In fact, it is the general peaked insanity of Doctor X that makes it so much fun and so memorable. The movie is lurid and nonsensical. It features great performances by genre veterans Lionel Atwill and Fay Wray, an improbable Old Dark House murder mystery plot, and absolutely inappropriate comedic elements.</p>\n<p><!--more--></p>\n<h2>Early Technicolor</h2>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-154\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/Doctor-X-2.jpg\" alt=\"Doctor X 2\" width=\"640\" height=\"494\" /></p>\n<p>Doctor X was one of the very first movies to be shot in Technicolor, and used a unique two-strip coloring process which creates an unearthly pink and green color palette.</p>\n<p>The film blog <a href=\"https://nitratediva.wordpress.com/2014/10/19/doctor-x-1932/\">Nitrate Diva</a> recently did a very nice write up of the film, making special mention of the colors as an artistic effect. Speaking of director Michael Curtiz, they write:</p>\n<blockquote><p>Nevertheless, his expressionistic flair incorporated the two-strip Technicolor palette to masterful effect. Instead of trying to minimize the strangeness of the color process, Curtiz indulged his preference for silhouettes, showy compositions, and jarring angles. All of these elements, in conjunction with the unnatural hues, contribute to the audience’s sense of nightmarish disorientation.</p></blockquote>\n<p>Thinking of Doctor X as proto-psychedelia is probably correct; the movie&#8217;s main appeal is the hallucinatory atmosphere, buffeted by the insane plot (medical researchers are forced violent sexualized crimes being re-enacted while hooked up to a nightmarish lie detector) and the frankly silly comedy of Lee Tracy&#8217;s reporter character.</p>\n<h2>Pre-Code Content</h2>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-155\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/anigif_enhanced-23531-1410901405-15.gif\" alt=\"v\" width=\"475\" height=\"343\" /></p>\n<p>One of the other most notable features of this film is the decadent, over the top content. Doctor X&#8217;s the Moon Killer is a cannibal sex criminal &#8211; there are scenes in a brothel, and sex and drug use are treated casually. Fay Wray is draped as per usual in silky threads. Wells/Moon Killer smears himself with &#8220;synthetic&#8221; flesh in a climactic gonzo nightmare towards the end of the film.</p>\n<h2>The Weirdness Factor</h2>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-156\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/docteur-x-1932-03-g.jpg\" alt=\"docteur-x-1932-03-g\" width=\"594\" height=\"250\" /></p>\n<p>This is where the movie&#8217;s bread is buttered, as we say. The weirdo/<a title=\"“Capital W” Weirdness\" href=\"http://goldenagehorror.com/capital-w-weirdness/\">Weirdness</a> factor of this movie is high. Doctor X thrives on the unreality it creates. Characters are painted in broad, bizarro strokes, with mad scientist quirks and rendered in hues of pink and green. Thematically, there&#8217;s probably something shreds of philosophy behind the film &#8211; the previously mentioned <a href=\"https://nitratediva.wordpress.com/2014/10/19/doctor-x-1932/\">Nitrate Diva article</a> has an excellent theory about the film&#8217;s general theme of apathy towards science and rationalism &#8211; my only disagreement is that I think this film goes even further. Doctor X is a wild rejection of cultural normatives, of logic, of reality itself.</p>\n<p>If you have anything interesting to add on the subject of Doctor X, hit me up in the comments, <a href=\"https://www.facebook.com/AllGodlessHere\">on Facebook</a>, or you can reach me on twitter <a href=\"https://twitter.com/thewatermethod\">@thewatermethod</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Doctor X Will Build A Creature Doctor X, although not a movie that is often discussed in the same breath as say, Frankenstein or Dracula, is every bit as weird and wild as them. In fact, it is the general peaked insanity of Doctor X that makes it so much fun and so memorable. The [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[51,65,105],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557757777;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:158;}i:1;a:1:{s:2:\"id\";i:42;}i:2;a:1:{s:2:\"id\";i:95;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667752455"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-10-29-doctor-x.md"],"_sha":["cc675d89cbbed14f18a400fc51c2cede8f8b5f6c"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/10/Doctor-X-1024x694.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/151"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=151"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/151/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=151"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=151"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=151"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>