<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":123,"date":"2014-10-13T21:04:10","date_gmt":"2014-10-14T01:04:10","guid":{"rendered":"http://goldenagehorror.com/?p=123"},"modified":"2020-02-13T15:10:28","modified_gmt":"2020-02-13T15:10:28","slug":"dr-jekyll-and-mr-hyde-1931","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/13/dr-jekyll-and-mr-hyde-1931/","title":{"rendered":"Dr Jekyll and Mr Hyde (1931)"},"content":{"rendered":"<p>The 1931 adaptation of the Robert Louis Stevenson novel, directed by Rouben Mamoulian, is actually the second famous adaptation of the story for the screen – John Barrymore played the dual title role in a 1920 silent film which is also worth watching.</p>\n<p><!--more--></p>\n<p>This new film uses the interesting device of relying heavily on a first-person camera view. The film uses this technique to great effect including a surprisingly erotic and revealing striptease scene and an impressive transformation scene in a mirror.</p>\n<p>Jekyll is a bit more of a cad than he is in the Stevenson story. My memory of the Stevenson story is that Jekyll is a repressed and almost Puritanical man. In this interpretation, aside from having an ostentatious American accent, Jekyll is already bursting at the seams. He is repressed but barely so.</p>\n<p>Fredric March, delivering a tour de force performance that rightly won an Oscar, is perfect as Jekyll, with movie star good looks and charm and while also bringing an excellent physicality to both facets of his role. When he is transformed into the grotesque Hyde, he shrinks himself physically and takes on a grinning, demonic, ape-like movement.</p>\n<p>The transformation scenes are also very well done. It frequently impresses me how well the practical effects in these movies compare to modern versions – it would be hard to say that there is a modern transformation scene that looks as well done as this one; perhaps because they use the minimum effective makeup and trickery and instead rely on the power of the performance to create the illusion of true change.</p>\n<blockquote><p>Oh, God. This I did not intend. I saw a light but did not know where it was headed. I have tresspassed on your domain. I&#8217;ve gone further than man should go. Forgive me. Help me!</p></blockquote>\n<p>The movie drips with sex and brief, terrible moments of violence – Hyde lashes out with a silver-tipped cane at the slightest provocation, and his torment of the showgirl Ivy Pearson (Miriam Hopkins) is an excellent example of pure evil. Speaking of Pearson, she is the performer undressing earlier in the film and she is frequently pulling off her dress to reveal the wounds inflicted on her by the monsters of the world.</p>\n<p>The film is very strong and highly recommended. March is excellent, the rest of cast is strong, the camerawork is interesting, and the story compelling.</p>\n<blockquote><p>This piece originally appeared in my ebook, <a href=\"http://www.amazon.com/gp/product/B00O1IVMGS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00O1IVMGS&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=3VFL3EBD74NOBZB2\">All Godless Here: The Golden Age of Horror 1930-1939</a>.</p></blockquote>\n","protected":false},"excerpt":{"rendered":"<p>The 1931 adaptation of the Robert Louis Stevenson novel, directed by Rouben Mamoulian, is actually the second famous adaptation of the story for the screen – John Barrymore played the dual title role in a 1920 silent film which is also worth watching.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592519;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:396;}i:1;a:1:{s:2:\"id\";i:95;}i:2;a:1:{s:2:\"id\";i:223;}i:3;a:1:{s:2:\"id\";i:165;}i:4;a:1:{s:2:\"id\";i:148;}i:5;a:1:{s:2:\"id\";i:459;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["3228907970"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-10-13-dr-jekyll-and-mr-hyde-1931.md"],"_sha":["0800c3d33a7be136a54bdf6d88ec8c2a4e41ef6a"],"_oembed_a42c827ec2cf5579f65fe4422fa5a6e8":["{{unknown}}"],"_edit_lock":["1581606628:1"],"_oembed_064880b7839467a67ffb369d5804eae3":["{{unknown}}"]},"episode-data":false,"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/123"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=123"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/123/revisions"}],"predecessor-version":[{"id":838,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/123/revisions/838"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=123"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=123"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=123"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>