<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":223,"date":"2014-12-03T20:09:39","date_gmt":"2014-12-04T01:09:39","guid":{"rendered":"http://goldenagehorror.com/?p=223"},"modified":"2014-12-03T20:09:39","modified_gmt":"2014-12-04T01:09:39","slug":"dracula-1931","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/03/dracula-1931/","title":{"rendered":"Dracula (1931)"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-225\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/dracula-1931-2-1024x812.jpg\" alt=\"poster for dracula 1931 starring bela lugosi\" width=\"676\" height=\"536\" /></p>\n<p><strong><em>Dracula</em></strong> has been many things since it&#8217;s been released &#8211; it was epochal upon its original release, the commercialization of sheer terror, the sexualized menace of Bela Lugosi, the Gothic writ large in Silver Nitrate. Later, compared to efforts that followed, the sheen began to wear off of Lugosi&#8217;s Dracula, its star reduced to less mythical stature.</p>\n<p><!--more--></p>\n<p>The novel <strong><em>Dracula</em></strong> is a slower and stranger than the 1931 film by Tod Browning, although it is a slow and strange film. The film feels like German Expressionism through the Hollywood lens, with shadowy, looking sets and thick atmosphere. The continuity of the film feels disturbed &#8211; some would have you believe it was cut this way on purpose, I&#8217;m just not sure. Sometimes, it feels artistic, sometimes it just feels like mistakes.</p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-226\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/dracula-matte-painting.jpg\" alt=\"Approaching Castle Dracula on Borgo Pass\" width=\"400\" height=\"301\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/dracula-matte-painting.jpg 400w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/dracula-matte-painting-300x226.jpg 300w\" sizes=\"(max-width: 400px) 100vw, 400px\" /></p>\n<p><strong><em>Dracula</em></strong> suffers because of the power of the novel and previous adaptation <strong><em>Nosferatu</em></strong>&#8211; a high standard, and because of the lurid Hammer films and all the many others. Those films each present a different version of Dracula, some of them unhampered by the weak supporting actors and confusing cuts.</p>\n<p>None of the other films have <a title=\"Bela Lugosi\" href=\"http://goldenagehorror.com/bela-lugosi/\">Lugosi</a>, though. I am hard pressed to imagine a better pairing of actor and role. No offense to Langella,Lee, or Oldman, but Lugosi is Dracula for me. (Schreck is Orlok, my own compartmentalization) He personifies everything that made people uneasy about the East, and is the archetype of the foreign seducer. He is also incredibly compelling and menacing, probably the only Dracula to combine monster and lover so effectively. (Lee is nearly all monster, Lee and Langella hairy chested lovers).</p>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-227\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/Bela-Lugosi-Menacing-Our-Women-1024x640.jpg\" alt=\"Bela Lugosi Menacing Our Women\" width=\"676\" height=\"422\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Bela-Lugosi-Menacing-Our-Women-1024x640.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Bela-Lugosi-Menacing-Our-Women-300x188.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Bela-Lugosi-Menacing-Our-Women-768x480.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Bela-Lugosi-Menacing-Our-Women.jpg 1920w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>The film Dracula is flawed. Nearly every actor in it is unforgettable, other than Lugosi and Dwight Frye. Some, like David Manners and Edward Van Sloan, feel as though they actively trying to sabotage the movie. The Spanish version has a slightly better cast and a more conventional edit, but also feels very much like the same movie to me, only lacking the best part &#8211; <a title=\"Bela Lugosi\" href=\"http://goldenagehorror.com/bela-lugosi/\">Bela Lugosi</a>.</p>\n<p>Still a classic, and one of the best vampire movies/horror movies ever made.</p>\n","protected":false},"excerpt":{"rendered":"<p>Dracula has been many things since it&#8217;s been released &#8211; it was epochal upon its original release, the commercialization of sheer terror, the sexualized menace of Bela Lugosi, the Gothic writ large in Silver Nitrate. Later, compared to efforts that followed, the sheen began to wear off of Lugosi&#8217;s Dracula, its star reduced to less [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[55,109],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["dracula"],"_yoast_wpseo_linkdex":["90"],"_yoast_wpseo_metadesc":["Dracula, starring Bela Lugosi, is the ultimate in seductive terrors writ large in silver nitrate. Bear witness, children of the night!"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592516;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:139;}i:1;a:1:{s:2:\"id\";i:376;}i:2;a:1:{s:2:\"id\";i:230;}i:3;a:1:{s:2:\"id\";i:205;}i:4;a:1:{s:2:\"id\";i:105;}i:5;a:1:{s:2:\"id\";i:287;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5731308568"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-12-03-dracula-1931.md"],"_sha":["6edbbe1fd72244e1e8a4272218f2f170f2227c85"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/12/dracula-1931-2-1024x812.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/223"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=223"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/223/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=223"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=223"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=223"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>