<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":527,"date":"2017-04-10T12:12:08","date_gmt":"2017-04-10T16:12:08","guid":{"rendered":"http://goldenagehorror.com/?p=527"},"modified":"2019-10-10T14:38:11","modified_gmt":"2019-10-10T14:38:11","slug":"episode-36-house-haunted-hill","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/04/10/episode-36-house-haunted-hill/","title":{"rendered":"Episode 36 &#8211; The House on Haunted Hill (1959)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"562\" height=\"750\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2017/04/haunted-hill.jpg\" alt=\"\" class=\"wp-image-747\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2017/04/haunted-hill.jpg 562w, https://gahuploads.blob.core.windows.net/wp-content/2017/04/haunted-hill-225x300.jpg 225w\" sizes=\"(max-width: 562px) 100vw, 562px\" /></figure>\n\n\n\n<p>The campy, compact classic really rubbed Andrew the wrong way. Can&#8217;t really say why.</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"576\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house_on_haunted_hill_sd1_1050_591_81_s_c1-1024x576-1024x576.jpg\" alt=\"\" class=\"wp-image-736\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house_on_haunted_hill_sd1_1050_591_81_s_c1-1024x576.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house_on_haunted_hill_sd1_1050_591_81_s_c1-1024x576-300x169.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house_on_haunted_hill_sd1_1050_591_81_s_c1-1024x576-768x432.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This film was directed by William Castle, and stars Vincent Price as Frederick Loren and Carol Ohmart as Annabelle Loren</p>\n\n\n\n<p>The blind caretaker, one of a series of red herrings built into the plot of the House on Haunted Hill, was Andrew&#8217;s favorite part. Andrew found the film&#8217;s 96% on Rotten Tomatoes to be absurd. For more of Andrew&#8217;s wildly unfounded opinions, please consult our podcast episode.</p>\n\n\n\n<p><a href=\"http://www.imdb.com/title/tt0051744/\">The IMDB page for House on Haunted Hill</a></p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/House_on_Haunted_Hill\">The Wikipedia page for the House on Haunted Hill</a></p>\n\n\n\n<p>I found this GIF <a href=\"https://medium.com/everythings-interesting/double-feature-the-houses-on-haunted-hill-1959-1999-403582cd8c5d\">here, on this double feature comparison of House on Haunted Hill and it&#8217;s 1999 remake</a>.</p>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img src=\"https://goldenagehorror.com/wp-content/uploads/2017/04/1-ErSEvJ_24mMglPCgL9Rn3A.gif\" alt=\"\" class=\"wp-image-529\"/></figure></div>\n","protected":false},"excerpt":{"rendered":"<p>The campy, compact classic really rubbed Andrew the wrong way. Can&#8217;t really say why.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[151,174,181],"post-meta-fields":{"_edit_last":["1"],"_wpghs_github_path":["_posts/2017-04-10-episode-36-house-haunted-hill.md"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592500;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:535;}i:1;a:1:{s:2:\"id\";i:459;}i:2;a:1:{s:2:\"id\";i:540;}i:3;a:1:{s:2:\"id\";i:472;}i:4;a:1:{s:2:\"id\";i:428;}i:5;a:1:{s:2:\"id\";i:576;}}}}"],"_yoast_wpseo_metadesc":["Andrew and Matt discuss the Vincent Price / William Castle classic horror picture the House on Haunted Hill, also starring Carol Ohmart."],"enclosure":["https://audio.simplecast.com/73776.mp3\n32479451\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:33:45\";}"],"_sha":["d87178732eed4515bd94724800a4600925673dd0"],"_wpas_mess":["House on Haunted Hill really rubbed Andrew the wrong way. Can't really say why."],"_wpas_done_all":["1"],"dsq_thread_id":["5713445007"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570718291:1"]},"episode-data":{"id":527,"feed":"podcast","url":"https://audio.simplecast.com/73776.mp3","duration":"0:33:45","size":"32479451","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2017/04/haunted-hill.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/527"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=527"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/527/revisions"}],"predecessor-version":[{"id":748,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/527/revisions/748"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=527"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=527"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=527"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>