<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":496,"date":"2017-01-04T10:42:45","date_gmt":"2017-01-04T10:42:45","guid":{"rendered":"http://goldenagehorror.com/?p=496"},"modified":"2019-09-19T19:48:52","modified_gmt":"2019-09-19T19:48:52","slug":"episode-34-abominable-dr-phibes","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/01/04/episode-34-abominable-dr-phibes/","title":{"rendered":"Episode 34 – The Abominable Dr Phibes (1971)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"799\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/20140207-204303-1024x799-1024x799.jpg\" alt=\"Dr Phibes has great vibes\" class=\"wp-image-729\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/20140207-204303-1024x799.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/20140207-204303-1024x799-300x234.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/20140207-204303-1024x799-768x599.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p><br>\nNever mind the yawns, Andrew and I agree &#8211; this film is a real barnstormer and a classic! Dr. Phibes has great vibes.<br>\n<br>\n<a href=\"https://en.wikipedia.org/wiki/Plagues_of_Egypt\">Doctor Phibes brings the Plagues of Egypt on his victims.</a></p>\n\n\n\n<!--more-->\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Final_Programme_(film)\">The Final Programme</a><br>\n<a href=\"http://amzn.to/2j4vjrv\">Jerry Cornelius</a></p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"756\" height=\"576\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dr._Phibes.jpg\" alt=\"\" class=\"wp-image-728\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dr._Phibes.jpg 756w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dr._Phibes-300x229.jpg 300w\" sizes=\"(max-width: 756px) 100vw, 756px\" /><figcaption>Here&#8217;s an <a href=\"http://kirbymuseum.org/blogs/dynamics/2011/11/03/dr-phibes/\">interesting article</a> on Jack Kirby doing some Dr Phibes style art!</figcaption></figure>\n\n\n\n<h2>The Cast of Characters</h2>\n\n\n\n<p>Vincent Price as Dr Anton Phibes<br>\nJoseph Cotten as Dr. Vesalius<br>\nVirginia North as Vulnavia<br>\nPeter Jeffrey as Inspector Trout<br>\n<a href=\"http://amzn.to/2iIaFAK\">Buy Dr Phibes on Amazon</a>!</p>\n","protected":false},"excerpt":{"rendered":"<p>Never mind the yawns, Andrew and I agree &#8211; this film is a real barnstormer and a classic! Dr. Phibes has great vibes. Doctor Phibes brings the Plagues of Egypt on his victims.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[21,54,102,128,174],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_content_score":["90"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128490;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:513;}i:1;a:1:{s:2:\"id\";i:535;}i:2;a:1:{s:2:\"id\";i:480;}}}}"],"enclosure":["https://audio.simplecast.com/73773.mp3\n51064424\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:53:07\";}"],"_wpas_mess":["Episode 34 – The Abominable Dr Phibes. He has great vibes."],"_wpas_done_all":["1"],"dsq_thread_id":["5667751437"],"_wpghs_github_path":["_posts/2017-01-04-episode-34-abominable-dr-phibes.md"],"_sha":["a2f175936db395adf5bb3b90351fc955f2a63c40"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570717965:1"]},"episode-data":{"id":496,"feed":"podcast","url":"https://audio.simplecast.com/73773.mp3","duration":"0:53:07","size":"51064424","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/20140207-204303-1024x799-1024x799.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/496"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=496"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/496/revisions"}],"predecessor-version":[{"id":731,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/496/revisions/731"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=496"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=496"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=496"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>