<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":513,"date":"2017-02-08T12:35:50","date_gmt":"2017-02-08T12:35:50","guid":{"rendered":"http://goldenagehorror.com/?p=513"},"modified":"2019-09-19T19:52:38","modified_gmt":"2019-09-19T19:52:38","slug":"episode-35-dr-phibes-rises","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/02/08/episode-35-dr-phibes-rises/","title":{"rendered":"Episode 35 – Dr Phibes Rises Again (1972)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"806\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/again1-1-1024x806-1024x806.jpg\" alt=\"\" class=\"wp-image-732\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/again1-1-1024x806.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/again1-1-1024x806-300x236.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/again1-1-1024x806-768x605.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Dr Phibes rises again &#8212; into a film that is not quite as good as the first.<br></p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"500\" height=\"250\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/phibesrises2.jpg\" alt=\"\" class=\"wp-image-733\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/phibesrises2.jpg 500w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/phibesrises2-300x150.jpg 300w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></figure></div>\n\n\n\n<h2>The Cast of Characters</h2>\n\n\n\n<p>Vincent Price as Dr Anton Phibes<br>Robery Quarry as Darius Biederbeck<br>Valli Kemp as Vulnavia<br>Peter Jeffrey as Inspector Trout</p>\n","protected":false},"excerpt":{"rendered":"<p>Dr Phibes rises again &#8212; into a film that is not quite as good as the first.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[54,174],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_content_score":["60"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592500;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:496;}i:1;a:1:{s:2:\"id\";i:535;}i:2;a:1:{s:2:\"id\";i:472;}i:3;a:1:{s:2:\"id\";i:527;}i:4;a:1:{s:2:\"id\";i:489;}i:5;a:1:{s:2:\"id\";i:459;}}}}"],"enclosure":["https://audio.simplecast.com/0b8eb447.mp3\n28160261\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:29:15\";}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667751688"],"_wpghs_github_path":["_posts/2017-02-08-episode-35-dr-phibes-rises.md"],"_sha":["f2e8cb7575db18354db8feafa2f94a971dc204bf"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570717974:1"]},"episode-data":{"id":513,"feed":"podcast","url":"https://audio.simplecast.com/0b8eb447.mp3","duration":"0:29:15","size":"28160261","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/again1-1-1024x806-1024x806.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/513"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=513"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/513/revisions"}],"predecessor-version":[{"id":735,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/513/revisions/735"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=513"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=513"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=513"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>