<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":352,"date":"2015-02-27T09:05:07","date_gmt":"2015-02-27T14:05:07","guid":{"rendered":"http://goldenagehorror.com/?p=352"},"modified":"2019-09-16T18:39:05","modified_gmt":"2019-09-16T18:39:05","slug":"episode-19-the-island-of-lost-souls","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/02/27/episode-19-the-island-of-lost-souls/","title":{"rendered":"Episode 19 &#8211; The Island of Lost Souls (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"724\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/tumblr_m07o5fiyC71qh35m6o1_1280-724x1024-724x1024.jpg\" alt=\"\" class=\"wp-image-678\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/tumblr_m07o5fiyC71qh35m6o1_1280-724x1024.jpg 724w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/tumblr_m07o5fiyC71qh35m6o1_1280-724x1024-212x300.jpg 212w\" sizes=\"(max-width: 724px) 100vw, 724px\" /></figure>\n\n\n\n<p>This week, Matt and Andrew cover the Island of Lost Souls starring Charles Laughton, and featuring Bela Lugosi as the Sayer of the Law.</p>\n\n\n\n<!--more-->\n\n\n\n<p>There&#8217;s a great documentary on the making of the 1996 remake:</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/k0pBIKzW0eE?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"464\" height=\"261\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/59325547_hairyface.jpg\" alt=\"\" class=\"wp-image-679\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/59325547_hairyface.jpg 464w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/59325547_hairyface-300x169.jpg 300w\" sizes=\"(max-width: 464px) 100vw, 464px\" /><figcaption>BELA as the Sayer of the Law!</figcaption></figure></div>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/d43gKl9xIME?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"401\" height=\"271\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/994f175317fa8c69dcfa1befec8ea47f.jpg\" alt=\"\" class=\"wp-image-676\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/994f175317fa8c69dcfa1befec8ea47f.jpg 401w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/994f175317fa8c69dcfa1befec8ea47f-300x203.jpg 300w\" sizes=\"(max-width: 401px) 100vw, 401px\" /><figcaption>Tom Waits totally looks like Ron Perlman</figcaption></figure></div>\n","protected":false},"excerpt":{"rendered":"<p>This week, Matt and Andrew cover the Island of Lost Souls starring Charles Laughton, and featuring Bela Lugosi as the Sayer of the Law.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[17,23,39,85,90,91,114,169],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592511;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:306;}i:1;a:1:{s:2:\"id\";i:344;}i:2;a:1:{s:2:\"id\";i:139;}i:3;a:1:{s:2:\"id\";i:42;}i:4;a:1:{s:2:\"id\";i:105;}i:5;a:1:{s:2:\"id\";i:165;}}}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73749.mp3\n23186321\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:24:04\";}"],"dsq_thread_id":["3553225871"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-02-27-episode-19-the-island-of-lost-souls.md"],"_sha":["1e185834a8df75e3d594385c0cbf3239ee7e9826"],"_yoast_wpseo_primary_category":[""],"_yoast_wpseo_content_score":["60"],"_oembed_b01221d9b67b0298a9fec5dc144c33ce":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/k0pBIKzW0eE?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_b01221d9b67b0298a9fec5dc144c33ce":["1498676968"],"_oembed_ac749bcc088aecde99695ffbdf449c37":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/d43gKl9xIME?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_ac749bcc088aecde99695ffbdf449c37":["1498676968"],"_oembed_305d78bd3181b7bce577633a8c6b0444":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/k0pBIKzW0eE?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_305d78bd3181b7bce577633a8c6b0444":["1558442092"],"_oembed_48905485d24ed0d78e91fc5419810e45":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/d43gKl9xIME?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_48905485d24ed0d78e91fc5419810e45":["1558442092"],"_edit_lock":["1568659079:1"],"_oembed_3a327528e871bdb82ffc09427ed1245d":["<iframe title=\"Lost Soul: The Doomed Journey of Richard Stanley&#039;s Island of Dr. Moreau\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/k0pBIKzW0eE?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_3a327528e871bdb82ffc09427ed1245d":["1568659042"],"_oembed_daee86c0dd3fb8a76454b60185ad1197":["<iframe title=\"Devo - Q: Are We Not Men? A: We Are Devo! Deluxe Remastered Version [Full Album] [HQ]\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/d43gKl9xIME?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_daee86c0dd3fb8a76454b60185ad1197":["1568659042"]},"episode-data":{"id":352,"feed":"podcast","url":"https://audio.simplecast.com/73749.mp3","duration":"0:24:04","size":"23186321","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/tumblr_m07o5fiyC71qh35m6o1_1280-724x1024-724x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/352"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=352"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/352/revisions"}],"predecessor-version":[{"id":680,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/352/revisions/680"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=352"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=352"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=352"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>