<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":410,"date":"2015-11-02T22:37:44","date_gmt":"2015-11-03T03:37:44","guid":{"rendered":"http://goldenagehorror.com/?p=410"},"modified":"2019-09-16T19:41:47","modified_gmt":"2019-09-16T19:41:47","slug":"episode-25-suspiria","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/11/02/episode-25-suspiria/","title":{"rendered":"Episode 25 &#8211; Suspiria (1977)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"799\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/suspiria-1024x799.jpg\" alt=\"\" class=\"wp-image-695\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/suspiria-1024x799.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/suspiria-300x234.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/suspiria-768x599.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>WITCCCCCCCCHHHHHHHHHHHHHHHHHHHHH.</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/QE1q2QLV5lU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/Suspiria\">Suspiria</a></li><li><a href=\"https://en.wikipedia.org/wiki/Dario_Argento\">Dario Argento</a></li><li><a href=\"https://en.wikipedia.org/wiki/Technicolor\">Technicolor</a></li><li><a href=\"http://www.gutenberg.org/files/23788/23788-h/23788-h.htm\">The full text of De Quincey&#8217;s Suspiria De Profundis</a></li><li><a rel=\"nofollow\" href=\"http://www.amazon.com/gp/product/0857680854/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0857680854&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=XNMJZZUDKHUUZBUS\">Anno Dracula: Dracula Cha Cha Cha</a></li><li><a rel=\"noopener noreferrer\" href=\"http://www.amazon.com/s/ref=as_li_ss_tl?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=robert%20graves&amp;linkCode=ur2&amp;tag=cthudice-20&amp;url=search-alias%3Daps&amp;linkId=EAKWA2CS5S32HRIJ\" target=\"_blank\">Robert Graves</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>WITCCCCCCCCHHHHHHHHHHHHHHHHHHHHH.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[46,74,120,152,172],"post-meta-fields":{"_edit_last":["1"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128474;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:576;}i:1;a:1:{s:2:\"id\";i:480;}i:2;a:1:{s:2:\"id\";i:223;}}}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73756.mp3\n24445182\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:25:23\";}"],"dsq_thread_id":["5861189549"],"_yoast_wpseo_content_score":["30"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-11-02-episode-25-suspiria.md"],"_sha":["ed6471fdf539a8fd904160ee9f79bff308a0bd88"],"_oembed_6f75b3836a24061ddd384da5bbb4e959":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/QE1q2QLV5lU?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_6f75b3836a24061ddd384da5bbb4e959":["1498659651"],"_oembed_35ee1ceb806984b3a771d475debb4434":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/QE1q2QLV5lU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_35ee1ceb806984b3a771d475debb4434":["1558442089"],"_edit_lock":["1568662908:1"],"_oembed_0bfd84cbe7622335751e50d0a45f3dd7":["<iframe title=\"goblin - Witch\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/QE1q2QLV5lU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_0bfd84cbe7622335751e50d0a45f3dd7":["1568662804"]},"episode-data":{"id":410,"feed":"podcast","url":"https://audio.simplecast.com/73756.mp3","duration":"0:25:23","size":"24445182","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/suspiria-1024x799.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/410"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=410"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/410/revisions"}],"predecessor-version":[{"id":698,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/410/revisions/698"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=410"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=410"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=410"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>