<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":583,"date":"2017-10-30T19:22:45","date_gmt":"2017-10-30T23:22:45","guid":{"rendered":"https://goldenagehorror.com/?p=583"},"modified":"2019-10-23T19:26:19","modified_gmt":"2019-10-23T19:26:19","slug":"episode-41-black-sunday-1960","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/10/30/episode-41-black-sunday-1960/","title":{"rendered":"Episode 41 &#8211; Black Sunday (1960)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"700\" height=\"1000\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/black-sunday-alt.jpg\" alt=\"\" class=\"wp-image-764\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/black-sunday-alt.jpg 700w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/black-sunday-alt-210x300.jpg 210w\" sizes=\"(max-width: 700px) 100vw, 700px\" /></figure>\n\n\n\n<p>Our first time covering Mario Bava on this show! Gothic chiller Black Sunday is this month&#8217;s entry in our series on foreign horror films before 1979.</p>\n\n\n\n<!--more-->\n\n\n\n<p>This series has proven to be fairly popular with Andrew. I don&#8217;t know if anyone remembers the premise of this show now, 41 episodes and several years in, but originally it was &#8220;horror movie fan (Matt) watches movie with horror movie novice (Andrew).&#8221; Black Sunday is sort of a throwback to our original premise, in that the non-horror movie fan really didn&#8217;t have much to like.</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"711\" height=\"448\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/MASK17.jpg\" alt=\"\" class=\"wp-image-762\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/MASK17.jpg 711w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/MASK17-300x189.jpg 300w\" sizes=\"(max-width: 711px) 100vw, 711px\" /></figure>\n\n\n\n<p>It sort of makes one wonder how much of my affection for Black Sunday comes from it&#8217;s place in the canon, so to speak. Although, regardless of why I like it, I really, really do.</p>\n\n\n\n<p><a href=\"https://www.chicagoreader.com/Bleader/archives/2015/05/17/horror-director-mario-bavas-five-best-films\">Here&#8217;s some other great Bava films</a>.</p>\n\n\n\n<p>I couldn&#8217;t really find much on the topic of class in Bava&#8217;s films. I&#8217;m certain that I read about it at least once, unless I am thinking of Lucio Fulci. Please shoot me a tweet if you are aware of scholarship on the subject.</p>\n","protected":false},"excerpt":{"rendered":"<p>Our first time covering Mario Bava on this show! Gothic chiller Black Sunday is this month&#8217;s entry in our series on foreign horror films before 1979.</p>\n","protected":false},"author":1,"featured_media":584,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[19,113],"post-meta-fields":{"_edit_last":["1"],"_thumbnail_id":["584"],"enclosure":["https://audio.simplecast.com/4fb55989.mp3\n49436473\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:51:25\";}"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128456;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:527;}i:1;a:1:{s:2:\"id\";i:576;}i:2;a:1:{s:2:\"id\";i:279;}}}}"],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"dsq_thread_id":["6252680775"],"_edit_lock":["1571861113:1"]},"episode-data":{"id":583,"feed":"podcast","url":"https://audio.simplecast.com/4fb55989.mp3","duration":"0:51:25","size":"49436473","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/black-sunday-alt.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/583"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=583"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/583/revisions"}],"predecessor-version":[{"id":812,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/583/revisions/812"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/584"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=583"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=583"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=583"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>