<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":448,"date":"2016-07-11T14:22:34","date_gmt":"2016-07-11T18:22:34","guid":{"rendered":"http://goldenagehorror.com/?p=448"},"modified":"2019-10-10T14:33:15","modified_gmt":"2019-10-10T14:33:15","slug":"episode-29-masque-red-death","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/07/11/episode-29-masque-red-death/","title":{"rendered":"Episode 29 &#8211; The Masque of the Red Death (1964)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"761\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/022414masque_of_red_death_poster_031-1024x761-1024x761.jpg\" alt=\"\" class=\"wp-image-712\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/022414masque_of_red_death_poster_031-1024x761.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/022414masque_of_red_death_poster_031-1024x761-300x223.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/022414masque_of_red_death_poster_031-1024x761-768x571.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This week, on the 29th episode of the GoldenAgeHorror.com podcast, Andrew and Matt discuss The Masque of the Red Death. We also approach some insight about the merit of discussing movies and reviews in general.</p>\n\n\n\n<!--more-->\n\n\n\n<p>I think it&#8217;s hilarious that at one point at the beginning of the episode, I give a nice speech about the pointlessness of ranking movies and then later in the episode, make a point to say that this movie is in my top 5. Well thought out viewpoints.</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Masque_of_the_Red_Death_(1964_film)\">The film on Wikipedia</a></p>\n\n\n\n<p><a href=\"http://poestories.com/read/masque\">The original Edgar Allan Poe story, one of my favorite short stories ever</a></p>\n\n\n\n<p>Hop Frog gets his revenge</p>\n\n\n\n<p><a href=\"http://poestories.com/read/hop-frog\">Hopfrog by Edgar Allan Poe</a></p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Hazel_Court\">Hazel Court</a></p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Samuel_Z._Arkoff\">Samuel Z Arkoff</a></p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"742\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/barry-lyndon-poster-742x1024.png\" alt=\"\" class=\"wp-image-711\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/barry-lyndon-poster-742x1024.png 742w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/barry-lyndon-poster-217x300.png 217w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/barry-lyndon-poster-768x1060.png 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/barry-lyndon-poster.png 800w\" sizes=\"(max-width: 742px) 100vw, 742px\" /></figure>\n","protected":false},"excerpt":{"rendered":"<p>This week, on the 29th episode of the GoldenAgeHorror.com podcast, Andrew and Matt discuss The Masque of the Red Death. We also approach some insight about the merit of discussing movies and reviews in general.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[49,58,115,138,148,174],"post-meta-fields":{"_edit_last":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592502;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:459;}i:1;a:1:{s:2:\"id\";i:535;}i:2;a:1:{s:2:\"id\";i:428;}i:3;a:1:{s:2:\"id\";i:472;}i:4;a:1:{s:2:\"id\";i:171;}i:5;a:1:{s:2:\"id\";i:527;}}}}"],"_yoast_wpseo_focuskw_text_input":["the masque of the red death"],"_yoast_wpseo_focuskw":["the masque of the red death"],"_yoast_wpseo_linkdex":["47"],"_yoast_wpseo_content_score":["60"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73760.mp3\n23827922\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:24:44\";}"],"dsq_thread_id":["5680396832"],"_wpghs_github_path":["_posts/2016-07-11-episode-29-masque-red-death.md"],"_sha":["fe6b996dff8fd05d57f89b0f4b4009bee44bdd73"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570717995:1"]},"episode-data":{"id":448,"feed":"podcast","url":"https://audio.simplecast.com/73760.mp3","duration":"0:24:44","size":"23827922","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/022414masque_of_red_death_poster_031-1024x761-1024x761.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/448"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=448"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/448/revisions"}],"predecessor-version":[{"id":743,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/448/revisions/743"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=448"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=448"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=448"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>