<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":824,"date":"2019-12-18T10:31:40","date_gmt":"2019-12-18T10:31:40","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=824"},"modified":"2019-12-18T14:43:26","modified_gmt":"2019-12-18T14:43:26","slug":"episode-54-the-devil-rides-out-1968","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/12/18/episode-54-the-devil-rides-out-1968/","title":{"rendered":"Episode 54 – The Devil Rides Out (1968)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"650\" height=\"388\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2019/12/image-asset.jpeg\" alt=\"\" class=\"wp-image-822\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2019/12/image-asset.jpeg 650w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2019/12/image-asset-300x179.jpeg 300w\" sizes=\"(max-width: 650px) 100vw, 650px\" /></figure>\n\n\n\n<p>Christoper Lee wields the good, good magic.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><strong>The Devil Rides Out</strong>&nbsp;was released in 1968, stars Christopher Lee and Charles Gray, and was directed by Terence Fisher.</p>\n\n\n\n<p>We watched <a href=\"https://amzn.to/35zneno\">the Scream Factory version</a>, which has some great extras.</p>\n\n\n\n<p>Matt recommends <a href=\"https://en.wikipedia.org/wiki/The_Cook,_the_Thief,_His_Wife_%26_Her_Lover\">The Cook, the Thief, His Wife, and Her Lover</a>.</p>\n\n\n\n<p>Andrew recommends <a href=\"https://amzn.to/35yreEn\">The Drifting Classroom</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Christoper Lee wields the good, good magic.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,7],"tags":[],"post-meta-fields":{"_edit_lock":["1581519269:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/ec39fc62-af25-4817-b84c-9613ae06fe32/devil-rides-out-final_tc.mp3\n67074969\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"1:09:52\";}"],"_wp_old_slug":["episode-54-the-devil-rides-out-1968-corrected"]},"episode-data":{"id":824,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/ec39fc62-af25-4817-b84c-9613ae06fe32/devil-rides-out-final_tc.mp3","duration":"1:09:52","size":"67074969","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2019/12/image-asset.jpeg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/824"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=824"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/824/revisions"}],"predecessor-version":[{"id":827,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/824/revisions/827"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=824"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=824"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=824"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>