<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":379,"date":"2015-07-15T00:03:48","date_gmt":"2015-07-15T04:03:48","guid":{"rendered":"http://goldenagehorror.com/?p=379"},"modified":"2019-09-16T18:42:40","modified_gmt":"2019-09-16T18:42:40","slug":"episode-21-son-of-frankenstein","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/07/15/episode-21-son-of-frankenstein/","title":{"rendered":"Episode 21 &#8211; Son of Frankenstein (1939)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1000\" height=\"745\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/son-of-frankenstein.jpg\" alt=\"\" class=\"wp-image-683\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/son-of-frankenstein.jpg 1000w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/son-of-frankenstein-300x224.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/son-of-frankenstein-768x572.jpg 768w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" /></figure>\n\n\n\n<p>Andrew and Matt talk (for the second time) about middling Frankenstein picture SON OF FRANKENSTEIN, which features the impressive cast of Boris Karloff, Bela Lugosi, Basil Rathbone, and Lionel Atwill. Sorry about the slight echo!</p>\n\n\n\n<!--more-->\n\n\n\n<p><a href=\"http://www.nytimes.com/movies/movie/45612/Son-of-Frankenstein/overview\">New York Times Review of the Film</a><br><a href=\"http://www.tcm.com/tcmdb/title/90804/Son-of-Frankenstein/\">TCM&#8217;s page on the film</a><br><a href=\"http://cinemassacre.com/2011/10/03/3-son-of-frankenstein/\">A video review</a><br><a href=\"http://www.amazon.com/gp/product/B00005LC4L/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00005LC4L&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=4DMAMBVBQOKWH73Z\">Buy on Amazon</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt talk (for the second time) about middling Frankenstein picture SON OF FRANKENSTEIN, which features the impressive cast of Boris Karloff, Bela Lugosi, Basil Rathbone, and Lionel Atwill. Sorry about the slight echo!</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[20,23,29,67,117],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73752.mp3\n18137782\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:18:49\";}"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592510;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:294;}i:1;a:1:{s:2:\"id\";i:42;}i:2;a:1:{s:2:\"id\";i:78;}i:3;a:1:{s:2:\"id\";i:376;}i:4;a:1:{s:2:\"id\";i:330;}i:5;a:1:{s:2:\"id\";i:114;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5795661849"],"_wpghs_github_path":["_posts/2015-07-15-episode-21-son-of-frankenstein.md"],"_sha":["fea227c26b642c1b1f21b90f85ef91ca70835b77"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["60"],"_edit_lock":["1568659360:1"]},"episode-data":{"id":379,"feed":"podcast","url":"https://audio.simplecast.com/73752.mp3","duration":"0:18:49","size":"18137782","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/son-of-frankenstein.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/379"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=379"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/379/revisions"}],"predecessor-version":[{"id":685,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/379/revisions/685"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=379"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=379"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=379"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>