<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":207,"date":"2014-11-25T22:26:37","date_gmt":"2014-11-26T03:26:37","guid":{"rendered":"http://goldenagehorror.com/?p=207"},"modified":"2019-09-13T18:01:45","modified_gmt":"2019-09-13T18:01:45","slug":"episode-7-white-zombie","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/11/25/episode-7-white-zombie/","title":{"rendered":"Episode 7 &#8211; White Zombie (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"796\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-White-Zombie_21-1024x796-1024x796.jpg\" alt=\"\" class=\"wp-image-643\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-White-Zombie_21-1024x796.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-White-Zombie_21-1024x796-300x233.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-White-Zombie_21-1024x796-768x597.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This week, we talk about the 1932 horror classic, White Zombie, the first American movies to feature zombies.</p>\n\n\n\n<!--more-->\n\n\n\n<p><a title=\"And You Call Yourself A Scientist - White Zombie\" href=\"http://www.aycyas.com/whitezombie.htm\">You Call Yourself a Scientist?&#8217;s Review of the movie</a></p>\n\n\n\n<p><a title=\"TCM on White Zombie\" href=\"http://www.aycyas.com/whitezombie.htm\">TCM Review of the movie</a></p>\n\n\n\n<p><a title=\"Madge Bellamy\" href=\"http://en.wikipedia.org/wiki/Madge_Bellamy\">Madge Bellamy</a></p>\n\n\n\n<p>The piano scene that Andrew really liked happens at right around the 39 minute mark</p>\n\n\n\n<p>This movie is in the public domain!</p>\n\n\n\n<p>Further reading on Voodoo in Haiti, if you&#8217;re so inclined:</p>\n\n\n\n<p><a href=\"http://www.amazon.com/gp/product/B0043RSJ5O/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B0043RSJ5O&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=RJHLVJUBQGJOXIYU\">The Serpent and the Rainbow</a> by Wade Davis<br><a href=\"http://www.amazon.com/gp/product/B0013L2BN4/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B0013L2BN4&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=DWHKOGKNF5GLVVW3\">Tell My Horse</a> by Zora Neale Hurston<br><a href=\"http://www.amazon.com/gp/product/0805208941/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0805208941&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=ZSQXNWL5324R7YN3\">Voodoo in Haiti</a> by Alfred Metreaux</p>\n","protected":false},"excerpt":{"rendered":"<p>This week, we talk about the 1932 horror classic, White Zombie, the first American movies to feature zombies.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[109,180],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73738.mp3\n23423481\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:24:19\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592516;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:205;}i:1;a:1:{s:2:\"id\";i:139;}i:2;a:1:{s:2:\"id\";i:165;}i:3;a:1:{s:2:\"id\";i:230;}i:4;a:1:{s:2:\"id\";i:177;}i:5;a:1:{s:2:\"id\";i:306;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5801425945"],"_wpghs_github_path":["_posts/2014-11-25-episode-7-white-zombie.md"],"_sha":["673fbdf1e15b0dcec11350caeb6f71b54d6c0b9c"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_ac477c360e17a0a9e6230a8f1ca60864":["{{unknown}}"],"_oembed_211517d1d1baee9dd1120076d10d19c5":["{{unknown}}"],"_edit_lock":["1568397705:1"],"_oembed_6dd0b06d1b770b102b6ce07cc629bbbd":["{{unknown}}"]},"episode-data":{"id":207,"feed":"podcast","url":"https://audio.simplecast.com/73738.mp3","duration":"0:24:19","size":"23423481","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-White-Zombie_21-1024x796-1024x796.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/207"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=207"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/207/revisions"}],"predecessor-version":[{"id":644,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/207/revisions/644"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=207"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=207"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=207"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>