<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":551,"date":"2017-07-09T14:01:30","date_gmt":"2017-07-09T18:01:30","guid":{"rendered":"http://goldenagehorror.com/?p=551"},"modified":"2019-10-10T14:41:35","modified_gmt":"2019-10-10T14:41:35","slug":"episode-39-nosferatu-vampyre-1979","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/07/09/episode-39-nosferatu-vampyre-1979/","title":{"rendered":"Episode 39 &#8211; Nosferatu the Vampyre (1979)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"576\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/l1LBCwq8GLVZCE3ysdmMNGOaUh5-1024x576-1024x576.jpg\" alt=\"\" class=\"wp-image-752\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/l1LBCwq8GLVZCE3ysdmMNGOaUh5-1024x576.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/l1LBCwq8GLVZCE3ysdmMNGOaUh5-1024x576-300x169.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/l1LBCwq8GLVZCE3ysdmMNGOaUh5-1024x576-768x432.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Andrew and Matt discuss the Herzog art house interpretation of both the Stoker tale and the Murnau film.</p>\n\n\n\n<!--more-->\n\n\n\n<p>Jonathan Harker journeys to Transylvania in order to sell a house in bucolic Wismer to a mysterious noblemen. Nightmare after nightmare follows.</p>\n\n\n\n<p>Nosferatu the Vampyre came out in 1979 and was directed by Werner Herzog and stars Klaus Kinski. This is a famous pairing, explored by Herzog in <a href=\"https://en.wikipedia.org/wiki/My_Best_Fiend\">My Best Fiend</a>.</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1000\" height=\"671\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/nosferatu-the-vampyre-1979-005-klaus-kinski-biting-natassja-kinski-neck.jpg\" alt=\"\" class=\"wp-image-753\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/nosferatu-the-vampyre-1979-005-klaus-kinski-biting-natassja-kinski-neck.jpg 1000w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/nosferatu-the-vampyre-1979-005-klaus-kinski-biting-natassja-kinski-neck-300x201.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/nosferatu-the-vampyre-1979-005-klaus-kinski-biting-natassja-kinski-neck-768x515.jpg 768w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" /></figure>\n\n\n\n<p>We watched<a href=\"http://amzn.to/2u6L0I1\"> the Shout Factory edition of Nosferatu the Vampyre</a>, which, although light on special features, is <a href=\"https://www.shoutfactory.com/product/nosferatu-the-vampyre\">a great transfer of the film</a>.</p>\n\n\n\n<p>Be warned &#8211; we are both enjoying a cup of Earl Grey, hot during this episode and there is the occasional tea slurping noise, as well as pug breathing noises throughout. That&#8217;s Frankie.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt discuss the Herzog art house interpretation of both the Stoker tale and the Murnau film.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/76382.mp3\n40785554\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:42:24\";}"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128480;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:540;}i:1;a:1:{s:2:\"id\";i:589;}i:2;a:1:{s:2:\"id\";i:583;}}}}"],"dsq_thread_id":["5976149976"],"_edit_lock":["1570718495:1"]},"episode-data":{"id":551,"feed":"podcast","url":"https://audio.simplecast.com/76382.mp3","duration":"00:42:24","size":"40785554","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/l1LBCwq8GLVZCE3ysdmMNGOaUh5-1024x576-1024x576.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/551"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=551"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/551/revisions"}],"predecessor-version":[{"id":755,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/551/revisions/755"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=551"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=551"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=551"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>