<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":306,"date":"2015-01-29T21:10:13","date_gmt":"2015-01-30T02:10:13","guid":{"rendered":"http://goldenagehorror.com/?p=306"},"modified":"2019-09-13T20:00:29","modified_gmt":"2019-09-13T20:00:29","slug":"episode-14-old-dark-house","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/29/episode-14-old-dark-house/","title":{"rendered":"Episode 15 &#8211; The Old Dark House (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"907\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark-1024x907.jpg\" alt=\"\" class=\"wp-image-665\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark-1024x907.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark-300x266.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark-768x680.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark.jpg 1525w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Andrew and Matt talk about the 1932 old dark house film, <em>THE OLD DARK HOUSE</em>.</p>\n\n\n\n<p>Have a potato?</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/P8vIR1Q5QLg?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>Based on novel <a href=\"http://www.amazon.com/gp/product/1939140234/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=1939140234&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=PXYB3KHM6USSXSL4\">Benighted</a>&nbsp;by JB Priestley</p>\n\n\n\n<p>Acting is very good in this movie (<a href=\"http://en.wikipedia.org/wiki/Ernest_Thesiger\">Ernest Thesiger</a>, <a href=\"http://en.wikipedia.org/wiki/Charles_Laughton\">Charles Laughton</a>, for example)</p>\n\n\n\n<p><a href=\"http://www.forcesofgeek.com/2014/01/old-dark-house-movies-twisty-mysteries.html\">The Old Dark House was actually a genre they were satirizing. See &#8220;The Cat and the Canary.&#8221;</a></p>\n\n\n\n<p>Single set, very stagey, but also doesn&#8217;t feel limiting, instead serves the mood</p>\n\n\n\n<p>Pervades with Class, a common James Whale theme, as well as the humor particular to his horror pictures</p>\n\n\n\n<p><em>The Old Dark House</em> was lost for a long time, restored in 1968.</p>\n\n\n\n<p>A&nbsp;<a href=\"http://cinemassacre.com/2009/10/04/04-the-old-dark-house-1932/\">Video review</a></p>\n\n\n\n<p><a href=\"http://celluloidwickerman.com/2013/02/21/the-old-dark-house-1932-symbolism-class-and-taboo-james-whale/\">A great article on the Celluloid WickerMan blog&nbsp;</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt talk about the 1932 old dark house film, THE OLD DARK HOUSE. Have a potato?</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[73,92,99,118,129],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73746.mp3\n21127631\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:21:56\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592512;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:78;}i:1;a:1:{s:2:\"id\";i:301;}i:2;a:1:{s:2:\"id\";i:151;}i:3;a:1:{s:2:\"id\";i:148;}i:4;a:1:{s:2:\"id\";i:205;}i:5;a:1:{s:2:\"id\";i:42;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["3469063085"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-01-29-episode-14-old-dark-house.md"],"_sha":["4990e26e60d5ca34501be4430e1a957caf6df187"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_dc5cc87f94d8bcca5f5be3b5cd7003c6":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/P8vIR1Q5QLg?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_dc5cc87f94d8bcca5f5be3b5cd7003c6":["1498659220"],"_oembed_cfff0b45cbf92a5b1e758dba720c12af":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/P8vIR1Q5QLg?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_cfff0b45cbf92a5b1e758dba720c12af":["1558442093"],"_edit_lock":["1568657521:1"]},"episode-data":{"id":306,"feed":"podcast","url":"https://audio.simplecast.com/73746.mp3","duration":"0:21:56","size":"21127631","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/old-dark-1024x907.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/306"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=306"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/306/revisions"}],"predecessor-version":[{"id":666,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/306/revisions/666"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=306"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=306"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=306"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>