<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":489,"date":"2016-11-12T15:47:36","date_gmt":"2016-11-12T20:47:36","guid":{"rendered":"http://goldenagehorror.com/?p=489"},"modified":"2019-10-10T14:34:42","modified_gmt":"2019-10-10T14:34:42","slug":"episode-33-witchfinder-generalthe-conqueror-worm","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/11/12/episode-33-witchfinder-generalthe-conqueror-worm/","title":{"rendered":"Episode 33 – The Witchfinder General/The Conqueror Worm (1968)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"797\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/conqueror_worm_poster_02-1024x797-1024x797.jpg\" alt=\"\" class=\"wp-image-725\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/conqueror_worm_poster_02-1024x797.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/conqueror_worm_poster_02-1024x797-300x233.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/conqueror_worm_poster_02-1024x797-768x598.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Halloween is over and the world has taken a dark, strange turn. In response, Andrew and Matt watch the dark, strange 1968 Vincent Price film&nbsp;<em>The Witchfinder General.</em></p>\n\n\n\n<!--more-->\n\n\n\n<p>Matthew Hopkins was &nbsp;a real, terrible person. <a href=\"https://en.wikipedia.org/wiki/Matthew_Hopkins\">You can find out more about him on Wikipedia</a>. You can also find out more information <a href=\"https://en.wikipedia.org/wiki/Witch_trials_in_the_early_modern_period\">on witch trials in England</a>. And more about <a href=\"https://en.wikipedia.org/wiki/English_Civil_War\">the English Civil War.</a> Everything I learned about the English Civil War, <a href=\"http://amzn.to/2fLuEt5\">I learned from Luther Arkwright</a>.</p>\n\n\n\n<p>Andrew and I get a little philosophical on this one. Hope that doesn&#8217;t bother you too much. We also talk about Star Trek for awhile, and I also mention <a href=\"http://amzn.to/2g0I8GK\">A Field in England</a> and we talk briefly about <a href=\"http://www.folkhorror.com/\">Folk horror</a>. I&#8217;d like to write more about that subject as time goes on &#8211; hopefully I can find the time to do so.</p>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"450\" height=\"658\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/WitchfinderGeneral_Vince_LG.gif\" alt=\"\" class=\"wp-image-726\"/><figcaption>Look at this shirt I found</figcaption></figure></div>\n\n\n\n<h3><strong>The Cast of Characters</strong></h3>\n\n\n\n<p><em>Vincent Price</em>&nbsp;as&nbsp;Matthew Hopkins<br><em>Ian Oglivy</em>&nbsp;as&nbsp;Richard Marshall<br><em>Hilary Dwyer</em> as Sara<br><em>Rupert Davies</em> as John Lowes<br><em>Robert Russell</em> as John Stearne<br><em>Patrick Wymark</em> as Oliver Cromwell.<br><a href=\"http://amzn.to/2g0Nj9h\">Buy the Witchfinder General on Amazon</a></p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/fPYdUdp87GQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>Halloween is over and the world has taken a dark, strange turn. In response, Andrew and Matt watch the dark, strange 1968 Vincent Price film&nbsp;The Witchfinder General.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[15,58,122,174,182],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_content_score":["90"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128505;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:535;}i:1;a:1:{s:2:\"id\";i:459;}i:2;a:1:{s:2:\"id\";i:428;}}}}"],"enclosure":["https://audio.simplecast.com/73771.mp3\n35705114\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:37:13\";}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667751348"],"_wpghs_github_path":["_posts/2016-11-12-episode-33-witchfinder-generalthe-conqueror-worm.md"],"_sha":["ec359d924c2c8ae9d535f38aa609ebc4e084749d"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_oembed_f130608f489dd7ea540539ae2d50dcdf":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/fPYdUdp87GQ?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_f130608f489dd7ea540539ae2d50dcdf":["1498657924"],"_oembed_6b6324390e1eb43b56b7de4ed2c9246a":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/fPYdUdp87GQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_6b6324390e1eb43b56b7de4ed2c9246a":["1558442084"],"_edit_lock":["1570718085:1"],"_oembed_610b846fb544f66ea2c18d972f6c99be":["<iframe title=\"Witchfinder General - Death Penalty (Full Vinyl LP Album) [1982]\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/fPYdUdp87GQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_610b846fb544f66ea2c18d972f6c99be":["1568921605"]},"episode-data":{"id":489,"feed":"podcast","url":"https://audio.simplecast.com/73771.mp3","duration":"0:37:13","size":"35705114","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/conqueror_worm_poster_02-1024x797-1024x797.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/489"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=489"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/489/revisions"}],"predecessor-version":[{"id":745,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/489/revisions/745"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=489"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=489"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=489"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>