<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":796,"date":"2019-09-27T12:16:32","date_gmt":"2019-09-27T16:16:32","guid":{"rendered":"https://goldenagehorror.com/?p=632"},"modified":"2019-10-10T15:06:10","modified_gmt":"2019-10-10T15:06:10","slug":"episode-52-phantasm-1979","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/09/27/episode-52-phantasm-1979/","title":{"rendered":"Episode 52 &#8211; Phantasm (1979)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"640\" height=\"961\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/MPW-106913.jpg\" alt=\"\" class=\"wp-image-807\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/MPW-106913.jpg 640w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/MPW-106913-200x300.jpg 200w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></figure>\n\n\n\n<p>Matt and Andrew drift in and out of the dreamy indie PHANTASM.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><strong>Phantasm</strong>&nbsp;was released in 1979 stars Angus Scrimm, Michael Baldwin, and Reggie Bannister, and was directed by Don Coscarelli.</p>\n\n\n\n<p>Here is a great version of the soundtrack <a href=\"https://instdel.bandcamp.com/album/you-play-a-good-game-boy\">done up chiptune style on bandcamp.</a></p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Phantasm Theme Song\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/i3ieQxm_M2I?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div><figcaption>the score to this movie is phenomenal!</figcaption></figure>\n\n\n\n<p>If you&#8217;d like to experience the film in your own home <a href=\"https://amzn.to/2m9GiHr\">there is a recent remastering of the film available on blu-ray</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Matt and Andrew drift in and out of the dreamy indie PHANTASM.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1570596842;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:583;}i:1;a:1:{s:2:\"id\";i:589;}i:2;a:1:{s:2:\"id\";i:551;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_yoast_wpseo_content_score":["90"],"_oembed_de4b0240ed7bd74b59985fb14dbf5cdd":["{{unknown}}"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1413b1b1-e736-49e4-b8cc-1cdddc9c3de9/phantasm-final_tc.mp3\n26804602\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:27:55\";}"],"_wpas_done_all":["1"],"_oembed_1da630707f407cf0fd799f607e17d825":["<iframe title=\"Phantasm Theme Song\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/i3ieQxm_M2I?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_1da630707f407cf0fd799f607e17d825":["1570719606"],"_edit_lock":["1573236944:1"]},"episode-data":{"id":796,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1413b1b1-e736-49e4-b8cc-1cdddc9c3de9/phantasm-final_tc.mp3","duration":"0:27:55","size":"26804602","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/MPW-106913.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/796"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=796"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/796/revisions"}],"predecessor-version":[{"id":808,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/796/revisions/808"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=796"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=796"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=796"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>