<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":340,"date":"2015-02-12T21:33:47","date_gmt":"2015-02-13T02:33:47","guid":{"rendered":"http://goldenagehorror.com/?p=340"},"modified":"2019-09-16T18:15:36","modified_gmt":"2019-09-16T18:15:36","slug":"episode-17-vampyr-fugue-state-masquerading-movie","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/02/12/episode-17-vampyr-fugue-state-masquerading-movie/","title":{"rendered":"Episode 17 &#8211; Vampyr (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"500\" height=\"668\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Vampyr.jpg\" alt=\"\" class=\"wp-image-667\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Vampyr.jpg 500w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Vampyr-225x300.jpg 225w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt discuss the freaky surrealistic dreamscape Vampyr, directed by Carl Dryer.</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"910\" height=\"1000\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/final_draft_html_3da1efaa.jpg\" alt=\"\" class=\"wp-image-668\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/final_draft_html_3da1efaa.jpg 910w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/final_draft_html_3da1efaa-273x300.jpg 273w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/final_draft_html_3da1efaa-768x844.jpg 768w\" sizes=\"(max-width: 910px) 100vw, 910px\" /></figure>\n\n\n\n<p>Not much to tell this week:</p>\n\n\n\n<p><a href=\"http://www.criterion.com/explore/131-carl-th-dreyer\">Carl Theodor Dryer</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Nicolas_de_Gunzburg\">Nicolas de Gunzburg</a></p>\n\n\n\n<p><a href=\"http://sasha.sanguinarius.org/spelling.htm\">A heated debate</a></p>\n\n\n\n<p><a href=\"http://sasha.sanguinarius.org/spelling.htm\">Fugue state</a></p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt discuss the freaky surrealistic dreamscape Vampyr, directed by Carl Dryer.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[57,71,79,108,170],"post-meta-fields":{"_edit_last":["1"],"_oembed_ccaa9903ccd9d659d3b49bf9a4a31e1b":["<iframe width=\"676\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=676&maxheight=1000\"></iframe>"],"_oembed_time_ccaa9903ccd9d659d3b49bf9a4a31e1b":["1498526083"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73748.mp3\n21167560\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:21:58\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128476;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:279;}i:1;a:1:{s:2:\"id\";i:480;}i:2;a:1:{s:2:\"id\";i:448;}}}}"],"dsq_thread_id":["5750403940"],"_wpghs_github_path":["_posts/2015-02-12-episode-17-vampyr-fugue-state-masquerading-movie.md"],"_sha":["be1bcff7e760d48f71a5db7aa22cc66bfd5b356a"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_dc2c3f7c3be6e719565978db3bf3541c":["<iframe width=\"640\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=640&maxheight=960\"></iframe>"],"_oembed_time_dc2c3f7c3be6e719565978db3bf3541c":["1500474593"],"_oembed_b2720b7c4bf49524db3a27fe2a9cbd30":["<iframe width=\"500\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=500&maxheight=750&dnt=1\"></iframe>"],"_oembed_time_b2720b7c4bf49524db3a27fe2a9cbd30":["1558442092"],"_edit_lock":["1568657736:1"],"_oembed_5489f591a3b801a9aaa3cd6a99e8e233":["<iframe title=\"DuBoLoGy - Swan Lake Dub - angeldustrecords.bandcamp.com/album/dub-lab by DuBoLoGy\" width=\"580\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=580&maxheight=870&dnt=1\"></iframe>"],"_oembed_time_5489f591a3b801a9aaa3cd6a99e8e233":["1568657669"]},"episode-data":{"id":340,"feed":"podcast","url":"https://audio.simplecast.com/73748.mp3","duration":"0:21:58","size":"21167560","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Vampyr.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/340"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=340"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/340/revisions"}],"predecessor-version":[{"id":669,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/340/revisions/669"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=340"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=340"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=340"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>