<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":897,"date":"2021-04-03T16:40:14","date_gmt":"2021-04-03T16:40:14","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=897"},"modified":"2021-04-03T16:40:15","modified_gmt":"2021-04-03T16:40:15","slug":"episode-62-the-thing-from-another-world-apology-tour","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/04/03/episode-62-the-thing-from-another-world-apology-tour/","title":{"rendered":"Episode 62 &#8211; The Thing from Another World Apology Tour"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"791\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World-1024x791.jpg\" alt=\"\" class=\"wp-image-898\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World-1024x791.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World-300x232.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World-768x593.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World.jpg 1036w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>I messed up and lost my audio for this one, so treat yourself to two excerpts from recent <a href=\"https://www.patreon.com/goldenagehorror\">Patreon</a> content &#8211; THE THING (1982) and INVASION OF THE BODY SNATCHERS (1956)</p>\n","protected":false},"excerpt":{"rendered":"<p>I messed up and lost my audio for this one, so treat yourself to two excerpts from recent Patreon content &#8211; THE THING (1982) and INVASION OF THE BODY SNATCHERS (1956)</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1617468017:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/2db73df6-c2dc-4f40-8783-79a6dea0cb14/audio/aa60bb31-b7f6-4ebf-9989-acada6643d71/default_tc.mp3\n36033977\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:37:32\";s:8:\"explicit\";s:1:\"0\";}"],"patreon_link":[""],"_patreon_link":["field_601f056b85def"]},"episode-data":{"id":897,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/2db73df6-c2dc-4f40-8783-79a6dea0cb14/audio/aa60bb31-b7f6-4ebf-9989-acada6643d71/default_tc.mp3","duration":"00:37:32","size":"36033977","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/Howard-Hawks-The-Thing-From-Another-World-1024x791.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/897"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=897"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/897/revisions"}],"predecessor-version":[{"id":899,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/897/revisions/899"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=897"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=897"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=897"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>