<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":287,"date":"2015-01-08T17:58:14","date_gmt":"2015-01-08T17:58:14","guid":{"rendered":"http://goldenagehorror.com/?p=287"},"modified":"2019-09-13T19:56:05","modified_gmt":"2019-09-13T19:56:05","slug":"episode-12-frankenstein","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/08/episode-12-frankenstein/","title":{"rendered":"Episode 12 &#8211; Frankenstein (1931)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"600\" height=\"825\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/frankenstein-record-1.jpg\" alt=\"\" class=\"wp-image-657\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/frankenstein-record-1.jpg 600w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/frankenstein-record-1-218x300.jpg 218w\" sizes=\"(max-width: 600px) 100vw, 600px\" /></figure>\n\n\n\n<p>Andew and Matt are Alive!!!!!!! Kicking off James Whale January with &#8220;Frankenstein&#8221; the 1931 film starring Boris Karloff.</p>\n\n\n\n<!--more-->\n\n\n\n<p><a title=\"Frankenstein on Gutenberg\" href=\"http://www.gutenberg.org/files/84/84-h/84-h.htm\">Read the full text of Frankenstein</a></p>\n\n\n\n<p><a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a></p>\n\n\n\n<p><a title=\"James Whale\" href=\"http://goldenagehorror.com/james-whale/\">James Whale</a></p>\n\n\n\n<p>Praying Mantis Dracula on Youtube:</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/ssE_6DmL_dk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>Its Alive:</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/xos2MnVxe-c?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>Andew and Matt are Alive!!!!!!! Kicking off James Whale January with &#8220;Frankenstein&#8221; the 1931 film starring Boris Karloff.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[29,59,67,92,93,139],"post-meta-fields":{"_edit_last":["1"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73743.mp3\n24209043\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:25:08\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592513;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:294;}i:1;a:1:{s:2:\"id\";i:61;}i:2;a:1:{s:2:\"id\";i:376;}i:3;a:1:{s:2:\"id\";i:78;}i:4;a:1:{s:2:\"id\";i:379;}i:5;a:1:{s:2:\"id\";i:42;}}}}"],"dsq_thread_id":["5680407004"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-01-08-episode-12-frankenstein.md"],"_sha":["7b879c9c92c25949e9373ca6b591e6e03fd3f48b"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_443e83709724811df8fdd63a76994213":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/ssE_6DmL_dk?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_443e83709724811df8fdd63a76994213":["1498666334"],"_oembed_42571f66176716c53c18218ee7799c62":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/xos2MnVxe-c?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_42571f66176716c53c18218ee7799c62":["1498666334"],"_oembed_d0f4719f75994abe86c1b02538bf99d9":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/ssE_6DmL_dk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_d0f4719f75994abe86c1b02538bf99d9":["1558442093"],"_oembed_12db4df03cb75a0f97c544df77f29b1a":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/xos2MnVxe-c?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_12db4df03cb75a0f97c544df77f29b1a":["1558442093"],"_edit_lock":["1568404565:1"],"_oembed_ec7ac33f55bbb2bc387ec2dc13ff71cc":["<iframe title=\"Dracula 3D - giant praying mantis\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/ssE_6DmL_dk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ec7ac33f55bbb2bc387ec2dc13ff71cc":["1568404457"],"_oembed_593f911ad502c7a50688fd3bfbf9bb4a":["<iframe title=\"&quot;It&#039;s Alive!!!&quot;\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/xos2MnVxe-c?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_593f911ad502c7a50688fd3bfbf9bb4a":["1568404458"]},"episode-data":{"id":287,"feed":"podcast","url":"https://audio.simplecast.com/73743.mp3","duration":"0:25:08","size":"24209043","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/frankenstein-record-1.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/287"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=287"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/287/revisions"}],"predecessor-version":[{"id":659,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/287/revisions/659"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=287"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=287"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=287"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>