<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":301,"date":"2015-01-22T22:01:18","date_gmt":"2015-01-23T03:01:18","guid":{"rendered":"http://goldenagehorror.com/?p=301"},"modified":"2019-09-13T19:58:49","modified_gmt":"2019-09-13T19:58:49","slug":"episode-14-invisible-man","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/22/episode-14-invisible-man/","title":{"rendered":"Episode 14 &#8211; The Invisible Man (1933)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"651\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/invisibleman_large-651x1024.jpg\" alt=\"\" class=\"wp-image-662\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/invisibleman_large-651x1024.jpg 651w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/invisibleman_large-191x300.jpg 191w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/invisibleman_large.jpg 680w\" sizes=\"(max-width: 651px) 100vw, 651px\" /></figure>\n\n\n\n<p>Andrew and Matt talk about the 1933 James Whale directed horror film THE INVISIBLE MAN, which stars Claude Rains and the everpresent Una O&#8217;Connor.</p>\n\n\n\n<!--more-->\n\n\n\n<ul><li><a title=\"Invisible Man by HG Wells\" href=\"https://www.gutenberg.org/files/5230/5230-h/5230-h.htm\">Invisible Man on Project Gutenberg</a></li><li>Check out this cool poster by <a title=\"Franseco Francavilla\" href=\"https://twitter.com/f_francavilla\">Francesco Francavilla</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt talk about the 1933 James Whale directed horror film THE INVISIBLE MAN, which stars Claude Rains and the everpresent Una O&#8217;Connor.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[43,87,92,93,167],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592512;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:78;}i:1;a:1:{s:2:\"id\";i:294;}i:2;a:1:{s:2:\"id\";i:205;}i:3;a:1:{s:2:\"id\";i:123;}i:4;a:1:{s:2:\"id\";i:114;}i:5;a:1:{s:2:\"id\";i:472;}}}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73745.mp3\n19712648\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:20:27\";}"],"dsq_thread_id":["3447146750"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-01-22-episode-14-invisible-man.md"],"_sha":["6330793e81ec49c81b1c16c8f3c90bd8d6ef83ca"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_edit_lock":["1568404730:1"]},"episode-data":{"id":301,"feed":"podcast","url":"https://audio.simplecast.com/73745.mp3","duration":"00:20:27","size":"19712648","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/invisibleman_large-651x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/301"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=301"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/301/revisions"}],"predecessor-version":[{"id":664,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/301/revisions/664"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=301"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=301"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=301"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>