<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":535,"date":"2017-05-09T12:00:28","date_gmt":"2017-05-09T16:00:28","guid":{"rendered":"http://goldenagehorror.com/?p=535"},"modified":"2019-09-19T19:55:52","modified_gmt":"2019-09-19T19:55:52","slug":"episode-37-house-wax","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/05/09/episode-37-house-wax/","title":{"rendered":"Episode 37 &#8211; House of Wax (1953)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"792\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax-1024x792.jpg\" alt=\"\" class=\"wp-image-739\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax-1024x792.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax-300x232.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax-768x594.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax.jpg 1396w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>In the final episode of our Vincent Price series, Andrew and Matt enjoy some paddleball theatrics.</p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"480\" height=\"352\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-Wax-cracks.jpg\" alt=\"\" class=\"wp-image-740\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-Wax-cracks.jpg 480w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-Wax-cracks-300x220.jpg 300w\" sizes=\"(max-width: 480px) 100vw, 480px\" /></figure></div>\n\n\n\n<h2>Check out the other episodes in our Vincent Price series:</h2>\n\n\n\n<p><a href=\"http://goldenagehorror.com/epsiode-28-pit-pendulum-1961/\">The Pit and the Pendulum</a><br><a href=\"http://goldenagehorror.com/episode-29-masque-red-death/\">The Masque of the Red Death</a><br><a href=\"http://goldenagehorror.com/the-haunted-palace/\">The Haunted Palace</a><br><a href=\"http://goldenagehorror.com/episode-31-fall-house-usher/\">The Fall of the House of Usher</a><br><a href=\"http://goldenagehorror.com/episode-33-witchfinder-generalthe-conqueror-worm/\">Witchfinder General</a><br><a href=\"http://goldenagehorror.com/episode-34-abominable-dr-phibes/\">Abominable Dr Phibes</a><br><a href=\"http://goldenagehorror.com/episode-35-dr-phibes-rises/\">Dr Phibes Rises Again</a><br><a href=\"http://goldenagehorror.com/episode-36-house-haunted-hill/\">The House on Haunted Hill</a></p>\n\n\n\n<p>If you have a chance, check out the <a href=\"https://itunes.apple.com/us/podcast/inside-psycho/id1207876943?mt=2\" target=\"_blank\" rel=\"noopener noreferrer\">Inside Psycho</a> podcast.</p>\n","protected":false},"excerpt":{"rendered":"<p>In the final episode of our Vincent Price series, Andrew and Matt enjoy some paddleball theatrics.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[130,163,174,175],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73777.mp3\n36414537\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:37:51\";}"],"_yoast_wpseo_primary_category":["4"],"_wpas_mess":["Episode 37 - House of Wax"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_jetpack_related_posts_cache":["a:2:{s:32:\"238f6baed1ae9642c97ab9a2c03d7c6c\";a:2:{s:7:\"expires\";i:1558016327;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:513;}i:1;a:1:{s:2:\"id\";i:527;}i:2;a:1:{s:2:\"id\";i:459;}}}s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558016349;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:513;}i:1;a:1:{s:2:\"id\";i:496;}i:2;a:1:{s:2:\"id\";i:527;}}}}"],"dsq_thread_id":["5801115536"],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570718162:1"]},"episode-data":{"id":535,"feed":"podcast","url":"https://audio.simplecast.com/73777.mp3","duration":"0:37:51","size":"36414537","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/house-of-wax-1024x792.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/535"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=535"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/535/revisions"}],"predecessor-version":[{"id":741,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/535/revisions/741"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=535"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=535"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=535"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>