<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":294,"date":"2015-01-15T21:41:13","date_gmt":"2015-01-16T02:41:13","guid":{"rendered":"http://goldenagehorror.com/?p=294"},"modified":"2019-09-13T19:57:11","modified_gmt":"2019-09-13T19:57:11","slug":"episode-13-bride-frankenstein","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/15/episode-13-bride-frankenstein/","title":{"rendered":"Episode 13 &#8211; The Bride of Frankenstein (1935)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img src=\"blob:https://api.twilitgrotto.com/c8166d30-1cff-2a46-a71f-a557656bcc90\" alt=\"\"/></figure>\n\n\n\n<p>Andrew hates Una O&#8217;Connor. Matt doesn&#8217;t, but he thinks George Gordon Byron&#8217;s pants are too tight. This week we talk about on the greatest movies ever made, The Bride of Frankenstein, starring Boris Karloff, Colin Clive and Elsa Lanchester, and directed by James Whale.<br></p>\n\n\n\n<!--more-->\n\n\n\n<p><a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a></p>\n\n\n\n<p><a title=\"James Whale\" href=\"http://goldenagehorror.com/james-whale/\">James Whale</a></p>\n\n\n\n<p><a title=\"Roger Ebert on THE BRIDE OF FRANKENSTEIN\" href=\"http://www.rogerebert.com/reviews/great-movie-bride-of-frankenstein\">Roger Ebert takes a look at THE BRIDE OF FRANKENSTEIN in the context of the film &#8220;Gods and Monsters&#8221;</a></p>\n\n\n\n<p><a title=\"Neil Gaiman on the Bride of Frankenstein\" href=\"http://www.neilgaiman.com/p/Cool_Stuff/Essays/Essays_By_Neil/The_Bride_of_Frankenstein\">Neil Gaiman&#8217;s nice essay about the film</a></p>\n\n\n\n<p><a title=\"Bride of Frankenstein film stills\" href=\"http://monsterbrains.blogspot.com/2010/11/bride-of-frankenstein-1935-film-stills.html\">Some great stills from the film: http://monsterbrains.blogspot.com/2010/11/bride-of-frankenstein-1935-film-stills.html</a></p>\n\n\n\n<p>Bride of Frankenstein hair tutorial found on Youtube (by IrisJ )</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/kGqpfJ7QfVU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>Andrew hates Una O&#8217;Connor. Matt doesn&#8217;t, but he thinks George Gordon Byron&#8217;s pants are too tight. This week we talk about on the greatest movies ever made, The Bride of Frankenstein, starring Boris Karloff, Colin Clive and Elsa Lanchester, and directed by James Whale.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[60,93,144],"post-meta-fields":{"_edit_last":["1"],"_oembed_907426fe9a9ef21834046bd7bdbd11e9":["{{unknown}}"],"enclosure":["https://audio.simplecast.com/73752.mp3\n18137782\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:18:49\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592513;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:287;}i:1;a:1:{s:2:\"id\";i:78;}i:2;a:1:{s:2:\"id\";i:376;}i:3;a:1:{s:2:\"id\";i:379;}i:4;a:1:{s:2:\"id\";i:61;}i:5;a:1:{s:2:\"id\";i:330;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5697052210"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-01-15-episode-13-bride-frankenstein.md"],"_sha":["52d21e03c5001fee43d21b299bbb1cf104d44765"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_1cc69178ace127df272bfe76083ea559":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/kGqpfJ7QfVU?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_1cc69178ace127df272bfe76083ea559":["1498670722"],"_oembed_6e0f9cfa4d8097eff138f157424be86d":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/kGqpfJ7QfVU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_6e0f9cfa4d8097eff138f157424be86d":["1558442093"],"_edit_lock":["1568404631:1"],"_oembed_e5f5e6ff19010952e8e7e9eff228dc7b":["<iframe title=\"Bride of Frankenstein Hair Tutorial\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/kGqpfJ7QfVU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_e5f5e6ff19010952e8e7e9eff228dc7b":["1568404582"]},"episode-data":{"id":294,"feed":"podcast","url":"https://audio.simplecast.com/73752.mp3","duration":"0:18:49","size":"18137782","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"blob:https://api.twilitgrotto.com/c8166d30-1cff-2a46-a71f-a557656bcc90","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/294"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=294"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/294/revisions"}],"predecessor-version":[{"id":661,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/294/revisions/661"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=294"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=294"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=294"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>