<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":921,"date":"2021-07-24T20:50:30","date_gmt":"2021-07-24T20:50:30","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=921"},"modified":"2021-07-24T20:50:30","modified_gmt":"2021-07-24T20:50:30","slug":"episode-65-the-blob-1958","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/07/24/episode-65-the-blob-1958/","title":{"rendered":"Episode 65 &#8211; The Blob (1958)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"779\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-1024x779.jpg\" alt=\"\" class=\"wp-image-922\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-1024x779.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-300x228.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-768x584.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-1536x1168.jpg 1536w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-2048x1558.jpg 2048w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>A series of encounters between a space blob and the world&#8217;s oldest teenagers.</p>\n","protected":false},"excerpt":{"rendered":"<p>A series of encounters between a space blob and the world&#8217;s oldest teenagers.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1627159913:1"],"_edit_last":["1"],"patreon_link":[""],"_patreon_link":["field_601f056b85def"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/bcfd2dcc-daa4-4a8c-a764-7ebaa4cf2fb7/audio/450f4274-a7e8-4dbd-93d6-27fd6b4c2b8a/default_tc.mp3\n43527567\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:45:20\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":921,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/bcfd2dcc-daa4-4a8c-a764-7ebaa4cf2fb7/audio/450f4274-a7e8-4dbd-93d6-27fd6b4c2b8a/default_tc.mp3","duration":"00:45:20","size":"43527567","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/blerb-1024x779.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/921"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=921"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/921/revisions"}],"predecessor-version":[{"id":923,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/921/revisions/923"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=921"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=921"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=921"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>