<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":605,"date":"2018-11-06T12:02:36","date_gmt":"2018-11-06T17:02:36","guid":{"rendered":"https://goldenagehorror.com/?p=605"},"modified":"2019-10-10T14:55:41","modified_gmt":"2019-10-10T14:55:41","slug":"episode-45-night-of-the-living-dead-1968","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2018/11/06/episode-45-night-of-the-living-dead-1968/","title":{"rendered":"Episode 45 – Night of the Living Dead (1968)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"704\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/night_of_living_dead_1968_poster_06-e1537306192907-1024x704-1024x704.jpg\" alt=\"\" class=\"wp-image-779\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/night_of_living_dead_1968_poster_06-e1537306192907-1024x704.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/night_of_living_dead_1968_poster_06-e1537306192907-1024x704-300x206.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/night_of_living_dead_1968_poster_06-e1537306192907-1024x704-768x528.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Andrew and Matt discuss the 1968 George Romero film <em><strong>Night of the Living Dead</strong></em></p>\n\n\n\n<!--more-->\n\n\n\n<h2>Topics Discussed</h2>\n\n\n\n<ul><li>Podcast and movie introductions</li><li>Fathom Events</li><li><strong>Perfect Blue</strong></li><li>Andrew does the plot recap</li><li>&#8220;They&#8217;re coming to get you Barbara!&#8221;</li><li>The films of George Romero and Dawn of the Dead in particular</li><li>Ganja and Hess</li><li>Duane Johnson</li><li>The peculiar 20th century specificity of Romero style zombie</li><li>Tell My Horse</li></ul>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"576\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/large-night-of-the-living-dead-blu-ray1-1024x576-1024x576.jpg\" alt=\"\" class=\"wp-image-780\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/large-night-of-the-living-dead-blu-ray1-1024x576.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/large-night-of-the-living-dead-blu-ray1-1024x576-300x169.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/large-night-of-the-living-dead-blu-ray1-1024x576-768x432.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<blockquote class=\"wp-block-quote\"><p>I thought <i>I Am Legend</i> was about revolution. I said if you&#8217;re going to do something about revolution, you should start at the beginning. I mean, Richard starts his book with one man left; everybody in the world has become a vampire. I said we got to start at the beginning and tweak it up a little bit. I couldn&#8217;t use vampires because he did, so I wanted something that would be an earth-shaking change. Something that was forever, something that was really at the heart of it. I said, so what if the dead stop staying dead? &#8230; And the stories are about how people respond or fail to respond to this. That&#8217;s really all [the zombies] ever represented to me. In Richard&#8217;s book, in the original <i>I Am Legend</i>, that&#8217;s what I thought that book was about. There&#8217;s this global change and there&#8217;s one guy holding out saying, wait a minute, I&#8217;m still a human. He&#8217;s wrong. Go ahead. Join them. You&#8217;ll live forever! In a certain sense he&#8217;s wrong but on the other hand, you&#8217;ve got to respect him for taking that position.</p></blockquote>\n\n\n\n<p><a href=\"https://www.cinemablend.com/new/Interview-George-A-Romero-On-Diary-Of-The-Dead-7818.html\">George Romero on the influence of Richard Matheson&#8217;s I Am Legend on Night of the Living Dead</a></p>\n\n\n\n<h2>Citations/Reference</h2>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Night_of_the_Living_Dead\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>There is a great <a href=\"https://amzn.to/2QpiLf9\">Criterion Collection edition of the film</a>.</p>\n\n\n\n<p>Next episode we will discuss <strong>Hour of the Wolf</strong>! (And <strong>Mandy</strong>)</p>\n\n\n\n<p>We&#8217;d like to start taking listener questions and comments on the show &#8211; if you have a message, you can leave a message for us by calling <a href=\"tel:5088173408\">(508) 817-3408</a>, or you can email me at <a href=\"mailto:matt@goldenagehorror.com\">matt@goldenagehorror.com</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt discuss the 1968 George Romero film Night of the Living Dead</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["60"],"enclosure":["https://audio.simplecast.com/afcdd525.mp3\n36742875\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:49:50\";}"],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128462;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:589;}i:1;a:1:{s:2:\"id\";i:583;}i:2;a:1:{s:2:\"id\";i:489;}}}}"],"_edit_lock":["1570719342:1"]},"episode-data":{"id":605,"feed":"podcast","url":"https://audio.simplecast.com/afcdd525.mp3","duration":"0:49:50","size":"36742875","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/night_of_living_dead_1968_poster_06-e1537306192907-1024x704-1024x704.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/605"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=605"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/605/revisions"}],"predecessor-version":[{"id":783,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/605/revisions/783"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=605"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=605"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=605"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>