<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":611,"date":"2019-04-26T14:15:13","date_gmt":"2019-04-26T18:15:13","guid":{"rendered":"https://goldenagehorror.com/?p=611"},"modified":"2019-10-10T14:56:58","modified_gmt":"2019-10-10T14:56:58","slug":"episode-47-kwaidan-1964","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/04/26/episode-47-kwaidan-1964/","title":{"rendered":"Episode 47 &#8211; Kwaidan (1964)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"640\" height=\"850\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kwaidan-1.jpg\" alt=\"\" class=\"wp-image-787\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kwaidan-1.jpg 640w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/kwaidan-1-226x300.jpg 226w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></figure>\n\n\n\n<p>A long one! To make up for lost time and for the previous episode, which we can count as a BONUS episode, Andrew and Matt review the spoopy 1965 Japanese ghost anthology KWAIDAN.</p>\n","protected":false},"excerpt":{"rendered":"<p>A long one! To make up for lost time and for the previous episode, which we can count as a BONUS episode, Andrew and Matt review the spoopy 1965 Japanese ghost anthology KWAIDAN.</p>\n","protected":false},"author":1,"featured_media":612,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,4,7],"tags":[],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128467;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:589;}i:1;a:1:{s:2:\"id\";i:609;}i:2;a:1:{s:2:\"id\";i:579;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_yoast_wpseo_content_score":["60"],"_wpas_done_all":["1"],"_thumbnail_id":["612"],"enclosure":["https://audio.simplecast.com/e7f71fd9.mp3\n53776562\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:55:56\";}"],"_edit_lock":["1570719418:1"]},"episode-data":{"id":611,"feed":"podcast","url":"https://audio.simplecast.com/e7f71fd9.mp3","duration":"0:55:56","size":"53776562","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kwaidan-1.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/611"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=611"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/611/revisions"}],"predecessor-version":[{"id":788,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/611/revisions/788"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/612"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=611"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=611"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=611"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>