<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":360,"date":"2015-03-06T00:00:17","date_gmt":"2015-03-06T05:00:17","guid":{"rendered":"http://goldenagehorror.com/?p=360"},"modified":"2019-09-16T18:41:20","modified_gmt":"2019-09-16T18:41:20","slug":"episode-20-freaks","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/03/06/episode-20-freaks/","title":{"rendered":"Episode 20 &#8211; Freaks (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"680\" height=\"478\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/freaks.jpg\" alt=\"\" class=\"wp-image-681\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/freaks.jpg 680w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/freaks-300x211.jpg 300w\" sizes=\"(max-width: 680px) 100vw, 680px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt discuss the ableist classic, <a href=\"http://www.amazon.com/gp/product/B00027JYLC/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00027JYLC&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=U2HVAPC3VM52UZ5E\">Freaks</a>.</p>\n\n\n\n<!--more-->\n\n\n\n<p>MGM 1932, Directed by Tod Browning</p>\n\n\n\n<p><a href=\"http://www.horrorfilmhistory.com/index.php?pageID=freaks\">Information on the making of Freaks http://www.horrorfilmhistory.com/index.php?pageID=freaks</a></p>\n\n\n\n<p><a href=\"http://ia600406.us.archive.org/26/items/Spurs_by_Tod_Robbins/Spurs.pdf\">Spurs by Tod Robins http://ia600406.us.archive.org/26/items/Spurs_by_Tod_Robbins/Spurs.pdf</a></p>\n\n\n\n<p><a href=\"http://www.deathandtaxesmag.com/208437/a-guide-to-the-fascinating-stars-of-tod-brownings-freaks/\">Some information on the cast of Freaks http://www.deathandtaxesmag.com/208437/a-guide-to-the-fascinating-stars-of-tod-brownings-freaks/</a></p>\n\n\n\n<p><a href=\"http://badassdigest.com/2014/10/03/the-unseen-freaks/\">What was excised from Freaks http://badassdigest.com/2014/10/03/the-unseen-freaks/</a></p>\n\n\n\n<p>The Unknown:</p>\n\n\n\n<figure class=\"wp-block-embed-dailymotion wp-block-embed is-type-video is-provider-dailymotion wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" frameborder=\"0\" width=\"500\" height=\"375\" src=\"https://www.dailymotion.com/embed/video/x16h4o\" allowfullscreen allow=\"autoplay\"></iframe>\n</div></figure>\n\n\n\n<p>The Unholy Three:</p>\n\n\n\n<figure class=\"wp-block-embed-dailymotion wp-block-embed is-type-video is-provider-dailymotion wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" frameborder=\"0\" width=\"500\" height=\"376\" src=\"https://www.dailymotion.com/embed/video/x1z8kcj\" allowfullscreen allow=\"autoplay\"></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt discuss the ableist classic, Freaks.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[42,55,68,106,165,176],"post-meta-fields":{"_edit_last":["1"],"_oembed_694cdcf3f2e6c5881bfd24b6105dbeec":["<iframe frameborder=\"0\" width=\"676\" height=\"507\" src=\"https://www.dailymotion.com/embed/video/x16h4o\" allowfullscreen></iframe>"],"_oembed_time_694cdcf3f2e6c5881bfd24b6105dbeec":["1498526170"],"_oembed_fa2d1ed66f3aab7dcb13f53d5e77b185":["<iframe frameborder=\"0\" width=\"676\" height=\"509\" src=\"https://www.dailymotion.com/embed/video/x1z8kcj\" allowfullscreen></iframe>"],"_oembed_time_fa2d1ed66f3aab7dcb13f53d5e77b185":["1498526171"],"enclosure":["https://audio.simplecast.com/73751.mp3\n21435872\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:22:15\";}"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592510;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:230;}i:1;a:1:{s:2:\"id\";i:223;}i:2;a:1:{s:2:\"id\";i:42;}i:3;a:1:{s:2:\"id\";i:253;}i:4;a:1:{s:2:\"id\";i:306;}i:5;a:1:{s:2:\"id\";i:489;}}}}"],"dsq_thread_id":["5679071258"],"_wpas_done_all":["1"],"_wpghs_github_path":["_posts/2015-03-06-episode-20-freaks.md"],"_sha":["1e2fdad59b29b54694201c6307e3da6ad384713a"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_4554a20f05c672a4f0c51e1853591e7f":["<iframe frameborder=\"0\" width=\"640\" height=\"480\" src=\"https://www.dailymotion.com/embed/video/x16h4o\" allowfullscreen></iframe>"],"_oembed_time_4554a20f05c672a4f0c51e1853591e7f":["1500474592"],"_oembed_cf0883c29f1368dc662fae2dd543174c":["<iframe frameborder=\"0\" width=\"640\" height=\"482\" src=\"https://www.dailymotion.com/embed/video/x1z8kcj\" allowfullscreen></iframe>"],"_oembed_time_cf0883c29f1368dc662fae2dd543174c":["1500474593"],"_oembed_48f6838c1a0510e1c96750042114c52e":["<iframe frameborder=\"0\" width=\"500\" height=\"375\" src=\"https://www.dailymotion.com/embed/video/x16h4o\" allowfullscreen allow=\"autoplay\"></iframe>"],"_oembed_time_48f6838c1a0510e1c96750042114c52e":["1558442091"],"_oembed_f25ea9a0697846d39d3a03349358b4b0":["<iframe frameborder=\"0\" width=\"500\" height=\"376\" src=\"https://www.dailymotion.com/embed/video/x1z8kcj\" allowfullscreen allow=\"autoplay\"></iframe>"],"_oembed_time_f25ea9a0697846d39d3a03349358b4b0":["1558442091"],"_edit_lock":["1568659281:1"],"_oembed_395a29db7c45de40b704530ca5676e14":["<iframe title=\"The UNKNOWN #1\" frameborder=\"0\" width=\"500\" height=\"375\" src=\"https://www.dailymotion.com/embed/video/x16h4o\" allowfullscreen allow=\"autoplay\"></iframe>"],"_oembed_time_395a29db7c45de40b704530ca5676e14":["1568659234"],"_oembed_0b088ba8869cdbb4aced93005bc35810":["<iframe title=\"Unholy Three (1925)\" frameborder=\"0\" width=\"500\" height=\"376\" src=\"https://www.dailymotion.com/embed/video/x1z8kcj\" allowfullscreen allow=\"autoplay\"></iframe>"],"_oembed_time_0b088ba8869cdbb4aced93005bc35810":["1568659234"]},"episode-data":{"id":360,"feed":"podcast","url":"https://audio.simplecast.com/73751.mp3","duration":"0:22:15","size":"21435872","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/freaks.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/360"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=360"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/360/revisions"}],"predecessor-version":[{"id":682,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/360/revisions/682"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=360"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=360"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=360"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>