<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":275,"date":"2015-01-02T20:39:22","date_gmt":"2015-01-03T01:39:22","guid":{"rendered":"http://goldenagehorror.com/?p=275"},"modified":"2019-09-13T19:54:04","modified_gmt":"2019-09-13T19:54:04","slug":"episode-11-m","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/02/episode-11-m/","title":{"rendered":"Episode 11 &#8211; M (1931)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"724\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser-724x1024.jpg\" alt=\"\" class=\"wp-image-655\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser-724x1024.jpg 724w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser-212x300.jpg 212w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser-768x1086.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser.jpg 1131w\" sizes=\"(max-width: 724px) 100vw, 724px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt discuss the <a title=\"Fritz Lang\" href=\"http://goldenagehorror.com/fritz-lang/\">Fritz Lang</a> film M, starring <a title=\"Peter Lorre\" href=\"http://goldenagehorror.com/peter-lorre/\">Peter Lorre</a>.</p>\n\n\n\n<!--more-->\n\n\n\n<ul><li><a href=\"http://en.wikipedia.org/wiki/M_(1931_film)\">M on Wikipedia</a></li><li><a href=\"http://thequietus.com/articles/15895-fritz-lang-m-review\">The Quietus reviews M</a></li><li><a href=\"http://fyeahpeterlorre.tumblr.com/\">F**k Yeah Peter Lorre on Tumblr</a></li><li><a href=\"https://archive.org/details/PhantasmagoriaTheater-MFritzLang1931574\">Watch M for Free at the Internet Archive</a></li><li><a href=\"https://thedissolve.com/features/career-view/222-the-sprawling-obsessive-career-of-fritz-lang/\">Fritz Lang article on the Dissolve</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt discuss the Fritz Lang film M, starring Peter Lorre.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[70,110,132],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73742.mp3\n21544949\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:22:22\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592513;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:266;}i:1;a:1:{s:2:\"id\";i:148;}i:2;a:1:{s:2:\"id\";i:480;}i:3;a:1:{s:2:\"id\";i:248;}i:4;a:1:{s:2:\"id\";i:95;}i:5;a:1:{s:2:\"id\";i:253;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["3384834664"],"_wpghs_github_path":["_posts/2015-01-02-episode-11-m.md"],"_sha":["3af889155e37efc8b1e4fd6b6fd10662e1275492"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_edit_lock":["1568404444:1"]},"episode-data":{"id":275,"feed":"podcast","url":"https://audio.simplecast.com/73742.mp3","duration":"0:22:22","size":"21544949","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/m-poser-724x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/275"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=275"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/275/revisions"}],"predecessor-version":[{"id":656,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/275/revisions/656"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=275"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=275"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=275"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>