<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":402,"date":"2015-10-20T08:54:15","date_gmt":"2015-10-20T08:54:15","guid":{"rendered":"http://goldenagehorror.com/?p=402"},"modified":"2019-09-16T19:36:48","modified_gmt":"2019-09-16T19:36:48","slug":"episode-23-the-phantom-of-the-paradise","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/10/20/episode-23-the-phantom-of-the-paradise/","title":{"rendered":"Episode 23 &#8211; The Phantom of the Paradise (1974)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"671\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1-671x1024.jpg\" alt=\"\" class=\"wp-image-689\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1-671x1024.jpg 671w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1-197x300.jpg 197w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1-768x1172.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1.jpg 800w\" sizes=\"(max-width: 671px) 100vw, 671px\" /></figure>\n\n\n\n<p>Andrew and Matt talk about DePalma&#8217;s nightmare glam rock opera version of the Phantom of the Opera. Matt twice names Paul Williams as Andy Williams, which is terrible. A terrible mistake.</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/djzo-JHaExs?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<h2>Helpful Wikipedia Links</h2>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/Phantom_of_the_Paradise\">Phantom of the Paradise</a></li><li><a href=\"https://en.wikipedia.org/wiki/Brian_De_Palma\">Brian De Palma</a></li><li><a href=\"https://en.wikipedia.org/wiki/Goethe%27s_Faust\">Goethe&#8217;s Faust</a></li><li><a href=\"https://en.wikipedia.org/wiki/The_Picture_of_Dorian_Gray\">The Picture of Dorian Gray</a></li><li><a href=\"https://en.wikipedia.org/wiki/The_Phantom_of_the_Opera\">The Phantom of the Opera</a></li></ul>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/k8dIWuQhXaI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt talk about DePalma&#8217;s nightmare glam rock opera version of the Phantom of the Opera. Matt twice names Paul Williams as Andy Williams, which is terrible. A terrible mistake.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[22,31,95,133,134,146,147],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73754.mp3\n20796002\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:21:35\";}"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592509;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:406;}i:1;a:1:{s:2:\"id\";i:415;}i:2;a:1:{s:2:\"id\";i:352;}i:3;a:1:{s:2:\"id\";i:489;}i:4;a:1:{s:2:\"id\";i:410;}i:5;a:1:{s:2:\"id\";i:480;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5650764531"],"_wpghs_github_path":["_posts/2015-10-20-episode-23-the-phantom-of-the-paradise.md"],"_sha":["06f486cc473546533e8f5a41a140b5ae2543a1d6"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_a41d88bbed69105b4a2d8056c09f0416":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/k8dIWuQhXaI?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_a41d88bbed69105b4a2d8056c09f0416":["1498659648"],"_oembed_627f2cb72459187cf3703e23f66cf0b1":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/djzo-JHaExs?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_627f2cb72459187cf3703e23f66cf0b1":["1498659648"],"_oembed_6ce2bd29e3675d45fa1d6f8e5f0787d2":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/k8dIWuQhXaI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_6ce2bd29e3675d45fa1d6f8e5f0787d2":["1558442090"],"_oembed_057bbedb8a191add6f113987c6296d3e":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/djzo-JHaExs?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_057bbedb8a191add6f113987c6296d3e":["1558442090"],"_edit_lock":["1568662608:1"],"_oembed_e3d16c4e9ee059acfcd793df144ddbdc":["<iframe title=\"Rose Tint My World - The Rocky Horror Picture Show (Lyrics)\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/k8dIWuQhXaI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_e3d16c4e9ee059acfcd793df144ddbdc":["1568662455"],"_oembed_475580302715e8177d889513ab24eb8a":["<iframe title=\"Phantom of the Paradise, LIfe At Last, Gerrit Graham\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/djzo-JHaExs?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_475580302715e8177d889513ab24eb8a":["1568662457"]},"episode-data":{"id":402,"feed":"podcast","url":"https://audio.simplecast.com/73754.mp3","duration":"0:21:35","size":"20796002","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/POTP1-671x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/402"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=402"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/402/revisions"}],"predecessor-version":[{"id":691,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/402/revisions/691"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=402"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=402"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=402"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>