<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":589,"date":"2018-01-03T10:05:24","date_gmt":"2018-01-03T15:05:24","guid":{"rendered":"https://goldenagehorror.com/?p=589"},"modified":"2019-10-10T14:48:10","modified_gmt":"2019-10-10T14:48:10","slug":"episode-42-kuroneko-1968","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2018/01/03/episode-42-kuroneko-1968/","title":{"rendered":"Episode 42 &#8211; Kuroneko (1968)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"727\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kuroneko-cover-727x1024-727x1024.jpg\" alt=\"\" class=\"wp-image-766\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kuroneko-cover-727x1024.jpg 727w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/kuroneko-cover-727x1024-213x300.jpg 213w\" sizes=\"(max-width: 727px) 100vw, 727px\" /></figure>\n\n\n\n<p>Did you know that Kuroneko means &#8220;Black Cat&#8221; in Japanese?</p>\n\n\n\n<!--more-->\n\n\n\n<p>I hope everyone enjoyed their holidays!</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"800\" height=\"565\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/primary_kuroneko.jpg\" alt=\"\" class=\"wp-image-767\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/primary_kuroneko.jpg 800w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/primary_kuroneko-300x212.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/primary_kuroneko-768x542.jpg 768w\" sizes=\"(max-width: 800px) 100vw, 800px\" /></figure>\n\n\n\n<p>We both really enjoyed Kuroneko. In the podcast, you can hear us discuss some of the interesting pieces of this film. Andrew specifically called out the sound design. We also talked about interesting uses of symmetry and juxtaposition throughout.</p>\n\n\n\n<p>We watched the <a href=\"http://amzn.to/2lNIO1N\">Criterion Collection edition of the film</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Did you know that Kuroneko means &#8220;Black Cat&#8221; in Japanese?</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[27],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"enclosure":["https://audio.simplecast.com/c83507e2.mp3\n37588167\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:39:04\";}"],"_yoast_wpseo_metadesc":["Did you know that Kuroneko means \"Black Cat\" in Japanese? In this podcast, we talk about the foreign/Japanese horror classic Kuroneko, from 1968, as part of our series on pre-1979 non American horror films."],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128457;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:540;}i:1;a:1:{s:2:\"id\";i:593;}i:2;a:1:{s:2:\"id\";i:597;}}}}"],"dsq_thread_id":["6388925646"],"_edit_lock":["1570718891:1"]},"episode-data":{"id":589,"feed":"podcast","url":"https://audio.simplecast.com/c83507e2.mp3","duration":"00:39:04","size":"37588167","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kuroneko-cover-727x1024-727x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/589"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=589"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/589/revisions"}],"predecessor-version":[{"id":768,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/589/revisions/768"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=589"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=589"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=589"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>