<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":858,"date":"2021-01-19T02:03:09","date_gmt":"2021-01-19T02:03:09","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=858"},"modified":"2021-01-19T02:03:11","modified_gmt":"2021-01-19T02:03:11","slug":"episode-59-dont-look-now-1973","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/01/19/episode-59-dont-look-now-1973/","title":{"rendered":"Episode 59 &#8211; Don&#8217;t Look Now (1973)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"474\" height=\"679\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/01/dont-look-now.jpg\" alt=\"German Poster for Don't look now\" class=\"wp-image-860\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/01/dont-look-now.jpg 474w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/01/dont-look-now-209x300.jpg 209w\" sizes=\"(max-width: 474px) 100vw, 474px\" /></figure>\n\n\n\n<p>Andrew and Matt conclude their series on Folk Horror with this old Nicholas Roeg chestnut, starring Julie Christie, classic beefman Donald Sutherland, and, of course, Venice.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>Don&#8217;t Look Now was directed by Nicholas Roeg and stars Donald Sutherland and Julie Christie.</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Don%27t_Look_Now\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>The story was inspired by&nbsp;Daphne Du Maurier&#8217;s short story of the same name</p>\n\n\n\n<p>Andrew watched the Criterion blu-ray. I watched the version you can rent for $4 on Amazon Prime.</p>\n\n\n\n<h3>Topics Discussed</h3>\n\n\n\n<ul><li><a href=\"https://books.google.com/books?hl=en&amp;lr=&amp;id=kbmrDwAAQBAJ&amp;oi=fnd&amp;pg=PP1&amp;dq=don%27t+look+now&amp;ots=CsdJ_Hw6tw&amp;sig=LIpHdMq0NgR3a6zNdkUwf_ZRFe4#v=onepage&amp;q=don't%20look%20now&amp;f=false\">Don&#8217;t Look Now: British Cinema in the 1970&#8217;s</a></li><li>Blair Witch Project</li><li>Roger Corman and his influence</li><li>The Patreon</li><li>This happened to my buddy Eric</li></ul>\n\n\n\n<p>Andrew recommends buying all the back issues of <a href=\"https://itch.io/c/689872/indiepocalypse\">Indiepocalypse</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt conclude their series on Folk Horror with this old Nicholas Roeg chestnut, starring Julie Christie, classic beefman Donald Sutherland, and, of course, Venice.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,4,7],"tags":[],"post-meta-fields":{"_edit_lock":["1612206452:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/3d689fce-bab9-4bbf-bd6c-875048a56058/audio/62d14b8e-bf65-4b63-9cee-d04af8584d91/default_tc.mp3\n35079358\naudio/mpeg\na:2:{s:8:\"duration\";s:7:\"0:36:32\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":858,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/3d689fce-bab9-4bbf-bd6c-875048a56058/audio/62d14b8e-bf65-4b63-9cee-d04af8584d91/default_tc.mp3","duration":"0:36:32","size":"35079358","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/01/dont-look-now.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/858"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=858"}],"version-history":[{"count":7,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/858/revisions"}],"predecessor-version":[{"id":866,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/858/revisions/866"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=858"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=858"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=858"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>