<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":829,"date":"2020-02-13T00:42:45","date_gmt":"2020-02-13T00:42:45","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=829"},"modified":"2020-02-13T00:42:47","modified_gmt":"2020-02-13T00:42:47","slug":"episode-55-night-of-the-demon-1957","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2020/02/13/episode-55-night-of-the-demon-1957/","title":{"rendered":"Episode 55 – Night of the Demon (1957)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"760\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon-1024x760.jpg\" alt=\"CHOSEN.... SINGLED OUT TO DIE... VICTIM OF HIS IMAGINATION OR VICTIM OF A DEMON\" class=\"wp-image-830\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon-1024x760.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon-300x223.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon-768x570.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon.jpg 1455w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>We continue to delve into folklore horror with this excellent 1950&#8217;s film, by the same director as Cat People.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><strong>Night of the Demon</strong> released in 1957 was directed by Jacques Tourneur and starred Dana Andrews, Peggy Cummins and Niall MacGinnis.</p>\n\n\n\n<p>My chihuahua is sick and you can hear her making a horrible cough throughout. Sorry you had to hear that!</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Night_of_the_Demon\">The film&#8217;s wikipedia page</a></p>\n\n\n\n\n\n<p>The Kate Bush song &#8220;Hounds of Love&#8221; samples from this film.</p>\n\n\n\n<p>The story was adapted from the short story &#8220;<a href=\"https://en.wikisource.org/wiki/Casting_the_Runes\">Casting the Runes</a>&#8221; by MR James.</p>\n\n\n\n<p>We watched the version available on Amazon prime.</p>\n\n\n\n<p>Next episode: <strong>The Whistle and I&#8217;ll Come to You</strong> &#8220;Duology&#8221;.</p>\n\n\n\n<p>Matt recommends <a href=\"https://amzn.to/3bz9vjO\">The Demon Seed</a> and <a href=\"https://amzn.to/31OaJmB\">The Blow Out</a></p>\n\n\n\n<p>Andrew recommends <a href=\"https://amzn.to/2SCNckx\">Gou Tanabe&#8217;s Lovecraft adaptations</a> and the <a href=\"https://amzn.to/2tVcuC8\">Hobtown Mystery Stories</a>.</p>\n\n\n\n<h2>Sponsor</h2>\n\n\n\n<p><a href=\"https://www.whalingcityweb.com\">Whaling City Web</a> &#8211; We&#8217;re owning our own content in 2020</p>\n\n\n\n<p>Follow Andrew on twitter <a href=\"https://twitter.com/pizzapranks\">@pizzapranks</a> for more information about his indie game anthology Indiepocalypse</p>\n","protected":false},"excerpt":{"rendered":"<p>We continue to delve into folklore horror with this excellent 1950&#8217;s film, by the same director as Cat People.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,191,7],"tags":[],"post-meta-fields":{"_edit_lock":["1584995513:1"],"_edit_last":["1"],"_wp_old_date":["2020-02-12"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/52bea105-c5cf-4f2f-8f63-f0dfe937da94/night-of-the-demon-final_tc.mp3\n54094829\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:56:21\";}"]},"episode-data":{"id":829,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/52bea105-c5cf-4f2f-8f63-f0dfe937da94/night-of-the-demon-final_tc.mp3","duration":"00:56:21","size":"54094829","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/02/night-of-the-demon-1024x760.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/829"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=829"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/829/revisions"}],"predecessor-version":[{"id":832,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/829/revisions/832"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=829"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=829"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=829"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>