<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":597,"date":"2018-07-16T10:01:11","date_gmt":"2018-07-16T14:01:11","guid":{"rendered":"https://goldenagehorror.com/?p=597"},"modified":"2019-10-10T14:51:21","modified_gmt":"2019-10-10T14:51:21","slug":"episode-44-onibaba-1964","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2018/07/16/episode-44-onibaba-1964/","title":{"rendered":"Episode 44 – Onibaba (1964)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"800\" height=\"621\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/full-onibaba-mexicanlobby-21292__11538-1374517744-1280-1280.jpg\" alt=\"\" class=\"wp-image-777\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/full-onibaba-mexicanlobby-21292__11538-1374517744-1280-1280.jpg 800w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/full-onibaba-mexicanlobby-21292__11538-1374517744-1280-1280-300x233.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/full-onibaba-mexicanlobby-21292__11538-1374517744-1280-1280-768x596.jpg 768w\" sizes=\"(max-width: 800px) 100vw, 800px\" /></figure>\n\n\n\n<p>Andrew and Matt discuss the 1964 Kaneto Shindo film <em><strong>Onibaba</strong></em></p>\n\n\n\n<!--more-->\n\n\n\n<h2>Topics Discussed</h2>\n\n\n\n<ul><li>Podcast and movie introductions</li><li>Andrew does the plot recap</li><li><a href=\"https://amzn.to/2LpjVVP\">Abandon the Old in Tokyo</a></li><li>Japanese Comics in general</li><li>Onibaba as a folk tale</li><li>Social class in Onibaba</li><li><a href=\"http://www.uncannyjapan.com/\">Uncanny Japan</a></li><li>Late 90&#8217;s Anime craze, working at Borders</li><li>Winter Tide</li><li><a href=\"https://en.wikipedia.org/wiki/Valerie_and_Her_Week_of_Wonders_(film)\">Valerie and Her Week of Wonders</a></li><li><a href=\"https://en.wikipedia.org/wiki/The_Lure_(2015_film)\">The Lure</a></li></ul>\n\n\n\n<h2>Citations/Reference</h2>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Onibaba_(film)\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>We watched the <a href=\"https://amzn.to/2LmO7Rp\">Criterion Collection edition of the film</a> on <a href=\"https://www.filmstruck.com/us/\">Filmstruck</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt discuss the 1964 Kaneto Shindo film Onibaba</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/33472fbc.mp3\n42003430\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:53:04\";}"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128461;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:589;}i:1;a:1:{s:2:\"id\";i:611;}i:2;a:1:{s:2:\"id\";i:593;}}}}"],"_edit_lock":["1570719103:1"]},"episode-data":{"id":597,"feed":"podcast","url":"https://audio.simplecast.com/33472fbc.mp3","duration":"00:53:04","size":"42003430","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/full-onibaba-mexicanlobby-21292__11538-1374517744-1280-1280.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/597"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=597"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/597/revisions"}],"predecessor-version":[{"id":778,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/597/revisions/778"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=597"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=597"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=597"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>