<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":794,"date":"2019-07-23T15:40:41","date_gmt":"2019-07-23T19:40:41","guid":{"rendered":"https://goldenagehorror.com/?p=625"},"modified":"2019-10-10T15:00:50","modified_gmt":"2019-10-10T15:00:50","slug":"episode-50-extraganza","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/07/23/episode-50-extraganza/","title":{"rendered":"Episode 50 Extravaganza"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"512\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/collage-1-1024x512-1024x512.jpg\" alt=\"\" class=\"wp-image-797\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/collage-1-1024x512.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/collage-1-1024x512-300x150.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/collage-1-1024x512-768x384.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Andrew and Matt run through EVERY MOVIE covered on this podcast. They share their thoughts and feelings.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt run through EVERY MOVIE covered on this podcast. They share their thoughts and feelings.</p>\n","protected":false},"author":1,"featured_media":627,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1570596838;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:632;}i:1;a:1:{s:2:\"id\";i:619;}i:2;a:1:{s:2:\"id\";i:589;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_wpas_done_all":["1"],"_thumbnail_id":["627"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/b1ebe959-84a5-4a3a-a73f-419e2e1c1bd7/golden_age_horror_50_final_tc.mp3\n134201304\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"2:19:48\";}"],"_yoast_wpseo_primary_category":["4"],"_yoast_wpseo_content_score":["90"],"_edit_lock":["1570719651:1"]},"episode-data":{"id":794,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/b1ebe959-84a5-4a3a-a73f-419e2e1c1bd7/golden_age_horror_50_final_tc.mp3","duration":"2:19:48","size":"134201304","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/collage-1-1024x512-1024x512.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/794"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=794"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/794/revisions"}],"predecessor-version":[{"id":799,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/794/revisions/799"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/627"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=794"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=794"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=794"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>