<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":905,"date":"2021-05-03T15:17:13","date_gmt":"2021-05-03T15:17:13","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=905"},"modified":"2021-05-03T15:17:15","modified_gmt":"2021-05-03T15:17:15","slug":"episode-63-the-fly-1958","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/05/03/episode-63-the-fly-1958/","title":{"rendered":"Episode 63 &#8211; The Fly  (1958)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"900\" height=\"704\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/fly_1958_poster_04.jpg\" alt=\"\" class=\"wp-image-906\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/fly_1958_poster_04.jpg 900w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/fly_1958_poster_04-300x235.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/fly_1958_poster_04-768x601.jpg 768w\" sizes=\"(max-width: 900px) 100vw, 900px\" /></figure>\n\n\n\n<p>The return of Vincent Price (Danzig voice intensifies)</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Return Of The Fly\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/j2CxBcS0kR8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>The return of Vincent Price (Danzig voice intensifies)</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192,8],"tags":[],"post-meta-fields":{"_edit_lock":["1622297355:1"],"_oembed_43d109ce08cc6f99e28f2b43ba65661b":["<iframe title=\"Return Of The Fly\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/j2CxBcS0kR8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_43d109ce08cc6f99e28f2b43ba65661b":["1620055033"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/0423e731-1bae-4b5c-9193-1c2c0fc064c2/audio/05c3c8d1-fdce-4704-a421-936552d1bd48/default_tc.mp3\n46122257\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:48:03\";s:8:\"explicit\";s:1:\"0\";}"],"patreon_link":[""],"_patreon_link":["field_601f056b85def"]},"episode-data":{"id":905,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/0423e731-1bae-4b5c-9193-1c2c0fc064c2/audio/05c3c8d1-fdce-4704-a421-936552d1bd48/default_tc.mp3","duration":"00:48:03","size":"46122257","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/fly_1958_poster_04.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/905"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=905"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/905/revisions"}],"predecessor-version":[{"id":907,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/905/revisions/907"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=905"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=905"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=905"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>