<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":171,"date":"2014-11-07T20:15:10","date_gmt":"2014-11-07T20:15:10","guid":{"rendered":"http://goldenagehorror.com/?p=171"},"modified":"2019-09-13T17:54:47","modified_gmt":"2019-09-13T17:54:47","slug":"episode-4-murders-rue-morgue-gorilla-vaguely-foreign-gentleman","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/11/07/episode-4-murders-rue-morgue-gorilla-vaguely-foreign-gentleman/","title":{"rendered":"Episode 4 &#8211; Murders in the Rue Morgue (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"580\" height=\"866\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/murders-in-the-rue-morgue-movie-poster-1932-1020141479.jpg\" alt=\"\" class=\"wp-image-633\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/murders-in-the-rue-morgue-movie-poster-1932-1020141479.jpg 580w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/murders-in-the-rue-morgue-movie-poster-1932-1020141479-201x300.jpg 201w\" sizes=\"(max-width: 580px) 100vw, 580px\" /></figure>\n\n\n\n<p>This week, Andrew and I discussed the middling Edgar Allan Poe/Bela Lugosi/Killer Ape Movie &#8220;Murders in the Rue Morgue&#8221; (1932, Universal). Andrew has developed a theory about horror movies from the 1930&#8217;s.</p>\n\n\n\n<p><a href=\"https://www.poemuseum.org/works-morgue.php\">Here&#8217;s a link to Edgar Allan Poe&#8217;s Original Story</a></p>\n\n\n\n<p>Bela Lugosi speaks Hungarian to the Monkey, in case you were wondering.</p>\n\n\n\n<p><a title=\"Murders in the Rue Morgue (1932)\" href=\"http://goldenagehorror.com/murders-rue-morgue-1932/\">Matt&#8217;s essay on Murders in the Rue Morgue</a>, available at goldenagehorror.com</p>\n\n\n\n<p><a href=\"http://www.marxists.org/archive/marx/works/1876/part-played-labour/\">The Part played by Labour in the Transition from Ape to Man</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Noble_Johnson\">Noble Johnson</a>, a bit player in this film, had a very interesting and exciting life.</p>\n\n\n\n<p>A stub of an article called &#8220;Murders in the Rue Morgue: Edgar Allan Poe&#8217;s Evolutionary Reverie&#8221;</p>\n\n\n\n<blockquote class=\"wp-block-quote\"><p>&#8220;The Murders in the Rue Morgue&#8221; introduces the detective in a moment of historical crisis, involving current controversies about Pierre-Simon Laplace&#8217;s nebular hypothesis and the claim that the universe had come into existence by chance. C. Auguste Dupin offers narratives modeled on those of the historical disciplines to create order in a universe bereft of religious significance. In the story, the presence of the Ourang-Outang not only suggests, from one perspective, the purely arbitrary nature of the murders, it also uncannily anticipates theories of evolution positing the progressive development of organic life that were to appear in Vestiges of the Natural History of Creation (1844) and in Origin of Species (1859). In this way detective fiction acts not merely to perpetuate reigning orthodoxies but to consolidate over time a paradigm shift within the consciousness of its readers.</p></blockquote>\n\n\n\n<p>Tune in next week, we&#8217;ll be discussing my favorite of the Lugosi/Karloff pictures, <a title=\"The Black Cat (1934)\" href=\"http://goldenagehorror.com/black-cat-1934/\">The Black Cat</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and I discussed the middling Edgar Allan Poe/Bela Lugosi/Killer Ape Movie &#8220;Murders in the Rue Morgue&#8221; (1932, Universal). Andrew has developed a theory about horror movies from the 1930&#8217;s. Here&#8217;s a link to Edgar Allan Poe&#8217;s Original Story Bela Lugosi speaks Hungarian to the Monkey, in case you were wondering. Matt&#8217;s essay [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[58,61,62,100,109,124,126],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73734.mp3\n14047985\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:14:33\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557711255;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:165;}i:1;a:1:{s:2:\"id\";i:139;}i:2;a:1:{s:2:\"id\";i:105;}}}}"],"_wpas_done_all":["1"],"_wp_old_slug":["episode-3-murders-rue-morgue-gorilla-vaguely-foreign-gentleman"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"dsq_thread_id":["3220410694"],"_wpghs_github_path":["_posts/2014-11-07-episode-4-murders-rue-morgue-gorilla-vaguely-foreign-gentleman.md"],"_sha":["d547b664b4f1cc1fc5e5c11f68f8aa0e35fbf064"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_edit_lock":["1568397287:1"]},"episode-data":{"id":171,"feed":"podcast","url":"https://audio.simplecast.com/73734.mp3","duration":"0:14:33","size":"14047985","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/murders-in-the-rue-morgue-movie-poster-1932-1020141479.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/171"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=171"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/171/revisions"}],"predecessor-version":[{"id":634,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/171/revisions/634"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=171"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=171"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=171"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>