<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":888,"date":"2021-03-02T18:48:40","date_gmt":"2021-03-02T18:48:40","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=888"},"modified":"2021-03-02T18:48:41","modified_gmt":"2021-03-02T18:48:41","slug":"episode-61-invasion-of-the-body-snatchers-1978","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/03/02/episode-61-invasion-of-the-body-snatchers-1978/","title":{"rendered":"Episode 61 – Invasion of the Body Snatchers (1978)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"678\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-678x1024.jpg\" alt=\"invasion of the body snatchers poster - a pod being expelled from the sky\" class=\"wp-image-889\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-678x1024.jpg 678w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-199x300.jpg 199w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-768x1160.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-1017x1536.jpg 1017w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion.jpg 1059w\" sizes=\"(max-width: 678px) 100vw, 678px\" /></figure>\n\n\n\n<p>Let&#8217;s talk about pods baby. </p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>Invasion of the Body Snatchers (1978) was directed by Phillip Kaufman and stars:</p>\n\n\n\n<ul><li>Donald Sutherland</li><li>Brooke Adams</li><li>Veronica Cartwright</li><li>Jeff Goldblum</li><li>Leonard Nimoy</li></ul>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Invasion_of_the_Body_Snatchers_(1978_film)\">The film&#8217;s Wikipedia page</a></p>\n\n\n\n<p>It&#8217;s a remake of the 1955 film, which is adapted from the novel by Jack Finney. </p>\n\n\n\n<p>There are two other remakes, one from 1993 and one from 2007.</p>\n\n\n\n<p>We watched the version that was available (freely and legally) on YouTube but seems to have disappeared.</p>\n\n\n\n<h3>Topics Discussed</h3>\n\n\n\n<ul><li>The many versions of this story</li><li>Donald Sutherland as heartthrob</li></ul>\n\n\n\n<figure class=\"wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Kate Bush - Cloudbusting - Official Music Video\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/pllRW9wETzw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<ul><li>Wilhelm Reich</li><li>The paranoid tradition of 1970&#8217;s horror</li><li>Freddy and the Dreamers</li><li><a href=\"https://www.patreon.com/posts/48243340\">The X-Men</a></li></ul>\n\n\n\n<p>Andrew recommends buying all the back issues of <a href=\"https://itch.io/c/689872/indiepocalypse\">Indiepocalypse</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Let&#8217;s talk about pods baby.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1614710923:1"],"_oembed_d1a284ff748b4e7aaf97f51608283065":["<iframe title=\"Kate Bush - Cloudbusting - Official Music Video\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/pllRW9wETzw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_d1a284ff748b4e7aaf97f51608283065":["1614701814"],"_edit_last":["1"],"patreon_link":[""],"_patreon_link":["field_601f056b85def"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/74a690bb-1ef0-4223-b65e-49f74527481d/audio/905e3ed0-026f-470e-96c7-1285fecd2b9a/default_tc.mp3\n47320128\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:49:17\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":888,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/74a690bb-1ef0-4223-b65e-49f74527481d/audio/905e3ed0-026f-470e-96c7-1285fecd2b9a/default_tc.mp3","duration":"00:49:17","size":"47320128","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/03/invasion-678x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/888"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=888"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/888/revisions"}],"predecessor-version":[{"id":891,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/888/revisions/891"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=888"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=888"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=888"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>