<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":609,"date":"2019-04-26T13:39:45","date_gmt":"2019-04-26T17:39:45","guid":{"rendered":"https://goldenagehorror.com/?p=609"},"modified":"2019-10-10T14:56:20","modified_gmt":"2019-10-10T14:56:20","slug":"episode-46-kill-hour-of-the-wolf-baby-kill","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/04/26/episode-46-kill-hour-of-the-wolf-baby-kill/","title":{"rendered":"Episode 46 – Kill Hour of the Wolf Baby Kill"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"640\" height=\"960\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kill-baby-wolf.jpg\" alt=\"\" class=\"wp-image-784\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kill-baby-wolf.jpg 640w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/kill-baby-wolf-200x300.jpg 200w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></figure>\n\n\n\n<p>Hi! It&#8217;s been awhile. Technical difficulties have killed several recordings but here is a double episode featuring Andrew and Matt discussing Ingmar Bergman&#8217;s Hour of the Wolf and Mario Bava&#8217;s Kill Baby Kill.</p>\n","protected":false},"excerpt":{"rendered":"<p>Hi! It&#8217;s been awhile. Technical difficulties have killed several recordings but here is a double episode featuring Andrew and Matt discussing Ingmar Bergman&#8217;s Hour of the Wolf and Mario Bava&#8217;s Kill Baby Kill.</p>\n","protected":false},"author":1,"featured_media":610,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128464;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:597;}i:1;a:1:{s:2:\"id\";i:611;}i:2;a:1:{s:2:\"id\";i:589;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_wpas_done_all":["1"],"_thumbnail_id":["610"],"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/b953e096.mp3\n24567484\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:25:31\";}"],"_yoast_wpseo_primary_category":["184"],"_yoast_wpseo_content_score":["60"],"_edit_lock":["1570719380:1"]},"episode-data":{"id":609,"feed":"podcast","url":"https://audio.simplecast.com/b953e096.mp3","duration":"00:25:31","size":"24567484","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/kill-baby-wolf.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/609"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=609"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/609/revisions"}],"predecessor-version":[{"id":786,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/609/revisions/786"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/610"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=609"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=609"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=609"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>