<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":817,"date":"2019-11-08T18:54:56","date_gmt":"2019-11-08T18:54:56","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=817"},"modified":"2019-11-08T18:54:57","modified_gmt":"2019-11-08T18:54:57","slug":"episode-53-the-blood-on-satans-claw-1971","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/11/08/episode-53-the-blood-on-satans-claw-1971/","title":{"rendered":"Episode 53 &#8211; The Blood on Satan&#8217;s Claw (1971)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"768\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/11/81UoRJEIjEL._RI_-768x1024.jpg\" alt=\"\" class=\"wp-image-818\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/11/81UoRJEIjEL._RI_-768x1024.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/11/81UoRJEIjEL._RI_-225x300.jpg 225w, https://gahuploads.blob.core.windows.net/wp-content/2019/11/81UoRJEIjEL._RI_.jpg 1200w\" sizes=\"(max-width: 768px) 100vw, 768px\" /></figure>\n\n\n\n<p>The devil comes a calling as we kick off our folk horror series.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><strong>The Blood on Satan&#8217;s Claw</strong> was released in 1971, stars Linda Hayden and Patrick Wymark, and was directed by Piers Haggard.</p>\n\n\n\n<p>I tried to explain the basics of the folk horror genre in <a href=\"https://api.twilitgrotto.com/goldenagehorror/2019/04/26/episode-47-kwaidan-1964/\">a bonus episode that was released on Halloween.</a></p>\n\n\n\n<p><strong>Birth, Movies, Death</strong> has put out a great (better) explainer of the folk horror genre.</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"An Introduction To Folk Horror\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/iy01g6cfVzs?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>I am in the midst of reading <a href=\"https://amzn.to/33H7AoI\">Adam Scovell&#8217;s Folk Horror</a> and I mention it a bit on the show.</p>\n","protected":false},"excerpt":{"rendered":"<p>The devil comes a calling as we kick off our folk horror series.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,7],"tags":[],"post-meta-fields":{"_edit_lock":["1576612563:1"],"_oembed_3e1f0ea047ee616218c614ccce654653":["<iframe title=\"An Introduction To Folk Horror\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/iy01g6cfVzs?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_3e1f0ea047ee616218c614ccce654653":["1573237476"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/6f1704f3-0bbc-4b51-84f9-b4da6716ec41/blood-on-satans-claw-final_tc.mp3\n53024017\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:55:14\";}"]},"episode-data":{"id":817,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/6f1704f3-0bbc-4b51-84f9-b4da6716ec41/blood-on-satans-claw-final_tc.mp3","duration":"00:55:14","size":"53024017","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/11/81UoRJEIjEL._RI_-768x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/817"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=817"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/817/revisions"}],"predecessor-version":[{"id":819,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/817/revisions/819"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=817"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=817"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=817"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>