<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":617,"date":"2019-05-25T19:14:53","date_gmt":"2019-05-25T19:14:53","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=617"},"modified":"2019-10-10T15:04:52","modified_gmt":"2019-10-10T15:04:52","slug":"episode-48-the-manitou-1978","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/05/25/episode-48-the-manitou-1978/","title":{"rendered":"Episode 48 – The Manitou (1978)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"707\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b-707x1024.jpg\" alt=\"\" class=\"wp-image-790\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b-707x1024.jpg 707w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b-207x300.jpg 207w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b-768x1113.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b.jpg 828w\" sizes=\"(max-width: 707px) 100vw, 707px\" /></figure>\n\n\n\n<p>Laser boobs, neck fetuses, and a cavalcade of insensitive racial stereotypes. It&#8217;s the Manitou.</p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"454\" height=\"328\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/boner_2.gif\" alt=\"\" class=\"wp-image-789\"/></figure></div>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Manitou\">The Manitou on Wikipedia</a></p>\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<ul><li>We watched the Amazon Prime version of this flick but <a href=\"https://www.shoutfactory.com/product/the-manitou?product_id=7034\">there is a re-release available from Scream Factory</a>.</li><li>I first heard about this story from Grady Hendrix&#8217;s truly, truly great pop history of horror publishing, <a href=\"https://amzn.to/2LZ66ls\">Paperbacks from Hell</a>.</li><li>Sorry, as always, for the clatter of little pug feet during Andrew&#8217;s summary of the film.</li><li><a href=\"https://en.wikipedia.org/wiki/The_Lurker_at_the_Threshold#Misquamacus\">Misquamacus in August Derleth&#8217;s The Lurker at the Threshold</a></li></ul>\n\n\n\n<p>We&#8217;d like to start taking listener questions and comments on the show &#8211; if you have a message, you can leave a message for us by calling <a href=\"tel:5088173408\">(508) 817-3408</a>, or you can email me at <a href=\"mailto:matt@goldenagehorror.com\">matt@goldenagehorror.com</a>.</p>\n\n\n\n<h2>Contact Matt:</h2>\n\n\n\n<p><a href=\"https://www.twitter.com/thewatermethod\">@thewatermethod</a> on Twitter</p>\n\n\n\n<h2>Contact Andrew:</h2>\n\n\n\n<p><a href=\"https://www.twitter.com/pizzapranks\">@pizzapranks </a>on Twitter</p>\n\n\n\n<p>Andrew posts games on his <a href=\"https://pizzapranks.itch.io/\">itch.io</a> page, including <a href=\"https://pizzapranks.itch.io/an-rpg-about-nothing\">his new zine <strong>An RPG About Nothing</strong></a>.</p>\n\n\n\n<p><a href=\"http://amzn.to/2scZjtk\">All Godless Here on Amazon – 99 cents!</a></p>\n\n\n\n<p><a href=\"https://www.youtube.com/watch?v=NMy3ifv3XxI\">Theme is Swan Lake Dub by Dubology</a></p>\n\n\n\n<p>Check out Andrew and I’s other podcast,<a href=\"https://actualplay.network\"> ActualPlay.Network</a>. It’s a live play RPG podcast where we play stuff like Call of Cthulhu, Vampire, OSR games, and more.</p>\n\n\n\n<p>If you like this website, and you need a great, stylish, affordable website, please reach out to me on Twitter or contact me via <a href=\"https://www.whalingcityweb.com\">Whaling City Web</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Laser boobs, neck fetuses, and a cavalcade of insensitive racial stereotypes. It&#8217;s the Manitou.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_edit_lock":["1570719893:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/72fdf009-af48-427c-b763-c5b683d26da1/The_Manitou_FINAL_tc.mp3\n50604034\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:52:43\";}"],"_wp_old_date":["2019-09-10"]},"episode-data":{"id":617,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/72fdf009-af48-427c-b763-c5b683d26da1/The_Manitou_FINAL_tc.mp3","duration":"00:52:43","size":"50604034","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/12bff82f3b100bc0fad3d1c68b3f5d0b-707x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/617"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=617"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/617/revisions"}],"predecessor-version":[{"id":806,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/617/revisions/806"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=617"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=617"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=617"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>