<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":344,"date":"2015-02-21T16:05:21","date_gmt":"2015-02-21T21:05:21","guid":{"rendered":"http://goldenagehorror.com/?p=344"},"modified":"2019-09-16T18:37:11","modified_gmt":"2019-09-16T18:37:11","slug":"episode-19-the-most-dangerous-gamedog-king","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/02/21/episode-19-the-most-dangerous-gamedog-king/","title":{"rendered":"Episode 18 &#8211; The Most Dangerous Game (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"580\" height=\"391\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-most-dangerous-game-movie-poster-1932-1020415052.jpg\" alt=\"\" class=\"wp-image-672\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-most-dangerous-game-movie-poster-1932-1020415052.jpg 580w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-most-dangerous-game-movie-poster-1932-1020415052-300x202.jpg 300w\" sizes=\"(max-width: 580px) 100vw, 580px\" /></figure>\n\n\n\n<p>Matt and Andrew ponder the question &#8211; just what is the most dangerous game?</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"801\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/f6669-mostdangerousgame-1024x801-1024x801.jpg\" alt=\"\" class=\"wp-image-670\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/f6669-mostdangerousgame-1024x801.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/f6669-mostdangerousgame-1024x801-300x235.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/f6669-mostdangerousgame-1024x801-768x601.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>1932 directed by Irving Pichel Ernest B. Schoedsack starring Fay Wray, Joel McCrea and Leslie Banks</p>\n\n\n\n<p>From the short story by Richard Connell<br><a href=\"https://archive.org/stream/TheMostDangerousGame_129/danger.txt\">https://archive.org/stream/TheMostDangerousGame_129/danger.txt</a></p>\n\n\n\n<p>You can tell its pre code by the violence</p>\n\n\n\n<p>The plot concept has become a bit of an archetype</p>\n\n\n\n<p>The complete film</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/MlLIquCiyUw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>Apparently produced in a rush and for as few bucks as possible. Filmed using the same sets as King Kong, from the same producers and directors.</p>\n\n\n\n<p><a href=\"http://www.mcsweeneys.net/articles/the-mostdangerousgame\">mcsweeney&#8217;s live tweeting the most dangerous game</a></p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"539\" height=\"720\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Fay-Wray-1930s.jpg\" alt=\"\" class=\"wp-image-673\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Fay-Wray-1930s.jpg 539w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Fay-Wray-1930s-225x300.jpg 225w\" sizes=\"(max-width: 539px) 100vw, 539px\" /><figcaption>Fay Wray</figcaption></figure>\n\n\n\n<p><a href=\"http://theblondeatthefilm.com/2013/11/18/the-most-dangerous-game-1932/\">A nice Review by The Blonde at the Film</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Matt and Andrew ponder the question &#8211; just what is the most dangerous game?</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[52,65,89,96,101,104,126,140,142,156,164,179,185],"post-meta-fields":{"_edit_last":["1"],"_oembed_efd50db78a7e0ae8ac03132a9ef0dcbd":["{{unknown}}"],"_oembed_ccaa9903ccd9d659d3b49bf9a4a31e1b":["<iframe width=\"676\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=676&maxheight=1000\"></iframe>"],"_oembed_time_ccaa9903ccd9d659d3b49bf9a4a31e1b":["1498526111"],"enclosure":["https://audio.simplecast.com/73750.mp3\n17385045\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:18:02\";}"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_oembed_2866bd984c0954b6d46ae008bec3cb31":["{{unknown}}"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128499;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:158;}i:1;a:1:{s:2:\"id\";i:340;}i:2;a:1:{s:2:\"id\";i:151;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5682157176"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-02-21-episode-19-the-most-dangerous-gamedog-king.md"],"_sha":["c93b874209e13e918d2a6938c735971a6cf400a4"],"_yoast_wpseo_primary_category":[""],"_yoast_wpseo_content_score":["30"],"_oembed_c89579cfba47a2cd7bee4d56830bbdcb":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/MlLIquCiyUw?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_c89579cfba47a2cd7bee4d56830bbdcb":["1498670150"],"_oembed_dc2c3f7c3be6e719565978db3bf3541c":["<iframe width=\"640\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=640&maxheight=960\"></iframe>"],"_oembed_time_dc2c3f7c3be6e719565978db3bf3541c":["1500474593"],"_oembed_bd824a88a75fe474b94cf5effb365b2e":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/MlLIquCiyUw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_bd824a88a75fe474b94cf5effb365b2e":["1558442092"],"_oembed_b2720b7c4bf49524db3a27fe2a9cbd30":["<iframe width=\"500\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=500&maxheight=750&dnt=1\"></iframe>"],"_oembed_time_b2720b7c4bf49524db3a27fe2a9cbd30":["1558442092"],"_edit_lock":["1568658888:1"],"_oembed_9df4acd0d4bd29eb256aa6f18760355e":["<iframe title=\"The Most Dangerous Game (1932) Complete Film\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/MlLIquCiyUw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_9df4acd0d4bd29eb256aa6f18760355e":["1568658852"],"_oembed_5489f591a3b801a9aaa3cd6a99e8e233":["<iframe title=\"DuBoLoGy - Swan Lake Dub - angeldustrecords.bandcamp.com/album/dub-lab by DuBoLoGy\" width=\"580\" height=\"400\" scrolling=\"no\" frameborder=\"no\" src=\"https://w.soundcloud.com/player/?visual=true&url=https%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F15193794&show_artwork=true&maxwidth=580&maxheight=870&dnt=1\"></iframe>"],"_oembed_time_5489f591a3b801a9aaa3cd6a99e8e233":["1568658854"]},"episode-data":{"id":344,"feed":"podcast","url":"https://audio.simplecast.com/73750.mp3","duration":"0:18:02","size":"17385045","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-most-dangerous-game-movie-poster-1932-1020415052.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/344"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=344"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/344/revisions"}],"predecessor-version":[{"id":675,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/344/revisions/675"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=344"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=344"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=344"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>