<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":593,"date":"2018-04-02T15:19:33","date_gmt":"2018-04-02T19:19:33","guid":{"rendered":"https://goldenagehorror.com/?p=593"},"modified":"2019-10-23T19:19:17","modified_gmt":"2019-10-23T19:19:17","slug":"episode-43-eyes-without-a-face-1960","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2018/04/02/episode-43-eyes-without-a-face-1960/","title":{"rendered":"Episode 43 – Eyes Without a Face (1960)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"745\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/Eyes-Without-a-Face-1960-745x1024-745x1024.jpg\" alt=\"\" class=\"wp-image-771\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/Eyes-Without-a-Face-1960-745x1024.jpg 745w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/Eyes-Without-a-Face-1960-745x1024-218x300.jpg 218w\" sizes=\"(max-width: 745px) 100vw, 745px\" /></figure>\n\n\n\n<p>The Horror Chamber of Doctor Faustus/the Manster double bill</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Topics Discussed</h2>\n\n\n\n<ul><li>Podcast and movie introductions</li><li>Andrew does the plot recap</li><li>The movie’s place in French cinema</li><li>Critical reception of Eyes without a Face</li><li><a href=\"https://en.wikipedia.org/wiki/Blood_of_the_Beasts\">Blood of the Beasts</a></li><li>A reaction to the modern world</li><li>Citation: Postwar Facial Reconstruction</li><li><a href=\"https://www.imdb.com/title/tt0044733/\">Hotel des invalides</a> (misdescribed in the podcast somewhat)</li><li>The mask</li><li>The conflict of the main character</li><li>The acting style</li></ul>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"801\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/combo_eyes_without_face_poster_02-1024x801-5d9f44d703c93-1024x801.jpg\" alt=\"\" class=\"wp-image-770\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/combo_eyes_without_face_poster_02-1024x801-5d9f44d703c93.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/combo_eyes_without_face_poster_02-1024x801-5d9f44d703c93-300x235.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/combo_eyes_without_face_poster_02-1024x801-5d9f44d703c93-768x601.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<h2>Citations/Reference (What?)</h2>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Eyes_Without_a_Face\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p class=\"brush: text; plain-text\">Geroulanos, Stefanos. Postwar Facial Reconstruction: Georges Franju&#8217;s Eyes Without a Face. French Politics, Culture &amp; Society, vol. 31, no. 2, 2013, pp. 1533. Conrad, Randall, and Georges Franju. </p>\n\n\n\n<p class=\"brush: text; plain-text\">Mystery and Melodrama: A Conversation with Georges Franju. Film Quarterly, vol. 35, no. 2, 1981, pp. 3142. JSTOR, JSTOR, www.jstor.org/stable/1212048.</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/chbWJVwaoY8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>We watched the <a href=\"https://amzn.to/2GMWeaJ\">Criterion Collection edition of the film</a>.</p>\n\n\n\n<p><a href=\"https://amzn.to/2uFIhqf\">There is also an excellent soundtrack</a> (which we didn&#8217;t discuss in the episode)</p>\n","protected":false},"excerpt":{"rendered":"<p>The Horror Chamber of Doctor Faustus/the Manster double bill</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[112],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["60"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128459;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:589;}i:1;a:1:{s:2:\"id\";i:605;}i:2;a:1:{s:2:\"id\";i:248;}}}}"],"enclosure":["https://audio.simplecast.com/2fee9aa3.mp3\n26344938\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:31:01\";}"],"_wpas_done_all":["1"],"_oembed_ed77b153d8a20376e4395cddbcd76df6":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/chbWJVwaoY8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ed77b153d8a20376e4395cddbcd76df6":["1558442081"],"_edit_lock":["1571858358:1"],"_oembed_9cd0786fa9d45fb54a325cde603217ac":["<iframe title=\"Billy Idol -  Eyes Without A Face\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/chbWJVwaoY8?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_9cd0786fa9d45fb54a325cde603217ac":["1570718898"]},"episode-data":{"id":593,"feed":"podcast","url":"https://audio.simplecast.com/2fee9aa3.mp3","duration":"00:31:01","size":"26344938","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/Eyes-Without-a-Face-1960-745x1024-745x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/593"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=593"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/593/revisions"}],"predecessor-version":[{"id":811,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/593/revisions/811"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=593"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=593"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=593"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>