<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":244,"date":"2014-12-11T09:22:56","date_gmt":"2014-12-11T14:22:56","guid":{"rendered":"http://goldenagehorror.com/?p=244"},"modified":"2019-09-13T19:50:42","modified_gmt":"2019-09-13T19:50:42","slug":"episode-9-mummy","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/11/episode-9-mummy/","title":{"rendered":"Episode 9 &#8211; The Mummy (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"804\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-1024x804.jpg\" alt=\"\" class=\"wp-image-648\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-1024x804.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-300x235.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-768x603.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_.jpg 1873w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt talk about the Boris Karloff 1932 horror classic The Mummy. Also starring Zita Johann, along with mainstays Edward Van Sloan and David Manners, The Mummy was directed by German director Karl Freund, he of Mad Love, Metropolis, and I Love Lucy fame.</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"768\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Mummy2-1024x768-1024x768.jpg\" alt=\"\" class=\"wp-image-649\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Mummy2-1024x768.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Mummy2-1024x768-300x225.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Mummy2-1024x768-768x576.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<ul><li><a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a></li><li><a title=\"Zita Johann\" href=\"http://goldenagehorror.com/zita-johann/\">Zita Johann</a></li><li><a title=\"And You Call Yourself A Scientist... The Mummy\" href=\"http://www.aycyas.com/mummy1932.htm\">And You Call Yourself a Scientist, as always, as a lovely review of the Mummy</a></li><li><a title=\"PIzza Pranks\" href=\"http://www.pizzapranks.com\">Andrew&#8217;s website</a><br><a href=\"http://www.twitter.com/PIZZAPRANKS\">Andrew&#8217;s twitter</a></li><li><a href=\"http://www.twitter.com/thewatermethod\">Matt&#8217;s twitter</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt talk about the Boris Karloff 1932 horror classic The Mummy. Also starring Zita Johann, along with mainstays Edward Van Sloan and David Manners, The Mummy was directed by German director Karl Freund, he of Mad Love, Metropolis, and I Love Lucy fame.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[12,47,59,98,99,123,186],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73740.mp3\n17879369\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:18:33\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592515;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:235;}i:1;a:1:{s:2:\"id\";i:148;}i:2;a:1:{s:2:\"id\";i:294;}i:3;a:1:{s:2:\"id\";i:61;}i:4;a:1:{s:2:\"id\";i:266;}i:5;a:1:{s:2:\"id\";i:344;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5778199599"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-12-11-episode-9-mummy.md"],"_sha":["6e5b6ca3083c3b03b7b9683b2a320ad26c6dc460"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_edit_lock":["1568404119:1"]},"episode-data":{"id":244,"feed":"podcast","url":"https://audio.simplecast.com/73740.mp3","duration":"0:18:33","size":"17879369","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-1024x804.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/244"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=244"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/244/revisions"}],"predecessor-version":[{"id":650,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/244/revisions/650"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=244"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=244"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=244"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>