<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":793,"date":"2019-06-25T20:45:10","date_gmt":"2019-06-26T00:45:10","guid":{"rendered":"https://goldenagehorror.com/?p=619"},"modified":"2019-10-10T15:03:17","modified_gmt":"2019-10-10T15:03:17","slug":"episode-49-horror-express-1972","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/06/25/episode-49-horror-express-1972/","title":{"rendered":"Episode 49 &#8211; Horror Express (1972)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"635\" height=\"465\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/horror-express-poster.jpg\" alt=\"\" class=\"wp-image-800\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/horror-express-poster.jpg 635w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/horror-express-poster-300x220.jpg 300w\" sizes=\"(max-width: 635px) 100vw, 635px\" /></figure>\n\n\n\n<p>This month, Andrew and Matt tackle the Terry Savales vehicle HORROR EXPRESS. The vehicle? It&#8217;s a train.</p>\n\n\n\n<!--more-->\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Manitou\">Horror Express on Wikipedia</a></p>\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<ul><li>We watched the free Amazon Prime version of this flick.</li><li>Further (more insightful) reading: <a href=\"https://nitratediva.wordpress.com/2016/05/28/horror-express-1972/\">The Nitrate Diva on the Horror Express</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>This month, Andrew and Matt tackle the Terry Savales vehicle HORROR EXPRESS. The vehicle? It&#8217;s a train.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[4,7],"tags":[41,131],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1570762739;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:629;}i:1;a:1:{s:2:\"id\";i:583;}i:2;a:1:{s:2:\"id\";i:625;}i:3;a:1:{s:2:\"id\";i:632;}i:4;a:1:{s:2:\"id\";i:616;}i:5;a:1:{s:2:\"id\";i:593;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_wpas_done_all":["1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1e788de0-3081-4f82-b7b4-b4172939814a/horror_expess_final_tc.mp3\n43433944\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:45:15\";}"],"_yoast_wpseo_primary_category":["4"],"_yoast_wpseo_content_score":["90"],"_edit_lock":["1570719798:1"]},"episode-data":{"id":793,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1e788de0-3081-4f82-b7b4-b4172939814a/horror_expess_final_tc.mp3","duration":"00:45:15","size":"43433944","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/horror-express-poster.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/793"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=793"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/793/revisions"}],"predecessor-version":[{"id":803,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/793/revisions/803"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=793"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=793"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=793"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>