<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":846,"date":"2020-05-03T19:57:38","date_gmt":"2020-05-03T19:57:38","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=846"},"modified":"2020-05-03T20:04:42","modified_gmt":"2020-05-03T20:04:42","slug":"episode-57-belladonna-of-sadness-1973","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2020/05/03/episode-57-belladonna-of-sadness-1973/","title":{"rendered":"Episode 57 &#8211; Belladonna of Sadness (1973)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"729\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster-729x1024.jpg\" alt=\"\" class=\"wp-image-847\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster-729x1024.jpg 729w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster-214x300.jpg 214w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster-768x1079.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster.jpg 900w\" sizes=\"(max-width: 729px) 100vw, 729px\" /></figure>\n\n\n\n<p>Andrew and Matt live out the quarantine days with a trip into this psychedelic medieval witchcraft animated film.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>Belladonna of Sadness, which is for grownups only please, was directed by Eiichi Yamamoto and starred Aiko Nagayama and Tatsuya Nakadai.</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Belladonna_of_Sadness\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>We were inspired to watch this film after reading <a href=\"https://unquietthings.com/cinema-in-exile/\">this top 10 list on Unquiet Dead</a>.</p>\n\n\n\n<p>The story was inspired by&nbsp;Jules Michelet&#8217;s 1862&nbsp;non-fiction&nbsp;book&nbsp;<em>&#8220;La Sorcière&#8221;.</em></p>\n\n\n\n<p>We watched the version available on <a href=\"https://www.kanopy.com/\">Kanopy</a>, which may be free with your library.</p>\n\n\n\n<p>Matt recommends Castlevania Season 3 on Netflix.</p>\n\n\n\n<p>Andrew recommends <a href=\"https://itch.io/c/689872/indiepocalypse\">Indiepocalypse</a>.</p>\n\n\n\n<h2>Sponsor</h2>\n\n\n\n<p><a href=\"https://www.whalingcityweb.com\">Whaling City Web</a> &#8211; We&#8217;re owning our own content in 2020</p>\n\n\n\n<p>Follow Andrew on twitter <a href=\"https://twitter.com/pizzapranks\">@pizzapranks</a> for more information about his indie game anthology Indiepocalypse</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt live out the quarantine days with a trip into this psychedelic medieval witchcraft animated film.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,3,4,7],"tags":[],"post-meta-fields":{"_edit_lock":["1609727122:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1c157a7d-f01f-4144-bc5c-9d846a18ad45/belladonna-final_tc.mp3\n39730408\naudio/mpeg\na:2:{s:8:\"duration\";s:7:\"0:41:23\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":846,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/1c157a7d-f01f-4144-bc5c-9d846a18ad45/belladonna-final_tc.mp3","duration":"0:41:23","size":"39730408","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/belladonna-poster-729x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/846"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=846"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/846/revisions"}],"predecessor-version":[{"id":855,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/846/revisions/855"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=846"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=846"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=846"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>