<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":868,"date":"2021-02-01T19:18:06","date_gmt":"2021-02-01T19:18:06","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=868"},"modified":"2021-02-01T19:18:07","modified_gmt":"2021-02-01T19:18:07","slug":"episode-60-village-of-the-damned-1960","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/02/01/episode-60-village-of-the-damned-1960/","title":{"rendered":"Episode 60 &#8211; Village of the Damned (1960)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"807\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-1024x807.jpg\" alt=\"\" class=\"wp-image-869\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-1024x807.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-300x236.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-768x605.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-1536x1210.jpg 1536w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned.jpg 1948w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>We move into our sci-fi horror with this archetype-defining classic.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>Village of the Damned was directed by Wolf Rilla and stars George Sanders</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Village_of_the_Damned_%281960_film%29\">The film&#8217;s Wikipedia page</a></p>\n\n\n\n<p>The story was adapted from the novel by John Wyndham</p>\n\n\n\n<p>We watched the version that is streaming on the Criterion Channel</p>\n\n\n\n<h3>Topics Discussed</h3>\n\n\n\n<ul><li><a href=\"https://books.google.com/books?id=b-qdAwAAQBAJ&amp;lpg=PA65&amp;dq=village%20of%20the%20damned&amp;lr&amp;pg=PA65#v=onepage&amp;q=village%20of%20the%20damned&amp;f=false\">European Nightmares: Horror Cinema in Europe Since 1945</a></li><li>The Falcon, the Saint, and serial movies from the forties</li><li>Blumhouse &amp; the Dark Universe</li></ul>\n\n\n\n<p>Andrew recommends buying all the back issues of <a href=\"https://itch.io/c/689872/indiepocalypse\">Indiepocalypse</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>We move into our sci-fi horror with this archetype-defining classic.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1614701368:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/4ecd795a-3ef1-42a0-83cb-fd5062367464/audio/a1c645c5-1331-4913-a2fd-062f204d3b58/default_tc.mp3\n43946362\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:45:47\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":868,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/4ecd795a-3ef1-42a0-83cb-fd5062367464/audio/a1c645c5-1331-4913-a2fd-062f204d3b58/default_tc.mp3","duration":"00:45:47","size":"43946362","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/village-of-the-damned-1024x807.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/868"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=868"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/868/revisions"}],"predecessor-version":[{"id":870,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/868/revisions/870"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=868"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=868"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=868"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>