<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":406,"date":"2015-10-24T20:27:48","date_gmt":"2015-10-25T00:27:48","guid":{"rendered":"http://goldenagehorror.com/?p=406"},"modified":"2019-09-16T19:38:52","modified_gmt":"2019-09-16T19:38:52","slug":"episode-24-the-wicker-man-1973","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/10/24/episode-24-the-wicker-man-1973/","title":{"rendered":"Episode 24 &#8211; The Wicker Man (1973)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"683\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman-683x1024.jpg\" alt=\"\" class=\"wp-image-693\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman-683x1024.jpg 683w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman-200x300.jpg 200w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman-768x1152.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman.jpg 1200w\" sizes=\"(max-width: 683px) 100vw, 683px\" /></figure>\n\n\n\n<p>Matt and Andrew watch the delirious 1973 pagan fantasy/murder mystery/horror The Wicker Man, starring Christoper Lee and directed by Robin Hardy. There are no bees. </p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"573\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickerman-1024x573.jpg\" alt=\"\" class=\"wp-image-692\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickerman-1024x573.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickerman-300x168.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickerman-768x430.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickerman.jpg 1280w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>Matt is way off, again misremembering the availability of the Wicker Man and probably the chronology of Iron Maiden&#8217;s Brave New World record.</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Wicker_Man_(1973_film)\">The Wicker Man</a><br><a href=\"https://en.wikipedia.org/wiki/Christopher_Lee\">Christoper Lee</a></p>\n\n\n\n<p><a href=\"http://www.sacred-texts.com/pag/frazer\">The Golden Bough</a></p>\n\n\n\n<p></p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/-sQ3Af3DpeM?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div><figcaption>Iron Maiden&#8217;s The Wicker Man</figcaption></figure>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/-1GadTfGFvU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div><figcaption>Not the bees</figcaption></figure>\n","protected":false},"excerpt":{"rendered":"<p>Matt and Andrew watch the delirious 1973 pagan fantasy/murder mystery/horror The Wicker Man, starring Christoper Lee and directed by Robin Hardy. There are no bees.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[41,88,127,161,168],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73755.mp3\n22985681\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:23:52\";}"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592509;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:330;}i:1;a:1:{s:2:\"id\";i:480;}i:2;a:1:{s:2:\"id\";i:415;}i:3;a:1:{s:2:\"id\";i:402;}i:4;a:1:{s:2:\"id\";i:472;}i:5;a:1:{s:2:\"id\";i:352;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5680403940"],"_yoast_wpseo_content_score":["30"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-10-24-episode-24-the-wicker-man-1973.md"],"_sha":["9fde9ff58cef72344ac5473d27663950bbed3814"],"_oembed_bc2621e48a6f01c35a871f4e937c8c6f":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/-sQ3Af3DpeM?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_bc2621e48a6f01c35a871f4e937c8c6f":["1498659637"],"_oembed_0969f614baf13b6b7c06bc3de00d574e":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/-1GadTfGFvU?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_0969f614baf13b6b7c06bc3de00d574e":["1498659638"],"_oembed_ea75be68a378e90d42ca54a39e37c927":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/-sQ3Af3DpeM?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ea75be68a378e90d42ca54a39e37c927":["1558442089"],"_oembed_fae9eef396cb93a35f63c680e7c68626":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/-1GadTfGFvU?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_fae9eef396cb93a35f63c680e7c68626":["1558442089"],"_edit_lock":["1568662597:1"]},"episode-data":{"id":406,"feed":"podcast","url":"https://audio.simplecast.com/73755.mp3","duration":"0:23:52","size":"22985681","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/wickahman-683x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/406"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=406"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/406/revisions"}],"predecessor-version":[{"id":694,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/406/revisions/694"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=406"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=406"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=406"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>