<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":330,"date":"2015-02-05T21:58:53","date_gmt":"2015-02-06T02:58:53","guid":{"rendered":"http://goldenagehorror.com/?p=330"},"modified":"2020-02-13T15:11:21","modified_gmt":"2020-02-13T15:11:21","slug":"episode-16-gods-monsters","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/02/05/episode-16-gods-monsters/","title":{"rendered":"Episode 16: Gods and Monsters"},"content":{"rendered":"\n<p>This week, Andrew and Matt talk about the 1998 film GODS AND MONSTERS, the James Whale biopic by Bill Condon starring Ian McKellen, which we decided would be an excellent conclusion to James Whale January.</p>\n\n\n\n<!--more-->\n\n\n\n<p>1998 film written and directed by <a title=\"Bill Condon\" href=\"http://en.wikipedia.org/wiki/Bill_Condon\">Bill Condon</a></p>\n\n\n\n<p>Based on the book &#8220;<a href=\"http://www.amazon.com/gp/product/0452273374/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=0452273374&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=F7GMHTISEDVYRJCM\">The Father of Frankenstein</a>&#8221; by Christoper Bram<br>Largely fictionalized. They drew biographical details from Whale&#8217;s life, but it is a matter of speculation as to his reasons for suicide, and the gardener is a complete fiction.</p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt talk about the 1998 film GODS AND MONSTERS, the James Whale biopic by Bill Condon starring Ian McKellen, which we decided would be an excellent conclusion to James Whale January.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[14,26,29,30,72,75,78,84,86,92,162],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73747.mp3\n20139802\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:20:54\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557898556;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:294;}i:1;a:1:{s:2:\"id\";i:78;}i:2;a:1:{s:2:\"id\";i:376;}}}}"],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"dsq_thread_id":["5753680851"],"_wpghs_github_path":["_posts/2015-02-05-episode-16-gods-monsters.md"],"_sha":["858cfe6c0b5d4c3f08274deb8734061d96322739"],"_yoast_wpseo_primary_category":["4"],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_b57925474f66bb20bc46669e882603f0":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/nFeS7vt_DtA?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_b57925474f66bb20bc46669e882603f0":["1498656789"],"_oembed_50ba7cef9cc72116f46f8ce00baebf5b":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/nFeS7vt_DtA?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_50ba7cef9cc72116f46f8ce00baebf5b":["1558442093"],"_edit_lock":["1581606681:1"],"_oembed_eb7eb95885ffa8205548e61666222769":["{{unknown}}"]},"episode-data":{"id":330,"feed":"podcast","url":"https://audio.simplecast.com/73747.mp3","duration":"0:20:54","size":"20139802","type":"audio/mpeg","width":"","height":""},"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/330"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=330"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/330/revisions"}],"predecessor-version":[{"id":839,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/330/revisions/839"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=330"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=330"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=330"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>