<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":579,"date":"2017-09-29T14:04:18","date_gmt":"2017-09-29T18:04:18","guid":{"rendered":"https://goldenagehorror.com/?p=579"},"modified":"2019-10-10T14:45:15","modified_gmt":"2019-10-10T14:45:15","slug":"episode-40-gojiragodzilla","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/09/29/episode-40-gojiragodzilla/","title":{"rendered":"Episode 40 &#8211; Gojira/Godzilla"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"766\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/godzilla_1954_poster_11-766x1024-766x1024.jpg\" alt=\"\" class=\"wp-image-759\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/godzilla_1954_poster_11-766x1024.jpg 766w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/godzilla_1954_poster_11-766x1024-224x300.jpg 224w\" sizes=\"(max-width: 766px) 100vw, 766px\" /></figure>\n\n\n\n<p>Also, episode 40.5 &#8211; Godzilla, King of the Monsters!</p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"500\" height=\"379\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/Godzilla-1954-III.jpg\" alt=\"\" class=\"wp-image-758\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/Godzilla-1954-III.jpg 500w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/Godzilla-1954-III-300x227.jpg 300w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></figure></div>\n\n\n\n<p>Obligatory apology &#8211; sorry for being a low energy Jeb this episode. I was a tired guy this day. This episode has the greatest opening audio of literally any of our episodes thus far. Also sorry for various pug noises (that&#8217;s Frankie) and also the lateness of this episode. This episode snuck in just under the wire.</p>\n\n\n\n<p>Next month, we are putting out our &#8220;Black Sunday&#8221; episode.</p>\n\n\n\n<p>The original 1954 film is a truly fantastic movie. Godzilla, of the Monsters, less so. Still entirely watchable, in my opinion, Lot of groans from Andrew though. <a href=\"http://amzn.to/2xHGoXS\">We watched the Criterion Collection edition, for those keeping score at home</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Also, episode 40.5 &#8211; Godzilla, King of the Monsters!</p>\n","protected":false},"author":1,"featured_media":580,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[66,76,94,97,177],"post-meta-fields":{"_edit_last":["1"],"_thumbnail_id":["580"],"enclosure":["https://audio.simplecast.com/d3cd085f.mp3\n38047504\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:39:33\";}"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128503;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:576;}i:1;a:1:{s:2:\"id\";i:540;}i:2;a:1:{s:2:\"id\";i:583;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["6179739091"],"_edit_lock":["1570718716:1"]},"episode-data":{"id":579,"feed":"podcast","url":"https://audio.simplecast.com/d3cd085f.mp3","duration":"0:39:33","size":"38047504","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/godzilla_1954_poster_11-766x1024-766x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/579"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=579"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/579/revisions"}],"predecessor-version":[{"id":761,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/579/revisions/761"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/580"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=579"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=579"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=579"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>