<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":912,"date":"2021-05-29T14:23:29","date_gmt":"2021-05-29T14:23:29","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=912"},"modified":"2021-05-29T14:23:31","modified_gmt":"2021-05-29T14:23:31","slug":"episode-64-creature-from-the-black-lagoon-1954","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/05/29/episode-64-creature-from-the-black-lagoon-1954/","title":{"rendered":"Episode 64 &#8211; Creature from the Black Lagoon (1954)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"771\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01-771x1024.jpg\" alt=\"the french poster for creature from the black lagoon\" class=\"wp-image-913\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01-771x1024.jpg 771w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01-226x300.jpg 226w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01-768x1021.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01.jpg 903w\" sizes=\"(max-width: 771px) 100vw, 771px\" /></figure>\n\n\n\n<p>Andrew and Matt go under the sea, where the seaweed is always greener (in someone else&#8217;s lake).</p>\n\n\n\n<!--more-->\n\n\n\n<p><em><strong>Creature from the Black Lagoon</strong></em> was directed by <a href=\"https://en.wikipedia.org/wiki/Jack_Arnold_(director)\">Jack Arnold</a> and stars</p>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/Richard_Carlson_(actor)\">Richard Carlson</a> </li><li><a href=\"https://en.wikipedia.org/wiki/Julie_Adams\">Julie Adams</a> </li><li><a href=\"https://en.wikipedia.org/wiki/Richard_Denning\">Richard Denning</a></li><li><a href=\"https://en.wikipedia.org/wiki/Antonio_Moreno\">Antonio Moreno</a></li><li><a href=\"https://en.wikipedia.org/wiki/Nestor_Paiva\">Nestor Paiva</a></li><li><a href=\"https://en.wikipedia.org/wiki/Whit_Bissell\">Whit Bissell</a>. </li></ul>\n\n\n\n<p>The Creature was played by <a href=\"https://en.wikipedia.org/wiki/Ben_Chapman_(actor)\">Ben Chapman</a> on land and by <a href=\"https://en.wikipedia.org/wiki/Ricou_Browning\">Ricou Browning</a> underwater.</p>\n\n\n\n<h2>Additional notes</h2>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/Space_Seed\">Space Seed</a>/<a href=\"https://en.wikipedia.org/wiki/Star_Trek_II:_The_Wrath_of_Khan\">The Wrath of Khan</a></li><li><a href=\"https://bookshop.org/a/15189/9781335010131\">The Lady from the Black Lagoon</a> by Mallory O&#8217;Meara relates the story of the designer of the Creature, Millicent Patrick</li><li><a href=\"https://amzn.to/2R1YD8y\">The Shape of Water</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt go under the sea, where the seaweed is always greener (in someone else&#8217;s lake).</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,192,196],"tags":[],"post-meta-fields":{"_edit_lock":["1622298316:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/9bf9a093-0d77-4b08-8493-b07b5f1f397f/audio/40348161-ff10-425c-82d3-20bf3df23077/default_tc.mp3\n44662326\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:46:31\";s:8:\"explicit\";s:1:\"0\";}"],"patreon_link":[""],"_patreon_link":["field_601f056b85def"]},"episode-data":{"id":912,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/9bf9a093-0d77-4b08-8493-b07b5f1f397f/audio/40348161-ff10-425c-82d3-20bf3df23077/default_tc.mp3","duration":"00:46:31","size":"44662326","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/17-creature-from-the-black-lagoon-re-release-french-moyenne-1962-01-771x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/912"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=912"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/912/revisions"}],"predecessor-version":[{"id":914,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/912/revisions/914"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=912"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=912"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=912"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>