<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":253,"date":"2014-12-18T17:50:01","date_gmt":"2014-12-18T22:50:01","guid":{"rendered":"http://goldenagehorror.com/?p=253"},"modified":"2019-09-13T19:52:15","modified_gmt":"2019-09-13T19:52:15","slug":"episode-10-testament-dr-mabuse","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/18/episode-10-testament-dr-mabuse/","title":{"rendered":"Episode 10 &#8211; The Testament of Dr Mabuse (1933)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"855\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/The-Testament-of-Dr-Mabuse-855x1024-855x1024.jpg\" alt=\"\" class=\"wp-image-651\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/The-Testament-of-Dr-Mabuse-855x1024.jpg 855w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/The-Testament-of-Dr-Mabuse-855x1024-250x300.jpg 250w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/The-Testament-of-Dr-Mabuse-855x1024-768x920.jpg 768w\" sizes=\"(max-width: 855px) 100vw, 855px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt talk about Fritz Lang&#8217;s classic German crime/horror film, The Testament of Dr Mabuse.</p>\n\n\n\n<!--more-->\n\n\n\n<p><a title=\"Fritz Lang\" href=\"http://goldenagehorror.com/fritz-lang/\">Matt&#8217;s article on Fritz Lang</a></p>\n\n\n\n<p>The German at the beginnining is from this video, if you&#8217;re interesting in a translation:</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/n-WnY_ZmT9E?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p><a href=\"http://www.tcm.com/this-month/article.html?isPreview=&amp;id=659368%7C90524&amp;name=The-Testament-of-Dr-Mabuse\">There&#8217;s a great writeup of the film on TCM.</a></p>\n\n\n\n<p><a href=\"http://www.telegraph.co.uk/culture/film/recommendations/10065053/Tim-Robey-recommends...-The-Testament-of-Dr-Mabuse-1933.html\">Tim Robey recommend the film on the Guardian</a></p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt talk about Fritz Lang&#8217;s classic German crime/horror film, The Testament of Dr Mabuse.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73741.mp3\n29949331\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:31:07\";}"],"videourl":[""],"_oembed_d996c63f8e451b4f6d0849c11bac9365":["{{unknown}}"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128478;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:248;}i:1;a:1:{s:2:\"id\";i:244;}i:2;a:1:{s:2:\"id\";i:480;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5962608133"],"_wpghs_github_path":["_posts/2014-12-18-episode-10-testament-dr-mabuse.md"],"_sha":["d395fd805b6abbc51869b7705088dc8b940826e8"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_cbe58cd526ebcd9102248f0eb7339f6a":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/n-WnY_ZmT9E?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_cbe58cd526ebcd9102248f0eb7339f6a":["1498659222"],"_oembed_eade2d57dfc5104797ab403cce6d84ef":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/n-WnY_ZmT9E?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_eade2d57dfc5104797ab403cce6d84ef":["1558442094"],"_edit_lock":["1568404338:1"],"_oembed_f21090ad65a34c3831829603be05f6fd":["<iframe title=\"The Testament of Dr Mabuse (Fritz Lang)\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/n-WnY_ZmT9E?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_f21090ad65a34c3831829603be05f6fd":["1568404279"]},"episode-data":{"id":253,"feed":"podcast","url":"https://audio.simplecast.com/73741.mp3","duration":"0:31:07","size":"29949331","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/The-Testament-of-Dr-Mabuse-855x1024-855x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/253"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=253"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/253/revisions"}],"predecessor-version":[{"id":653,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/253/revisions/653"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=253"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=253"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=253"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>