<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":795,"date":"2019-09-08T20:55:50","date_gmt":"2019-09-09T00:55:50","guid":{"rendered":"https://goldenagehorror.com/?p=629"},"modified":"2019-10-10T15:04:02","modified_gmt":"2019-10-10T15:04:02","slug":"episode-51-the-dunwich-horror-picture-show-1970","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2019/09/08/episode-51-the-dunwich-horror-picture-show-1970/","title":{"rendered":"Episode 51 &#8211; The Dunwich Horror Picture Show (1970)"},"content":{"rendered":"\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"500\" height=\"647\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dunwichhorror_poster-copy-e1566246464278.jpg\" alt=\"\" class=\"wp-image-804\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dunwichhorror_poster-copy-e1566246464278.jpg 500w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/dunwichhorror_poster-copy-e1566246464278-232x300.jpg 232w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></figure></div>\n\n\n\n<p>Still humming with eldritch energy from the Necronomicon Providence, Andrew and Matt talk about their experience at the live showing of the Lovecraftesque adaptation of the DUNWICH HORROR.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><strong>The Dunwich Horror</strong> stars Dean Stockwell, Ed Begley and Sandra Dee and adapts the 1932 HP Lovecraft story of the same name. The <a href=\"http://www.hplovecraft.com/writings/texts/fiction/dh.aspx\">full text of the story is available at HPLovecraft.com</a>.</p>\n\n\n\n<p>Andrew and Matt saw the film on a decaying 35mm print at the Necronomicon PVD (with live accompaniment!). If you&#8217;d like to experience the film in your own home there is <a href=\"https://amzn.to/34pyWk6\">an affordable DVD available</a>.</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"The Dunwich Horror (1970) OST\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/QRtXRX3Qzdw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>Still humming with eldritch energy from the Necronomicon Providence, Andrew and Matt talk about their experience at the live showing of the Lovecraftesque adaptation of the DUNWICH HORROR.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1570596840;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:632;}i:1;a:1:{s:2:\"id\";i:583;}i:2;a:1:{s:2:\"id\";i:619;}}}}"],"_publicize_twitter_user":["@thewatermethod"],"_wpas_done_all":["1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/7ad46e6e-6743-41c8-b05f-35f10e08cbc0/dunwich_horror_final_tc.mp3\n38059825\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:39:39\";}"],"_yoast_wpseo_primary_category":["4"],"_yoast_wpseo_content_score":["90"],"_oembed_ad2f820cc9c8a153ba83e5986befeee8":["<iframe title=\"The Dunwich Horror (1970) OST\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/QRtXRX3Qzdw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ad2f820cc9c8a153ba83e5986befeee8":["1570719606"],"_edit_lock":["1570719842:1"]},"episode-data":{"id":795,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/7ad46e6e-6743-41c8-b05f-35f10e08cbc0/dunwich_horror_final_tc.mp3","duration":"00:39:39","size":"38059825","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dunwichhorror_poster-copy-e1566246464278.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/795"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=795"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/795/revisions"}],"predecessor-version":[{"id":805,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/795/revisions/805"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=795"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=795"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=795"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>