<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":853,"date":"2021-01-04T02:34:00","date_gmt":"2021-01-04T02:34:00","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=853"},"modified":"2021-01-04T02:34:01","modified_gmt":"2021-01-04T02:34:01","slug":"episode-58-picnic-at-hanging-rock-1975","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/01/04/episode-58-picnic-at-hanging-rock-1975/","title":{"rendered":"Episode 58 &#8211; Picnic at Hanging Rock (1975)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"800\" height=\"560\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/external-content.duckduckgo.com_.jpg\" alt=\"Polish poster of picnic at hanging rock\" class=\"wp-image-854\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/external-content.duckduckgo.com_.jpg 800w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2020/05/external-content.duckduckgo.com_-300x210.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2020/05/external-content.duckduckgo.com_-768x538.jpg 768w\" sizes=\"(max-width: 800px) 100vw, 800px\" /></figure>\n\n\n\n<p>Desperate to produce content for the content mills, Andrew and Matt resort to remote recording and in the process discuss the first Australian film on the podcast. </p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>Picnic at Hanging Rock, which is for grownups only please, was directed by Peter Weir and stars Rachel Roberts, Anne-Louise Lambert, Dominic Guard, Helen Morse, Vivean Gray and Jacki Weaver</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Picnic_at_Hanging_Rock_(film)\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>The story was inspired by Joan Lindsay&#8217;s 1967 book of the same name</p>\n\n\n\n<p>We watched the version available on the Criterion Channel.</p>\n\n\n\n<p>Andrew recommends buying all the back issues of <a href=\"https://itch.io/c/689872/indiepocalypse\">Indiepocalypse</a>.</p>\n","protected":false},"excerpt":{"rendered":"<p>Desperate to produce content for the content mills, Andrew and Matt resort to remote recording and in the process discuss the first Australian film on the podcast.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,7],"tags":[],"post-meta-fields":{"_edit_lock":["1611017990:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/c6888ff3-df04-419f-a2a6-62762b358a11/audio/c4bdb230-a7eb-4992-b8a3-fa15627c359f/default_tc.mp3\n44375188\naudio/mpeg\na:2:{s:8:\"duration\";s:8:\"00:46:13\";s:8:\"explicit\";s:1:\"0\";}"]},"episode-data":{"id":853,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da12-eef3-44a8-a906-1f609abfe0ca/episodes/c6888ff3-df04-419f-a2a6-62762b358a11/audio/c4bdb230-a7eb-4992-b8a3-fa15627c359f/default_tc.mp3","duration":"00:46:13","size":"44375188","type":"audio/mpeg","width":"","height":"","explicit":"0"},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/05/external-content.duckduckgo.com_.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/853"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=853"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/853/revisions"}],"predecessor-version":[{"id":856,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/853/revisions/856"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=853"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=853"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=853"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>