<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":842,"date":"2020-03-23T20:42:56","date_gmt":"2020-03-23T20:42:56","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=842"},"modified":"2020-03-23T20:42:58","modified_gmt":"2020-03-23T20:42:58","slug":"episode-56-whistle-and-ill-come-to-you-1968","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2020/03/23/episode-56-whistle-and-ill-come-to-you-1968/","title":{"rendered":"Episode 56 &#8211; Whistle and I&#8217;ll Come to You (1968)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"800\" height=\"602\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/03/whistle.jpg\" alt=\"\" class=\"wp-image-843\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/03/whistle.jpg 800w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/03/whistle-300x226.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/03/whistle-768x578.jpg 768w\" sizes=\"(max-width: 800px) 100vw, 800px\" /></figure>\n\n\n\n<p>A double feature this month &#8211; we talk about the excellent 1968 BBC adaptation of &#8220;Whistle and I&#8217;ll Come To You&#8221;&#8230; and also the other one.</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p>The first version of <strong>Whistle and I&#8217;ll Come to You</strong> was released in 1968, was directed by Jonathan Miller and stars Michael Hordern.</p>\n\n\n\n<p>The second version was released in 2010, was directed by Neil Cross, and stars John Hurt.</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Whistle_and_I%27ll_Come_to_You\">The film&#8217;s wikipedia page</a></p>\n\n\n\n<p>The story was adapted from the short story &#8220;<a href=\"https://en.wikisource.org/wiki/Casting_the_Runes\">Whistle and I&#8217;ll Come to You, My Lad</a>&#8221; by MR James.</p>\n\n\n\n<p>We watched the version available on YouTube (1968) and Amazon Prime (2010).</p>\n\n\n\n<p>Matt recommends <a href=\"https://amzn.to/2UvHQbJ\">the Color Out of Space</a>.</p>\n\n\n\n<p>Andrew recommends not recommending anything.</p>\n\n\n\n<h2>Sponsor</h2>\n\n\n\n<p><a href=\"https://www.whalingcityweb.com\">Whaling City Web</a> &#8211; We&#8217;re owning our own content in 2020</p>\n\n\n\n<p>Follow Andrew on twitter <a href=\"https://twitter.com/pizzapranks\">@pizzapranks</a> for more information about his indie game anthology Indiepocalypse</p>\n","protected":false},"excerpt":{"rendered":"<p>A double feature this month &#8211; we talk about the excellent 1968 BBC adaptation of &#8220;Whistle and I&#8217;ll Come To You&#8221;&#8230; and also the other one.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[190,191,7],"tags":[],"post-meta-fields":{"_edit_lock":["1588535223:1"],"_edit_last":["1"],"enclosure":["https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/69d280d8-0dc5-460b-86c5-9369e8b01290/whistle-and-i-ll-come-to-you-final_tc.mp3\n47952501\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:49:57\";}"]},"episode-data":{"id":842,"feed":"podcast","url":"https://cdn.simplecast.com/audio/3e82da/3e82da12-eef3-44a8-a906-1f609abfe0ca/69d280d8-0dc5-460b-86c5-9369e8b01290/whistle-and-i-ll-come-to-you-final_tc.mp3","duration":"0:49:57","size":"47952501","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2020/03/whistle.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/842"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=842"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/842/revisions"}],"predecessor-version":[{"id":844,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/842/revisions/844"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=842"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=842"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=842"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>