<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":472,"date":"2016-09-07T21:21:19","date_gmt":"2016-09-08T01:21:19","guid":{"rendered":"http://goldenagehorror.com/?p=472"},"modified":"2019-10-10T14:33:52","modified_gmt":"2019-10-10T14:33:52","slug":"episode-31-fall-house-usher","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/09/07/episode-31-fall-house-usher/","title":{"rendered":"Episode 31 &#8211; The Fall of the House of Usher (1960)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"576\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault-1024x576.jpg\" alt=\"\" class=\"wp-image-718\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault-1024x576.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault-300x169.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault-768x432.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault.jpg 1280w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt discuss the proto-AIP Poe flick &#8220;The Fall of the House of Usher&#8221; starring Vincent Price. We&#8217;re both sleepy boys in this podcast, so give us a break</p>\n\n\n\n<!--more-->\n\n\n\n<h2>Show Notes for the Fall of the House of Usher podcast</h2>\n\n\n\n<p><strong>The Cast of Characters for this film</strong></p>\n\n\n\n<p><em> Vincent Price</em> &nbsp;as&nbsp;Roderick Usher<br><em>Mark Damon</em>&nbsp;as&nbsp;Philip Winthrop</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"580\" height=\"310\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-fall-of-the-house-of-usher_vincent-price_1.jpg\" alt=\"\" class=\"wp-image-717\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-fall-of-the-house-of-usher_vincent-price_1.jpg 580w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-fall-of-the-house-of-usher_vincent-price_1-300x160.jpg 300w\" sizes=\"(max-width: 580px) 100vw, 580px\" /></figure>\n\n\n\n<p><br><em>Myrna Fahey</em> as&nbsp;Madeline Usher<br><em>Harry Ellerbe</em> &nbsp;as Bristol</p>\n\n\n\n<p><a href=\"http://www.gutenberg.org/ebooks/932\">The full text of the Poe story</a></p>\n\n\n\n<p><a href=\"http://amzn.to/2c9UHs7\">Richard Matheson</a>, who wrote this film, wrote I AM LEGEND, which was adapted into&nbsp;<a href=\"http://www.imdb.com/title/tt0058700/\">The Last Man on Earth</a>&nbsp;(also starring Vincent Price) and&nbsp;<a href=\"https://en.wikipedia.org/wiki/The_Omega_Man\">The Omega Man</a>, starring Charlton Heston.</p>\n\n\n\n<p><a href=\"http://www.burtshonberg.com/paintings.htm\">The Paintings of Burt Shonberg&nbsp;</a>are my (Matt&#8217;s) absolute favorite thing about this movie</p>\n\n\n\n<p>Even though this podcast was about The Fall of the House of Usher, there&#8217;s some brief discussion of &#8220;The Raven,&#8221; starring Price, Karloff, and Peter Lorre. Let us know on Twitter if you think we should cover this film. In the spirit of the Raven, here are the two wizard battles we referenced in the podcast</p>\n\n\n\n<p><a href=\"http://www.angelfire.com/wa/ComicMan/Script2.html\">Sandman&#8217;s Wizard Battle</a> (Lookit, it&#8217;s an Angelfire page!)</p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Seventh_Seal\">Bergman&#8217;s the Seventh Seal</a></p>\n\n\n\n<p><a href=\"http://amzn.to/2cCU9wB\">Buy the Fall of the House of Usher on Amazon</a>!</p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt discuss the proto-AIP Poe flick &#8220;The Fall of the House of Usher&#8221; starring Vincent Price. We&#8217;re both sleepy boys in this podcast, so give us a break</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[15,25,33,40,58,64,116,119,138,143,148,149,174],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73762.mp3\n23892464\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:24:43\";}"],"_yoast_wpseo_focuskw_text_input":["fall of the house of usher podcast"],"_yoast_wpseo_focuskw":["fall of the house of usher podcast"],"_yoast_wpseo_metadesc":["This month on the podcast, Andrew and Matt cover the 1960 film \"The Fall of the House of Usher\" starring Vincent Price, based on the Edgar Allan Poe story."],"_yoast_wpseo_linkdex":["51"],"_yoast_wpseo_content_score":["90"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592501;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:459;}i:1;a:1:{s:2:\"id\";i:428;}i:2;a:1:{s:2:\"id\";i:535;}i:3;a:1:{s:2:\"id\";i:527;}i:4;a:1:{s:2:\"id\";i:266;}i:5;a:1:{s:2:\"id\";i:513;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5677546144"],"_wpghs_github_path":["_posts/2016-09-07-episode-31-fall-house-usher.md"],"_sha":["ed72c6e3130f6f3b4decf0fde66eda17c22df5d3"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_oembed_98fbf31a4868c404d89fcc268cd915ee":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/Q_VpkXd1TKA?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_98fbf31a4868c404d89fcc268cd915ee":["1498658759"],"_oembed_3ce3b555caf7bfccf67a10f9337d78ba":["{{unknown}}"],"_edit_lock":["1570718051:1"],"_oembed_7c3af8a009639601754f99c786a9b683":["{{unknown}}"]},"episode-data":{"id":472,"feed":"podcast","url":"https://audio.simplecast.com/73762.mp3","duration":"0:24:43","size":"23892464","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/maxresdefault-1024x576.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/472"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=472"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/472/revisions"}],"predecessor-version":[{"id":744,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/472/revisions/744"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=472"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=472"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=472"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>