<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":415,"date":"2016-02-08T14:06:07","date_gmt":"2016-02-08T19:06:07","guid":{"rendered":"http://goldenagehorror.com/?p=415"},"modified":"2019-09-16T19:44:15","modified_gmt":"2019-09-16T19:44:15","slug":"episode-26-videodrome","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/02/08/episode-26-videodrome/","title":{"rendered":"Episode 26 &#8211; Videodrome (1983)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"780\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum-780x1024.jpg\" alt=\"\" class=\"wp-image-699\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum-780x1024.jpg 780w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum-228x300.jpg 228w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum-768x1009.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum.jpg 880w\" sizes=\"(max-width: 780px) 100vw, 780px\" /></figure>\n\n\n\n<p>This episode, Andrew and Matt talk about the David Cronenberg body horror VHS shocker Videodrome.</p>\n\n\n\n<!--more-->\n\n\n\n<p>Death to Videodrome &#8211; Long Live the New Flesh!</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Blondie - Rip Her to Shreds - Blondie [1976]\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/DUIYqUISAKI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div><figcaption>Debbie Harry is in Videodrome</figcaption></figure>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/JzUCCl9YaBQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n","protected":false},"excerpt":{"rendered":"<p>This episode, Andrew and Matt talk about the David Cronenberg body horror VHS shocker Videodrome.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[28,45,50,88,173,184],"post-meta-fields":{"_edit_last":["1"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73757.mp3\n18371390\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:19:03\";}"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592509;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:406;}i:1;a:1:{s:2:\"id\";i:352;}i:2;a:1:{s:2:\"id\";i:402;}i:3;a:1:{s:2:\"id\";i:410;}i:4;a:1:{s:2:\"id\";i:396;}i:5;a:1:{s:2:\"id\";i:420;}}}}"],"dsq_thread_id":["5679064152"],"_yoast_wpseo_content_score":["30"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2016-02-08-episode-26-videodrome.md"],"_sha":["b46516aa600ba2a0367b7b067bd4bbd99fb45cf5"],"_oembed_bb963e625ceff78bcc54b339c4bdeb5a":["{{unknown}}"],"_oembed_c80d9d55420bd08b6ca7d19d4274b67e":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/JzUCCl9YaBQ?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_c80d9d55420bd08b6ca7d19d4274b67e":["1498659654"],"_oembed_4e6affb15c14cc2e32e65fdba463a28a":["{{unknown}}"],"_oembed_58c83895989b0c319fe1f4293716ee62":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/JzUCCl9YaBQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_58c83895989b0c319fe1f4293716ee62":["1558442089"],"_edit_lock":["1568663055:1"],"_oembed_3e0d33f5ddc6a3bcec9c8bc1afffbf86":["<iframe title=\"The Times - I Helped Patrick McGoohan Escape\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/JzUCCl9YaBQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_3e0d33f5ddc6a3bcec9c8bc1afffbf86":["1568662918"],"_oembed_0d95963975a29d8b192f18512691f67d":["{{unknown}}"],"_oembed_1479cde02c1d95a061ce9c952316f9d5":["<iframe title=\"Blondie - Rip Her to Shreds - Blondie [1976]\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/DUIYqUISAKI?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_1479cde02c1d95a061ce9c952316f9d5":["1568663027"]},"episode-data":{"id":415,"feed":"podcast","url":"https://audio.simplecast.com/73757.mp3","duration":"0:19:03","size":"18371390","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/vidyadrum-780x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/415"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=415"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/415/revisions"}],"predecessor-version":[{"id":701,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/415/revisions/701"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=415"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=415"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=415"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>