<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":396,"date":"2015-10-08T19:47:15","date_gmt":"2015-10-08T23:47:15","guid":{"rendered":"http://goldenagehorror.com/?p=396"},"modified":"2019-09-16T18:44:14","modified_gmt":"2019-09-16T18:44:14","slug":"episode-22-dr-jekyll-and-mr-hyde","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/10/08/episode-22-dr-jekyll-and-mr-hyde/","title":{"rendered":"Episode 22 &#8211; Dr Jekyll and Mr Hyde (1931)"},"content":{"rendered":"\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"420\" height=\"630\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/jekyllhyde.jpg\" alt=\"\" class=\"wp-image-686\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/jekyllhyde.jpg 420w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/jekyllhyde-200x300.jpg 200w\" sizes=\"(max-width: 420px) 100vw, 420px\" /></figure></div>\n\n\n\n<p>We finally talk about Dr Jekyll and Mr Hyde, lurid Victorian thriller with landmark special effects.</p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"400\" height=\"206\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/hyde.jpg\" alt=\"\" class=\"wp-image-687\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/hyde.jpg 400w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/hyde-300x155.jpg 300w\" sizes=\"(max-width: 400px) 100vw, 400px\" /></figure></div>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/Dr._Jekyll_and_Mr._Hyde_(1931_film)\">Dr Jeykll and Mr Hyde (1931 Wikipedia)</a></p>\n\n\n\n<p><a href=\"http://www.gutenberg.org/ebooks/42\">Text of the novel on Project Gutenberg</a></p>\n\n\n\n<p><a href=\"http://amzn.to/1LkPQmd\">The film on Amazon</a></p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/P6D7bzltR2U?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p>I was thinking of Doctor Jekyll and Sister Hyde, not <a href=\"https://en.wikipedia.org/wiki/Dr._Jekyll_and_Ms._Hyde\">Dr Jekyll and Ms Hyde</a>. They are very different movies.</p>\n\n\n\n<p><a href=\"http://amzn.to/1LkQ2Sq\">Mary Reilly</a></p>\n","protected":false},"excerpt":{"rendered":"<p>We finally talk about Dr Jekyll and Mr Hyde, lurid Victorian thriller with landmark special effects.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[53,69,103,125,145],"post-meta-fields":{"_edit_last":["1"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73753.mp3\n17037650\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:17:40\";}"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592509;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:123;}i:1;a:1:{s:2:\"id\";i:496;}i:2;a:1:{s:2:\"id\";i:513;}i:3;a:1:{s:2:\"id\";i:253;}i:4;a:1:{s:2:\"id\";i:95;}i:5;a:1:{s:2:\"id\";i:248;}}}}"],"dsq_thread_id":["4207501481"],"_wpghs_github_path":["_posts/2015-10-08-episode-22-dr-jekyll-and-mr-hyde.md"],"_sha":["45a6040e0e990febf757f480fb83aaea80153c68"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_oembed_f295019d539e80f51fd4c41f3ec48225":["<iframe width=\"676\" height=\"380\" src=\"https://www.youtube.com/embed/P6D7bzltR2U?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_f295019d539e80f51fd4c41f3ec48225":["1498659639"],"_oembed_ed216e8f3a0f03a320419ce5ee61abf2":["<iframe width=\"500\" height=\"281\" src=\"https://www.youtube.com/embed/P6D7bzltR2U?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ed216e8f3a0f03a320419ce5ee61abf2":["1558442090"],"_edit_lock":["1581606441:1"],"_oembed_5543e083edbca081e60c582a8bbf68d2":["<iframe title=\"DR Jekyll Sister Hyde (1971 Trailer)\" width=\"580\" height=\"326\" src=\"https://www.youtube.com/embed/P6D7bzltR2U?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_5543e083edbca081e60c582a8bbf68d2":["1568659370"]},"episode-data":{"id":396,"feed":"podcast","url":"https://audio.simplecast.com/73753.mp3","duration":"0:17:40","size":"17037650","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/jekyllhyde.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/396"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=396"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/396/revisions"}],"predecessor-version":[{"id":688,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/396/revisions/688"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=396"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=396"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=396"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>