<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":480,"date":"2016-10-01T17:33:11","date_gmt":"2016-10-01T21:33:11","guid":{"rendered":"http://goldenagehorror.com/?p=480"},"modified":"2019-09-19T19:33:10","modified_gmt":"2019-09-19T19:33:10","slug":"episode-32-horror-dracula","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/10/01/episode-32-horror-dracula/","title":{"rendered":"Episode 32 – The Horror of Dracula (1958)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"535\" height=\"414\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/horror_of_dracula.jpg\" alt=\"\" class=\"wp-image-721\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/horror_of_dracula.jpg 535w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/horror_of_dracula-300x232.jpg 300w\" sizes=\"(max-width: 535px) 100vw, 535px\" /></figure>\n\n\n\n<p>Happy Halloween Season! This week, Andrew and Matt discuss their first Hammer Horror film, The Horror of Dracula starring Christopher Lee and Peter Cushing</p>\n\n\n\n<!--more-->\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/XR4KnfcgLm0?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p><strong><a href=\"http://www.gutenberg.org/ebooks/345\">The Full Text of Dracula</a></strong></p>\n\n\n\n<p><a href=\"http://www.vampires.com/wolfsbane-for-werewolves-and-vampires/\">Wolfsbane &#8211; for Werewolves and Vampires</a></p>\n\n\n\n<p><a href=\"http://amzn.to/2du2khm\">Kathleen and Frank by Christopher Isherwood</a></p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Crystal_Palace\">The Crystal Palace</a></p>\n\n\n\n<p><a href=\"http://goldenagehorror.com/fritz-lang/\">More about Fritz Lang</a>&nbsp;(also, <a href=\"http://goldenagehorror.com/episode-11-m/\">M</a> and <a href=\"http://goldenagehorror.com/episode-10-testament-dr-mabuse/\">Dr Mabuse</a>)</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"866\" height=\"473\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dracula_1958_c.jpg\" alt=\"\" class=\"wp-image-723\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dracula_1958_c.jpg 866w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dracula_1958_c-300x164.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Dracula_1958_c-768x419.jpg 768w\" sizes=\"(max-width: 866px) 100vw, 866px\" /></figure>\n\n\n\n<h3><strong>The Cast of Characters</strong></h3>\n\n\n\n<p><em>Peter Cushing</em> as&nbsp;Doctor Van Helsing<br><em>Christopher Lee</em> as&nbsp;Dracula / Count Dracula<br><em>Michael Gough</em> as Arthur<br><em>Melissa Stribling</em> &nbsp;as&nbsp;Mina<br><em>Carol Marsh</em> as&nbsp;Lucy<br><em>Olga Dickie</em> as&nbsp;Gerda<br><em>John Van Eyssen</em> as&nbsp;Jonathan<br><a href=\"http://amzn.to/2dP6ZuT\">Buy the the Horror of Dracula&nbsp;on Amazon</a>!</p>\n\n\n\n<p><a href=\"https://soundcloud.com/dubology-2/du-swan-lake-dub\">Theme is Swan Lake Dub by Dubology</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Happy Halloween Season! This week, Andrew and Matt discuss their first Hammer Horror film, The Horror of Dracula starring Christopher Lee and Peter Cushing</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[41,55,82,131],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73765.mp3\n44306894\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:44:46\";}"],"_yoast_wpseo_focuskw_text_input":["horror of dracula podcast"],"_yoast_wpseo_focuskw":["horror of dracula podcast"],"_yoast_wpseo_linkdex":["44"],"_yoast_wpseo_content_score":["60"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:2:{s:32:\"238f6baed1ae9642c97ab9a2c03d7c6c\";a:2:{s:7:\"expires\";i:1558016215;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:133;}i:1;a:1:{s:2:\"id\";i:223;}i:2;a:1:{s:2:\"id\";i:148;}}}s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558016264;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:133;}i:1;a:1:{s:2:\"id\";i:223;}i:2;a:1:{s:2:\"id\";i:148;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667751220"],"_wpghs_github_path":["_posts/2016-10-01-episode-32-horror-dracula.md"],"_sha":["3ae2d5838eaddbab1e6a84d35c1999ad060ad125"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_oembed_1935aeb3b2027a09379dcc269d1e92a1":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/XR4KnfcgLm0?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_1935aeb3b2027a09379dcc269d1e92a1":["1498659951"],"_oembed_77734094895ce671c1ed24232f0714d2":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/XR4KnfcgLm0?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_77734094895ce671c1ed24232f0714d2":["1558442084"],"_edit_lock":["1570717918:1"],"_oembed_168609d1d495ea6537467a9c433031ec":["<iframe title=\"Kate Bush - Hammer Horror - Official Music Video\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/XR4KnfcgLm0?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_168609d1d495ea6537467a9c433031ec":["1568921493"]},"episode-data":{"id":480,"feed":"podcast","url":"https://audio.simplecast.com/73765.mp3","duration":"0:44:46","size":"44306894","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/horror_of_dracula.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/480"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=480"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/480/revisions"}],"predecessor-version":[{"id":724,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/480/revisions/724"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=480"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=480"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=480"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>