<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":428,"date":"2016-06-22T11:02:11","date_gmt":"2016-06-22T11:02:11","guid":{"rendered":"http://goldenagehorror.com/?p=428"},"modified":"2019-09-16T19:49:17","modified_gmt":"2019-09-16T19:49:17","slug":"epsiode-28-pit-pendulum-1961","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/06/22/epsiode-28-pit-pendulum-1961/","title":{"rendered":"Episode 28 – The Pit and the Pendulum (1961)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"814\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1-1024x814.jpg\" alt=\"\" class=\"wp-image-705\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1-1024x814.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1-300x238.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1-768x611.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1.jpg 1341w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>For June, Andrew and Matt talk about the Vincent Price/Roger Corman jam The Pit and the Pendulum. Barbara Steele also stars.</p>\n\n\n\n<!--more-->\n\n\n\n<p>The Pit and the Pendulum is notable for for being part of the classic Corman/Price series of Edgar Allan Poe adaptations that was kicked off by The Fall of the House of Usher.</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"900\" height=\"383\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/pitpendulum1.jpg\" alt=\"\" class=\"wp-image-706\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/pitpendulum1.jpg 900w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/pitpendulum1-300x128.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/pitpendulum1-768x327.jpg 768w\" sizes=\"(max-width: 900px) 100vw, 900px\" /></figure>\n\n\n\n<p>The movies were characterized by strong performances by Price, in his classic scenery chewing manner and absolutely lavish set design. The violence and sex of these productions mirrored the Hammer movies coming out of England around the same time.</p>\n\n\n\n<p>(In a small aside, the path Andrew and I are taking leads us to Hammer pretty soon. <a href=\"http://www.twitter.com/thewatermethod\">I&#8217;d love to hear some recommendations if you have any.</a></p>\n\n\n\n<p>You can see the very cool set paintings that are featured in the beginning of the film above. Also, the poster shows off the cool paintings from the climax of the film.</p>\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"236\" height=\"314\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/d2519a903d0c761c22d975ad2eb7afab.jpg\" alt=\"\" class=\"wp-image-707\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/d2519a903d0c761c22d975ad2eb7afab.jpg 236w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/d2519a903d0c761c22d975ad2eb7afab-225x300.jpg 225w\" sizes=\"(max-width: 236px) 100vw, 236px\" /><figcaption>Barbara Steele plays one of the female leads. In our podcast episode, I talk briefly about her role in Curse of the Crimson Altar.</figcaption></figure></div>\n\n\n\n<h3>Other topics discussed</h3>\n\n\n\n<p><a href=\"http://poestories.com/read/pit\">The full text of the original story from PoeStories.com</a></p>\n\n\n\n<p><a href=\"http://xroads.virginia.edu/~hyper/poe/gold_bug.html\">The Gold Bug</a></p>\n\n\n\n<p><a href=\"https://en.wikipedia.org/wiki/The_Pit_and_the_Pendulum_(1991_film)\">The Pit and the Pendulum 1991</a></p>\n\n\n\n<p>Pinocchio</p>\n\n\n\n<p>Do Whales Have Eyelashes?</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/8ycD4LkSXiQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<p><a href=\"https://soundcloud.com/dubology-2/du-swan-lake-dub\">Our theme music is the Swan Lake Dub by Dubology.</a></p>\n\n\n\n<p><a href=\"http://amzn.to/28NGsII\">All Godless Here</a> on Amazon</p>\n","protected":false},"excerpt":{"rendered":"<p>For June, Andrew and Matt talk about the Vincent Price/Roger Corman jam The Pit and the Pendulum. Barbara Steele also stars.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[15,19,34,58,136,138,148,158,174,178],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_content_score":["60"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_focuskw_text_input":["The Pit and the Pendulum"],"_yoast_wpseo_focuskw":["The Pit and the Pendulum"],"_yoast_wpseo_metadesc":["Andrew and Matt talk about the Vincent Price/Barbara Steele/Roger Corman jam The Pit and the Pendulum from 1961 in the Golden Age Horror podcast."],"_yoast_wpseo_linkdex":["66"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557937073;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:535;}i:1;a:1:{s:2:\"id\";i:459;}i:2;a:1:{s:2:\"id\";i:527;}}}}"],"enclosure":["https://audio.simplecast.com/73759.mp3\n21202715\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:22:00\";}"],"_wpas_done_all":["1"],"dsq_thread_id":["5680402488"],"_wpghs_github_path":["_posts/2016-06-22-epsiode-28-pit-pendulum-1961.md"],"_sha":["fcd64324df853d358d31b4e20dcc0c6cdb2ba7db"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_oembed_e8ea2c48c40c5b194d7e74334faa29d9":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/8ycD4LkSXiQ?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_e8ea2c48c40c5b194d7e74334faa29d9":["1498656792"],"_oembed_4d2aed5b4fe92e135439ad90017c222b":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/8ycD4LkSXiQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_4d2aed5b4fe92e135439ad90017c222b":["1558442085"],"_edit_lock":["1568919523:1"],"_oembed_881c588de4b0071eea4dd8703019042d":["<iframe title=\"So Many Buttons | The Venture Bros. | Adult Swim\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/8ycD4LkSXiQ?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_881c588de4b0071eea4dd8703019042d":["1568663253"]},"episode-data":{"id":428,"feed":"podcast","url":"https://audio.simplecast.com/73759.mp3","duration":"0:22:00","size":"21202715","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/k8imhtrfkom120qjdlzp-1-1024x814.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/428"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=428"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/428/revisions"}],"predecessor-version":[{"id":709,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/428/revisions/709"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=428"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=428"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=428"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>