<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":917,"date":"2021-07-24T20:47:37","date_gmt":"2021-07-24T20:47:37","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=917"},"modified":"2021-07-24T20:47:39","modified_gmt":"2021-07-24T20:47:39","slug":"event-horizon-1997-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/07/24/event-horizon-1997-patreon-bonus-episode/","title":{"rendered":"Event Horizon (1997) &#8211; Patreon Bonus Episode"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"683\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad-683x1024.jpg\" alt=\"\" class=\"wp-image-918\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad-683x1024.jpg 683w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad-200x300.jpg 200w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad-768x1152.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad.jpg 960w\" sizes=\"(max-width: 683px) 100vw, 683px\" /></figure>\n\n\n\n<p>Hellraiser in space!!!!</p>\n","protected":false},"excerpt":{"rendered":"<p>Hellraiser in space!!!!</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,193,7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1627159700:1"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/54072540"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/07/p19815_p_v8_ad-683x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/917"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=917"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/917/revisions"}],"predecessor-version":[{"id":920,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/917/revisions/920"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=917"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=917"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=917"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>