<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":248,"date":"2014-12-16T12:24:47","date_gmt":"2014-12-16T17:24:47","guid":{"rendered":"http://goldenagehorror.com/?p=248"},"modified":"2014-12-16T12:24:47","modified_gmt":"2014-12-16T17:24:47","slug":"fritz-lang","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/16/fritz-lang/","title":{"rendered":"Fritz Lang"},"content":{"rendered":"<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/Fritz-Lang-young.jpg\" alt=\"A Young Fritz Lang\" width=\"281\" height=\"423\" class=\"aligncenter size-full wp-image-249\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Fritz-Lang-young.jpg 281w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Fritz-Lang-young-199x300.jpg 199w\" sizes=\"(max-width: 281px) 100vw, 281px\" /></p>\n<p>Imposing and innovative German director Fritz Lang was born in 1890 and went on over the next 80 years to help define film as we know it today. Although regarded as a true auteur and an artist, most of the films he made were genre films. </p>\n<p><!--more--><br />\nLang did not direct any real &#8220;horror&#8221; films to my knowledge. However, two of his German crime films from the 1930&#8217;s certainly warrant discussion just by their influence on cinema that followed, and for certain themes that make them at least close cousins to the horror genre. I refer specifically to all time masterpiece <em>M</em> and also <em>The Testament of Doctor Mabuse</em>.</p>\n<p>I discuss those films in (slightly) greater detail in <a href=\"http://goldenagehorror.com/we-belong-dead/\" title=\"About “All Godless Here”\">my book</a>, but suffice it to say that the characters are trapped in a world dissolving, surrounded by an uncaring or impotent society. The horror in Lang&#8217;s films is about the institutions we hold closest to us utterly failing to protect the weakest members of society, or anyone really.</p>\n<p>Lang is largely credited with laying down the very basic philosophical groundwork of film noir starting with these films in the 1930&#8217;s. Oh, and he also made <em>Metropolis</em>.</p>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/metropolis-1024x783.jpg\" alt=\"Fritz Lang&#039;s Metropolis\" width=\"676\" height=\"516\" class=\"aligncenter size-large wp-image-250\" /></p>\n<p>To my eyes, <em>Metropolis</em> remains one of the most visually impressive films ever made. The scale of the production is mind boggling and rivals anything made by DW Griffith or the like.</p>\n<p>Lang made films for so long that he transcended styles. His initial films were expressionistic and pulpy, and then he moved onto realistic drama, and then into the Hollywood machine. <a href=\"http://thedissolve.com/features/career-view/222-the-sprawling-obsessive-career-of-fritz-lang/\" title=\"The Dissolve on Fritz Lang\">The Dissolve has a great article</a> about his career.</p>\n<p>Our <a href=\"http://goldenagehorror.com/category/podcasts/\" title=\"GoldenAgeHorror.com Podcasts\">podcast</a> will be covering The Testament of Dr Mabuse this week and M the next. Let me know your favorite Fritz Lang film in the comments or on Facebook!</p>\n","protected":false},"excerpt":{"rendered":"<p>Imposing and innovative German director Fritz Lang was born in 1890 and went on over the next 80 years to help define film as we know it today. Although regarded as a true auteur and an artist, most of the films he made were genre films.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2,10],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["fritz lang"],"_yoast_wpseo_linkdex":["86"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128509;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:148;}i:1;a:1:{s:2:\"id\";i:78;}i:2;a:1:{s:2:\"id\";i:253;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667752840"],"_wpghs_github_path":["_posts/2014-12-16-fritz-lang.md"],"_sha":["183645240b433b51045b95e91b96ea3f731b9420"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/12/Fritz-Lang-young.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/248"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=248"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/248/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=248"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=248"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=248"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>