<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":148,"date":"2014-10-24T22:46:43","date_gmt":"2014-10-24T22:46:43","guid":{"rendered":"http://goldenagehorror.com/?p=148"},"modified":"2019-09-13T17:53:28","modified_gmt":"2019-09-13T17:53:28","slug":"goldenagehorror-com-podcast-episode-2-dont-creep-mad-love","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/24/goldenagehorror-com-podcast-episode-2-dont-creep-mad-love/","title":{"rendered":"Episode 2 &#8211; Mad Love (1935)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"857\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-Mad-Love_02-857x1024-857x1024.jpg\" alt=\"\" class=\"wp-image-623\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-Mad-Love_02-857x1024.jpg 857w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-Mad-Love_02-857x1024-251x300.jpg 251w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-Mad-Love_02-857x1024-768x918.jpg 768w\" sizes=\"(max-width: 857px) 100vw, 857px\" /></figure>\n\n\n\n<p>In this week&#8217;s episode, Andrew and Matt watch the 1935 horror film Mad Love starring Peter Lorre and directed by Karl Freund. A true horror classic, Mad Love mixes expressionism with Grand Guignol scares.</p>\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><a title=\"Mad Love (1935)\" href=\"http://goldenagehorror.com/mad-love-1935/\">GoldenAgeHorror.com: Mad Love</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/The_Hands_of_Orlac_(1924_film)\">Les Mains d&#8217;Orlac</a><br><a href=\"http://en.wikipedia.org/wiki/Peter_Lorre\">Peter Lorre</a><br><a href=\"http://en.wikipedia.org/wiki/Karl_Freund\">Karl Freund (he did photograph Metropolis)</a><br><a href=\"http://en.wikipedia.org/wiki/Colin_Clive\">Colin Clive</a><br><a href=\"http://en.wikipedia.org/wiki/Fritz_Lang\">Fritz Lang</a><br><a href=\"http://en.wikipedia.org/wiki/The_Mummy_(1932_film)\">The Mummy (1932)</a><br><a href=\"http://en.wikipedia.org/wiki/The_Mummy_(1999_film)\">The Mummy (1999)</a><br>Boris Karloff was 5&#8242; 11&#8243;</p>\n\n\n\n<h2>Anne Rice on Dracula&#8217;s Daughter</h2>\n\n\n\n<blockquote class=\"wp-block-quote\"><p>&#8220;Dracula&#8217;s Daughter.&#8221; One fateful night in my childhood, I went to the Grenada Theater two blocks from my house and paid the admission of 12 cents to see this 1936 film. It must have been the early 40&#8217;s. It was old then. I never forgot it. The elegant and beautiful Gloria Holden as Dracula&#8217;s daughter swept me away. Decades later, remembering that tragedy, that romance, that elegance, I sat down to write a book called &#8220;Interview with the Vampire&#8221; and capture the same ambience. Ah&#8230;what a strange and random thing is life.&#8221;</p></blockquote>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"618\" height=\"478\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/014-peter-lorre-theredlist.jpg\" alt=\"\" class=\"wp-image-624\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/014-peter-lorre-theredlist.jpg 618w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/014-peter-lorre-theredlist-300x232.jpg 300w\" sizes=\"(max-width: 618px) 100vw, 618px\" /><figcaption>Peter Lorre in gimp suit and neck corset</figcaption></figure>\n\n\n\n<p><a href=\"http://www.greekmyths-greekmythology.com/myth-of-pygmalion-and-galatea/\">Pygmalion and Galatea</a></p>\n\n\n\n<p>Mad Love was made for $403,000 according to Wikipedia</p>\n\n\n\n<h3>Citizen Kane and Mad Love</h3>\n\n\n\n<blockquote class=\"wp-block-quote\"><p>When Pauline Kael annotated the similarities between <b>Citizen Kane</b> and<i>Mad Love</i> (1935) in a 1971 <i>New Yorker</i> article on the Welles classic, curious moviegoers made a point to seek out the Peter Lorre horror film. Welles&#8217; deployment of certain visual elements (whether intended or not) from <i>Mad Love</i> cannot be denied, from the makeup to the use of a white cockatoo. It&#8217;s also more than a coincidence that cinematographer Gregg Toland worked on both films.</p><p>What set <i>Mad Love</i> apart from other Hollywood horror films of the thirties was the disturbing Expressionist style of director Karl W. Freund. A key German Expressionist cinematographer who had shot <i>The Last Laugh</i> (1924),<i>Metropolis</i> (1927), and <i>Dracula</i> (1931), Freund made his directorial debut with the classic chiller, <i>The Mummy</i>(1932).</p></blockquote>\n\n\n\n<p><a href=\"http://www.tcm.com/this-month/article/71645%7C0/Pop-Culture.html\">Source: TCM.com</a></p>\n","protected":false},"excerpt":{"rendered":"<p>In this week&#8217;s episode, Andrew and Matt watch the 1935 horror film Mad Love starring Peter Lorre and directed by Karl Freund. A true horror classic, Mad Love mixes expressionism with Grand Guignol scares. Show Notes GoldenAgeHorror.com: Mad Love Les Mains d&#8217;OrlacPeter LorreKarl Freund (he did photograph Metropolis)Colin CliveFritz LangThe Mummy (1932)The Mummy (1999)Boris Karloff [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[16,29,44,70,98,111,121,132,157],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73732.mp3\n14304194\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:14:49\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592519;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:95;}i:1;a:1:{s:2:\"id\";i:266;}i:2;a:1:{s:2:\"id\";i:244;}i:3;a:1:{s:2:\"id\";i:133;}i:4;a:1:{s:2:\"id\";i:114;}i:5;a:1:{s:2:\"id\";i:42;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["3233642811"],"_wpghs_github_path":["_posts/2014-10-24-goldenagehorror-com-podcast-episode-2-dont-creep-mad-love.md"],"_sha":["5c870d9369fde525154cb97c2da108f219c5f6b8"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["90"],"_edit_lock":["1568397208:1"]},"episode-data":{"id":148,"feed":"podcast","url":"https://audio.simplecast.com/73732.mp3","duration":"00:14:49","size":"14304194","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Poster-Mad-Love_02-857x1024-857x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/148"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=148"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/148/revisions"}],"predecessor-version":[{"id":630,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/148/revisions/630"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=148"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=148"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=148"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>