<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":186,"date":"2014-11-20T07:40:21","date_gmt":"2014-11-20T07:40:21","guid":{"rendered":"http://goldenagehorror.com/?p=186"},"modified":"2019-09-13T17:59:59","modified_gmt":"2019-09-13T17:59:59","slug":"goldenagehorror-com-podcast-episode-6-raven","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/11/20/goldenagehorror-com-podcast-episode-6-raven/","title":{"rendered":"Episode 6 &#8211; The Raven (1935)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"800\" height=\"624\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-raven.jpg\" alt=\"\" class=\"wp-image-639\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-raven.jpg 800w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-raven-300x234.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-raven-768x599.jpg 768w\" sizes=\"(max-width: 800px) 100vw, 800px\" /></figure>\n\n\n\n<p>Not a tremendous amount to say about this one &#8211; defined by the performances of Karloff and Lugosi.</p>\n\n\n\n<!--more-->\n\n\n\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"534\" height=\"700\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/PitandthePendulum-Clarke.jpg\" alt=\"\" class=\"wp-image-640\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/PitandthePendulum-Clarke.jpg 534w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/PitandthePendulum-Clarke-229x300.jpg 229w\" sizes=\"(max-width: 534px) 100vw, 534px\" /></figure></div>\n\n\n\n<p><a href=\"http://www.poetryfoundation.org/poem/178713\">Poe&#8217;s original poem, The Raven</a></p>\n\n\n\n<p><a href=\"http://poestories.com/read/pit\">The Pit and the Pendulum</a></p>\n\n\n\n<p><a href=\"http://www.nytimes.com/2011/09/28/opinion/dowd-decoding-the-god-complex.html\">God Complex/Surgeons</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Not a tremendous amount to say about this one &#8211; defined by the performances of Karloff and Lugosi.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[23,29,58,159],"post-meta-fields":{"_edit_last":["1"],"enclosure":["https://audio.simplecast.com/73735.mp3\n11323622\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:15:37\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592516;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:177;}i:1;a:1:{s:2:\"id\";i:472;}i:2;a:1:{s:2:\"id\";i:287;}i:3;a:1:{s:2:\"id\";i:42;}i:4;a:1:{s:2:\"id\";i:61;}i:5;a:1:{s:2:\"id\";i:266;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5651870299"],"_wpghs_github_path":["_posts/2014-11-20-goldenagehorror-com-podcast-episode-6-raven.md"],"_sha":["041b72b0d395f6b6f08969dba495e096abd3f19d"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["30"],"_edit_lock":["1568397599:1"]},"episode-data":{"id":186,"feed":"podcast","url":"https://audio.simplecast.com/73735.mp3","duration":"00:15:37","size":"11323622","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/the-raven.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/186"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=186"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/186/revisions"}],"predecessor-version":[{"id":641,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/186/revisions/641"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=186"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=186"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=186"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>