<template>
  <div class="template-root">
    <div class="gradient">
      <div class="full-height flex align-end" :style="headerStyle">
        <div class="bg-black color-white centered full-width half-height">
          <Subscribe />
        </div>
      </div>
    </div>

    <Index :routes="routes"/>

  </div>
</template>

<script>
import Index from "../components/index.vue";
import Excerpt from "../components/excerpt.vue";
import Subscribe from "../components/subscribe.vue";
import routes from "../static/posts.json";

export default {
  components: {
    Excerpt,
    Index, 
    Subscribe
  },
  data() {
    return {
      offset: 0,
      perPage: 3,
      posts: [],
      headerStyle: {
        backgroundImage: 'url("/creature.svg")',
        backgroundRepeat: "no-repeat",
        backgroundAttachment: "scroll",
        backgroundPosition: "center",
        backgroundSize: "auto 75%"
      },
      routes
    };
  },

  head() {
    return {
      title: `The Golden Age Horror Podcast`,
      meta: [
        {
          property: "og:title",
          content: "The GoldenAgeHorror.com Podcast - GoldenAgeHorror.com"
        },
        { property: "og:url", content: "https://goldenagehorror.com/" }
      ]
    };
  },
  methods: {
    getPosts() {
      const perPage = this.perPage;
      const promises = [];
      const posts = this.posts;
      let offset = this.offset;
      const getPosts = this.getPosts;

      const limit = perPage + offset;

      const promise = new Promise((resolve, reject) => {
        if (!routes[offset]) {
          reject("No data offset");
        }

        const slug = routes[offset];

        fetch(`./routes/${slug}.json`)
          .then(response => {
            return response.json();
          })
          .then(response => {
            resolve(response);
          });
      });

      promise.then(result => {
        posts.push(result);
        this.offset += 1;

        if (routes[offset] && posts.length < perPage) {
          getPosts();
        } else {
          this.watchIntersection();
        }
      });
    },

    watchIntersection() {
      let callback = (entries, observer) => {
        entries.forEach(entry => {
          if (entry.isIntersecting) {
            this.perPage += 3;
            this.getPosts();
          }
        });
      };
      let observer = new IntersectionObserver(callback);
      let target = document.querySelector(".post.card:last-of-type");

      observer.observe(target);
    }
  },

  mounted() {
    this.getPosts();
  }
};
</script>
<style>

:target::before {
	content: "";
	display: block;
	height: 60px;
	margin-top: -60px;
}

@media (min-width: 1000px) {
  .posts article {
    overflow: auto;
  }
  .posts article img {
    float: left;
    margin: 0 20px;
    width: 200px;
  }
}
</style>
