<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":376,"date":"2015-07-22T11:36:02","date_gmt":"2015-07-22T15:36:02","guid":{"rendered":"http://goldenagehorror.com/?p=376"},"modified":"2015-07-22T11:36:02","modified_gmt":"2015-07-22T15:36:02","slug":"jack-pierce","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/07/22/jack-pierce/","title":{"rendered":"Jack Pierce"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-377\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/07/6a00d83451d04569e2016301044d68970d.jpg\" alt=\"Jack Pierce with Bela Lugosi for Son of Frankenstein\" width=\"1000\" height=\"800\" /></p>\n<p>Jack Pierce is hardly an unsung hero of thirties horror, but he&#8217;s certainly not as well known as someone like Bela Lugosi or Boris Karloff. He is, however, perhaps as responsible as anyone else for the genre&#8217;s success in the thirties. The imagery of movies like <a href=\"http://goldenagehorror.com/episode-12-frankenstein/\">Frankenstein</a> and <a href=\"http://goldenagehorror.com/episode-8-dracula/\">Dracula</a> is so enduring as to be representative of the novel&#8217;s characters and Pierce&#8217;s touch can be found all over those movies.</p>\n<p>He is probably best known for his work designing the make up for Frankenstein &#8211; the iconic, square headed, scarred, electrode-bolted monster is so iconic as to become <em>the </em>look for Frankenstein&#8217;s creation. Even today, whether the illustrators are  representing <a href=\"http://goldenagehorror.com/boris-karloff/\">Karloff</a>, <a href=\"http://goldenagehorror.com/bela-lugosi/\">Lugosi</a>, or Strange,  it is Pierce&#8217;s makeup that has remained the iconic image of the Monster.</p>\n<p>Although both Karloff and director James Whale apparently contributed somewhat to Pierce&#8217;s design, the credit has always rested largely with Jack Pierce.</p>\n<p>Pierce also designed the Dracula costume both for Lugosi and the later design of Son of Dracula and all of the John Carradine Dracula films. Another notable collaboration with Lugosi is the tropical gothic <a href=\"http://goldenagehorror.com/white-zombie-1932/\">White Zombie</a>. Murder Legendre&#8217;s iconic look is certainly a very important part of that film.</p>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-387\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/07/bela-lugosi-as-murder-legendre.jpg\" alt=\"bela lugosi as murder legendre\" width=\"819\" height=\"614\" /></p>\n<p>Although Pierce continued to work on Universal pictures throughout the forties, notably designing the Wolfman makeup and feuding with that picture&#8217;s star, Lon Chaney Jr, he was gradually edged out of the business due to the changing nature of makeup application. </p>\n<p>He is regarded with reverence by the generation of makeup artists that emerged later, names like Rick Baker and Tom Savini acknowledge a supreme debt to the mastery of Jack Pierce.</p>\n<p>It is important not to forget those like Pierce who made huge contributions to the field of thirties horror, even though they did not command the crowds like the on screen stars. </p>\n<p><a href=\"http://www.amazon.com/s/ref=as_li_ss_tl?_encoding=UTF8&amp;camp=1789&amp;creative=390957&amp;field-keywords=jack%20pierce&amp;linkCode=ur2&amp;tag=cthudice-20&amp;url=search-alias%3Daps&amp;linkId=FB3FY7VVMNZCP4KD\" target=\"_blank\" rel=\"noopener noreferrer\">Amazon has a variety of books and movies about Jack Pierce</a><img loading=\"lazy\" style=\"border: none !important;margin: 0px !important\" src=\"https://ir-na.amazon-adsystem.com/e/ir?t=cthudice-20&amp;l=ur2&amp;o=1\" alt=\"\" width=\"1\" height=\"1\" border=\"0\" /></p>\n","protected":false},"excerpt":{"rendered":"<p>Jack Pierce is hardly an unsung hero of thirties horror, but he&#8217;s certainly not as well known as someone like Bela Lugosi or Boris Karloff. He is, however, perhaps as responsible as anyone else for the genre&#8217;s success in the thirties. The imagery of movies like Frankenstein and Dracula is so enduring as to be [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2,5,6],"tags":[37,55,99,109,135,183],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557090989;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:139;}i:1;a:1:{s:2:\"id\";i:61;}i:2;a:1:{s:2:\"id\";i:42;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5662655256"],"_wpghs_github_path":["_posts/2015-07-22-jack-pierce.md"],"_sha":["054de6a683b0b30076f2e569320de50ed3e53397"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2015/07/6a00d83451d04569e2016301044d68970d.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/376"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=376"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/376/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=376"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=376"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=376"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>