<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":78,"date":"2014-10-01T20:16:43","date_gmt":"2014-10-02T00:16:43","guid":{"rendered":"http://goldenagehorror.com/?p=78"},"modified":"2014-10-01T20:16:43","modified_gmt":"2014-10-02T00:16:43","slug":"james-whale","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/01/james-whale/","title":{"rendered":"James Whale"},"content":{"rendered":"<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/james-whale-844x1024.jpg\" alt=\"james whale\" width=\"676\" height=\"820\" class=\"alignnone size-large wp-image-89\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/james-whale-844x1024.jpg 844w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/james-whale-247x300.jpg 247w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/james-whale-768x932.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/james-whale.jpg 1319w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>I think that <a title=\"James Whale IMDB\" href=\"http://www.imdb.com/name/nm0001843/\">James Whale</a> is the greatest English film director of the Golden Age of Horror.  His only real peer is probably Fritz Lang, the German director who began making Hollywood films in the early 1940&#8217;s.</p>\n<p>James Whale is most famous for <em>Frankenstein</em> and <em>Bride of Frankenstein</em>, and rightly so. They are both incredibly pieces of horror film. It is fair to criticize Frankenstein, the first film, for failing to properly adapt Shelley&#8217;s novel. I read the book in advance of seeing the picture and I was disappointed to see that the monster did not become literate and well-spoken &#8211; I found that aspect of the creature in Shelley&#8217;s novel to be one of the most terrifying characteristics of the creature.</p>\n<p>I have found that over time, I appreciate the simplicity of the film. Given only a little over an hour to tell a story, Shelley&#8217;s novel was unfilmable as is. Noting these restrictions, <em>Frankenstein</em> can be viewed in a much more positive light.</p>\n<p><!--more--></p>\n<h3>Themes in James Whale&#8217;s Filmmaking</h3>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/BrideOFranknstn_101Pyxurz-1024x771.jpg\" alt=\"James Whale Bride of Frankenstein\" width=\"676\" height=\"508\" class=\"alignnone size-large wp-image-90\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/BrideOFranknstn_101Pyxurz-1024x771.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/BrideOFranknstn_101Pyxurz-300x226.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/BrideOFranknstn_101Pyxurz-768x578.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/10/BrideOFranknstn_101Pyxurz.jpg 1600w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<h4>The Influence of German Expressionism</h4>\n<p>Although Whale was British and not German, and a bit younger than his German peers, many of his movies display the hallmarks of German Expressionism. The bizarre, unrealistic angles, long and menacing shadows and a general lack of realism. <em>Bride of Frankenstein</em> is one of the great expressionistic films of all time, existing as it does in the dream state between realities, with a leering, Orphic Dr Preterious guiding the audience into the underworld.</p>\n<h4>Issues of Class</h4>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/final_draft_html_511368e3.gif\" alt=\"Invisible Man James Whale\" width=\"635\" height=\"546\" class=\"alignnone size-full wp-image-91\" /></p>\n<p>Whale was preoccupied with issues of class throughout his work, especially in terms of the behavior of certain classes. His obsession with the small-mindedness of small-town folk, for example, echoes throughout every movie of his that I&#8217;ve seen. <em>The Invisible Man</em>, for example, stays at inn populated with a variety of ridiculous caricatures. In <em>The Old Dark House</em>, Charles Laughton plays a nouveau riche Welshman who rails against perceived slights against his dead wife by the upper classes.</p>\n<h4>Humor</h4>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/10/tumblr_m83zgriwni1r3ah89o1_1280-682x1024.jpg\" alt=\"The Old Dark House James Whale\" width=\"676\" height=\"1014\" class=\"alignnone size-large wp-image-92\" /></p>\n<p><em>The Old Dark House</em> is equal parts comedy and Gothic. <em>Frankenstein</em>, <em>Bride</em>, and <em>The Invisible Man</em> all have strong comic relief elements. </p>\n<h3>What sets Whale apart?</h3>\n<p>Whale, more than any other director I can think of, presents his movies as theater. His actors, many of whom he is reusing from him stage career, recur in his movies and deliver strong performances. </p>\n<p>In addition, </p>\n<h3>The Essential James Whale Films</h3>\n<p><strong>The Bride of Frankenstein</strong></p>\n<p><strong>The Old Dark House</strong></p>\n<h3>Also recommended</h3>\n<p><strong>The Invisible Man</strong></p>\n<p><strong>Frankenstein</strong></p>\n<p><strong>Gods and Monsters</strong> <em>(Not a James Whale film, but an excellent biopic starring Ian McClellan)</em></p>\n<h3>Films to Avoid</h3>\n<p>None that I&#8217;ve seen.</p>\n<p>As always, let me know what you think in the comments or check out our <a href=\"https://www.facebook.com/AllGodlessHere\">Facebook Page</a> and connect with me there.</p>\n","protected":false},"excerpt":{"rendered":"<p>I think that James Whale is the greatest English film director of the Golden Age of Horror.  His only real peer is probably Fritz Lang, the German director who began making Hollywood films in the early 1940&#8217;s. James Whale is most famous for Frankenstein and Bride of Frankenstein, and rightly so. They are both incredibly [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["james whale"],"_yoast_wpseo_linkdex":["95"],"_yoast_wpseo_metadesc":["James Whale is one of the greatest director's of horrors Golden Age, responsible for Bride of Frankenstein, The Invisible Man, and The Old Dark House."],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592521;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:279;}i:1;a:1:{s:2:\"id\";i:376;}i:2;a:1:{s:2:\"id\";i:294;}i:3;a:1:{s:2:\"id\";i:61;}i:4;a:1:{s:2:\"id\";i:287;}i:5;a:1:{s:2:\"id\";i:330;}}}}"],"dsq_thread_id":["5732173390"],"_wpghs_github_path":["_posts/2014-10-01-james-whale.md"],"_sha":["68db71eddb0febe6a211580679234390097edb8a"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/10/james-whale-844x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/78"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=78"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/78/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=78"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=78"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=78"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>