<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":877,"date":"2021-01-31T21:30:00","date_gmt":"2021-01-31T21:30:00","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=877"},"modified":"2021-02-06T21:32:54","modified_gmt":"2021-02-06T21:32:54","slug":"kill-list-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/01/31/kill-list-patreon-bonus-episode/","title":{"rendered":"Kill List (Patreon Bonus Episode)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"600\" height=\"880\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/kill-list-movie-2011-poster1_1_orig.jpg\" alt=\"\" class=\"wp-image-878\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/kill-list-movie-2011-poster1_1_orig.jpg 600w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/kill-list-movie-2011-poster1_1_orig-205x300.jpg 205w\" sizes=\"(max-width: 600px) 100vw, 600px\" /></figure>\n\n\n\n<p>A meandering conversation about the Kill List with a bonus ten up top about <a href=\"https://www.patreon.com/posts/46965397/edit\">Jon Peters</a>, the Cryptkeeper, &amp; Robocop</p>\n","protected":false},"excerpt":{"rendered":"<p>A meandering conversation about the Kill List with a bonus ten up top about Jon Peters, the Cryptkeeper, &amp; Robocop</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,190,193,7],"tags":[],"post-meta-fields":{"_edit_lock":["1612647351:1"],"_wp_old_date":["2021-02-06","2021-02-01"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/46965510"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/kill-list-movie-2011-poster1_1_orig.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/877"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=877"}],"version-history":[{"count":3,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/877/revisions"}],"predecessor-version":[{"id":881,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/877/revisions/881"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=877"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=877"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=877"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>