<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":95,"date":"2014-10-06T22:10:21","date_gmt":"2014-10-07T02:10:21","guid":{"rendered":"http://goldenagehorror.com/?p=95"},"modified":"2020-02-13T15:04:46","modified_gmt":"2020-02-13T15:04:46","slug":"mad-love-1935","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/06/mad-love-1935/","title":{"rendered":"Mad Love (1935)"},"content":{"rendered":"<h4></h4>\n<h4>What is Mad Love?</h4>\n<p><em>Mad Love</em> is a 1935 horror film directed by Karl Frend and starring Peter Lorre, Colin Clive, and Frances Drake. The film is an adaptation of Maurice Renard&#8217;s story <em>The Hands of Orlac</em>, which was previously adapted as a silent film starring Conrad Veidt called <em>The Hands of Orlac</em>.</p>\n<p>Karl Fruend, a German cinematographer, was notable mainly for his technical achievements during the German Expressionism movement of the twenties. He also directed the Universal horror classic <em>The Mummy</em>. His influence is a very important part of the appeal of <em>Mad Love</em>. His sense of composition (a term referring to the arrangement of the scene on film) is very interesting and unique &#8211; reflecting the Expressionist or Symbolist aesthetic.</p>\n<p><iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/clCROz5ZcQc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe></p>\n<p>The film is also notable for the performance of Peter Lorre. This was one of his first Hollywood films and this performance is very exciting and compelling. A somewhat underrated actor who was confined mainly to playing menacing foreigners, Lorre imbues Dr Gogol with both legitimate menace and also legitimate pathos.</p>\n<p>Admirable performances by Ted Healy, Colin Clive, and Frances Drake add some nice color to the proceedings. The film really shines as a heavily stylish art object. From the scenes in the beginning set in the Grand Guignol theatre, to Dr Gogol&#8217;s intensely weird and Expressionistic apartment, the sets and character of the film are distinct and interesting.</p>\n<p><em>Mad Love</em> is one of the twenty-two films I wrote about in our eBook. If you&#8217;d like to hear about <em>Mad Love</em>, consider picking it up <a href=\"http://www.amazon.com/gp/product/B00O1IVMGS/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00O1IVMGS&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=ZIHPRZ5THH54KZOV\">on Amazon</a>.</p>\n<h4>Where to Watch It</h4>\n<p>You can rent <em>Mad Love</em> on demand on the <a href=\"https://play.google.com/store/movies/details/Mad_Love?id=Or9cu2qoqyA&amp;hl=en\">Google play store.</a> If you would like to own it <a href=\"http://www.amazon.com/gp/product/B000GRUQJW/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B000GRUQJW&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=2MW6XLNST4HG4E6D\">Hollywood&#8217;s Legends of Horror Collection (Doctor X / The Return of Doctor X / Mad Love / The Devil Doll / Mark of the Vampire / The Mask of Fu Manchu)</a>, available on Amazon is a pretty good buy ($26.99 for 6 movies at the time of this writing, two of which are excellent).</p>\n","protected":false},"excerpt":{"rendered":"<p>What is Mad Love? Mad Love is a 1935 horror film directed by Karl Frend and starring Peter Lorre, Colin Clive, and Frances Drake. The film is an adaptation of Maurice Renard&#8217;s story The Hands of Orlac, which was previously adapted as a silent film starring Conrad Veidt called The Hands of Orlac. Karl Fruend, a [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_wpas_done_all":["1"],"_yoast_wpseo_focuskw":["mad love"],"_yoast_wpseo_linkdex":["87"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592521;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:148;}i:1;a:1:{s:2:\"id\";i:266;}i:2;a:1:{s:2:\"id\";i:244;}i:3;a:1:{s:2:\"id\";i:42;}i:4;a:1:{s:2:\"id\";i:165;}i:5;a:1:{s:2:\"id\";i:139;}}}}"],"dsq_thread_id":["5726986600"],"_wpghs_github_path":["_posts/2014-10-06-mad-love-1935.md"],"_sha":["95d6fe50b4e9680cc58730213d2727f0aa59d7ff"],"_oembed_46bdb0e0ead81f91cc4a39c69a947105":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/clCROz5ZcQc?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_46bdb0e0ead81f91cc4a39c69a947105":["1498659842"],"_oembed_e43a5d0b43ca4f589c2387fb7a540015":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/clCROz5ZcQc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_e43a5d0b43ca4f589c2387fb7a540015":["1558442096"],"_edit_lock":["1581606286:1"],"_oembed_f242ac40b1a5944f59bcf74229c8fc95":["<iframe title=\"Mad Love Official Trailer #1 - Peter Lorre Movie (1935) HD\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/clCROz5ZcQc?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_f242ac40b1a5944f59bcf74229c8fc95":["1581606241"]},"episode-data":false,"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/95"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=95"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/95/revisions"}],"predecessor-version":[{"id":835,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/95/revisions/835"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=95"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=95"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=95"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>