<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":165,"date":"2014-11-06T22:18:43","date_gmt":"2014-11-07T03:18:43","guid":{"rendered":"http://goldenagehorror.com/?p=165"},"modified":"2014-11-06T22:18:43","modified_gmt":"2014-11-07T03:18:43","slug":"murders-rue-morgue-1932","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/11/06/murders-rue-morgue-1932/","title":{"rendered":"Murders in the Rue Morgue (1932)"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-166\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/11/final_draft_html_23cf4f2e.gif\" alt=\"Bela Lugosi as Doctor Mirakle from Murders in the Rue Morgue\" width=\"605\" height=\"668\" /></p>\n<p><em>Murders in the Rue Morgue</em>: Not a movie that really impressed me. I&#8217;m certainly a Poe fan, as were it seems the people in charge of making horror movies in the thirties, given how many of his stories they elected to adapt. Or maybe they weren&#8217;t fans at all, and that&#8217;s why they insisted on making these bizarrely unfaithful adaptations of his stories.</p>\n<p>Murders has sort of attained &#8220;classic&#8221; status over the years, and there are some things to recommend it, as well as a few things that don&#8217;t. Let&#8217;s review!</p>\n<p><!--more--></p>\n<h1>The Good</h1>\n<p><img loading=\"lazy\" class=\"alignnone size-large wp-image-167\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/11/ff562f_ecdb36c0b7f96d1804c5b02cb56f2f07-1024x771.jpg\" alt=\"Dr Mirakle Murders in the Rue Morgue\" width=\"676\" height=\"508\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/ff562f_ecdb36c0b7f96d1804c5b02cb56f2f07-1024x771.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/ff562f_ecdb36c0b7f96d1804c5b02cb56f2f07-300x226.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/ff562f_ecdb36c0b7f96d1804c5b02cb56f2f07-768x578.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/ff562f_ecdb36c0b7f96d1804c5b02cb56f2f07.jpg 1194w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>First and foremost, the movie has <a title=\"Bela Lugosi\" href=\"http://goldenagehorror.com/bela-lugosi/\">Bela Lugosi</a> as nightmare Doctor Mirakle. Lugosi, consistently the best thing about pretty much every movie that he is in, manages to be pretty entertaining here as a evolutionist/sexual deviant/murderer/ape handler. One can only speculate as to what his doctorate is in.</p>\n<p>The movie also has the good fortune to be shot by cinematographer Karl Freund, who also shot Dracula and directed <em>The Mummy</em> and <a title=\"Mad Love (1935)\" href=\"http://goldenagehorror.com/mad-love-1935/\"><em>Mad Love</em></a>. He gives the 1840&#8217;s Paris setting the unreality of <em>The Cabinet of Dr Caligari</em>, and nearly completely salvages a film otherwise almost completely torpedoed by the problems listed below.</p>\n<p>The film&#8217;s best scene is the grimy S&amp;M murder whipping scene, where Lugosi (who is for some reason shooting women up with ape blood) murder whips a hapless Woman of the Night to death. This scene is notable for it&#8217;s combination of <a title=\"“Capital W” Weirdness\" href=\"http://goldenagehorror.com/capital-w-weirdness/\">Weirdness</a> (thanks to Freund) and the harrowing realism and intense violence it portrays.</p>\n<h2>The Bad</h2>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-168\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/11/tumblr_l5j7w4gyT61qz72v7o1_500.jpg\" alt=\"Murders in the Rue Morgue 1932\" width=\"500\" height=\"653\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/tumblr_l5j7w4gyT61qz72v7o1_500.jpg 500w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/11/tumblr_l5j7w4gyT61qz72v7o1_500-230x300.jpg 230w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></p>\n<p>The Bad? Well, mainly, the bizarro unfaithfulness to the classic Poe story, replacing aged gentlemen Dupin with dunderheaded prettyboy Dupin. Along with the mediocre performance in the romantic lead, nearly every other performance is, if not really terrible, pretty forgettable.</p>\n<h2>The Ugly</h2>\n<p>Monkey suit acting intercut (incredibly badly) with footage of real monkey. No one has ever watched that and thought &#8220;Wow. That&#8217;s well done.&#8221;</p>\n<p>Also,  incoherent editing &#8211; a feature of many early Universal Horror Movies. Reports are that studio heads excised nearly twenty minutes from the opening of the movie &#8211; unfortunately, it shows.</p>\n<h2>Watch the Full Movie Free</h2>\n<p><iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/hbEJkBLskv0?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe></p>\n<p>Hey, thanks Youtube!</p>\n<p>What do you think of Murders in the Rue Morgue? Let me know in the comments or on <a href=\"https://www.facebook.com/AllGodlessHere\">Facebook</a>!</p>\n","protected":false},"excerpt":{"rendered":"<p>Murders in the Rue Morgue: Not a movie that really impressed me. I&#8217;m certainly a Poe fan, as were it seems the people in charge of making horror movies in the thirties, given how many of his stories they elected to adapt. Or maybe they weren&#8217;t fans at all, and that&#8217;s why they insisted on [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592518;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:171;}i:1;a:1:{s:2:\"id\";i:139;}i:2;a:1:{s:2:\"id\";i:223;}i:3;a:1:{s:2:\"id\";i:376;}i:4;a:1:{s:2:\"id\";i:279;}i:5;a:1:{s:2:\"id\";i:42;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667752530"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-11-06-murders-rue-morgue-1932.md"],"_sha":["78678bbeb24e4a57979c2df975b6a6b7b9ba7576"],"_oembed_48f265b2835a0b7f3044a145a6da6df1":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/hbEJkBLskv0?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_48f265b2835a0b7f3044a145a6da6df1":["1498682982"],"_oembed_ca31c354430636d03ce720df8bb6d2c7":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/hbEJkBLskv0?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_ca31c354430636d03ce720df8bb6d2c7":["1558442095"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/11/final_draft_html_23cf4f2e.gif","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/165"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=165"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/165/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=165"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=165"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=165"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>