<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":573,"date":"2017-08-08T13:24:18","date_gmt":"2017-08-08T17:24:18","guid":{"rendered":"https://goldenagehorror.com/?page_id=573"},"modified":"2021-01-04T02:23:13","modified_gmt":"2021-01-04T02:23:13","slug":"new-listeners","status":"publish","type":"page","link":"https://api.twilitgrotto.com/goldenagehorror/new-listeners/","title":{"rendered":"New Listeners"},"content":{"rendered":"\n<h2>All Godless Here</h2>\n\n\n\n<p>Our podcast spun out of a self-publishing project that I launched in late 2014, a short book called &#8220;<a href=\"http://amzn.to/2tfgvvp\">All Godless Here</a>.&#8221; The book was a series of short essays on my favorite horror movies from Old Hollywood. My friend Andrew agreed to discuss the movies with me in a podcast.</p>\n\n\n\n<p><a href=\"https://goldenagehorror.com/category/podcasts/films-from-all-godless-here/\">Link to all episodes&nbsp;</a></p>\n\n\n\n<p><em><strong>Highlights:</strong> <a href=\"https://goldenagehorror.com/episode-19-the-most-dangerous-gamedog-king/\">The Most Dangerous Game</a>, <a href=\"https://goldenagehorror.com/podcast-episode-5-the-black-cat/\">The Black Cat</a></em></p>\n\n\n\n<h2>Vincent Price</h2>\n\n\n\n<p>Our most popular series of episodes is our series on Vincent Price films.</p>\n\n\n\n<p><a href=\"https://goldenagehorror.com/category/podcasts/vincent-price/\">Link to all the episodes in the Vincent Price series</a></p>\n\n\n\n<p><strong>Highlights: </strong><em><a href=\"https://goldenagehorror.com/the-haunted-palace/\">The Haunted Palace</a>, <a href=\"https://goldenagehorror.com/episode-34-abominable-dr-phibes/\">The Abominable Dr Phibes</a></em></p>\n\n\n\n<h2>Foreign Cinema</h2>\n\n\n\n<p>After talking about mainly Universal horror films and then moving into Vincent Price, we felt like getting out of Hollywood for awhile. </p>\n\n\n\n<p><a href=\"https://www.goldenagehorror.com/category/foreign-cinema/\">Link to all episodes in the foreign cinema series</a></p>\n\n\n\n<h2>Folk Horror</h2>\n\n\n\n<p>This is my personal favorite genre of horror film.</p>\n\n\n\n<p><a href=\"https://www.goldenagehorror.com/category/folk-horror/\">Link to all episodes in the folk horror series</a></p>\n\n\n\n<p>Highlights: <a href=\"https://www.goldenagehorror.com/episode-56-whistle-and-ill-come-to-you-1968/\">Whistle and I&#8217;ll Come to You</a></p>\n\n\n\n<h2>The Future of the Podcast</h2>\n\n\n\n<p>We&#8217;re having a good time making the show. It&#8217;s fun &#8212; we hang out and drink a beer and watch a movie. We look forward to being able to do it in the same room, hopefully this summer. A few thousand people listen every month now, which boggles my mind.</p>\n\n\n\n<p>If you have any suggestions or feedback, the best place to find us is on Twitter. I&#8217;m <a href=\"https://www.twitter.com/thewatermethod\">@thewatermethod</a> and Andrew is <a href=\"https://www.twitter.com/PizzaPranks\">@PizzaPranks</a>.</p>\n\n\n\n<p>You can also email me at <a href=\"mailto:matt@goldenagehorror.com\">matt@goldenagehorror.com</a>, or leave us a voicemail at this number: (508) 817-3408 We&#8217;d really love to hear from you if you like the show.</p>\n\n\n\n<h2>How We Make the Podcast</h2>\n\n\n\n<p>We record on a <a href=\"http://amzn.to/2baLYv1\">Blue Yeti</a> around my living room table. I edit the show in <a href=\"http://www.audacityteam.org/\">Audacity</a>, host the audio on <a href=\"https://simplecast.com/\">Simplecast</a>. I also made the website (it&#8217;s what I do). </p>\n\n\n\n<p><a href=\"https://whalingcityweb.com\">If you need a website, I can help you</a>. </p>\n","protected":false},"excerpt":{"rendered":"<p>All Godless Here Our podcast spun out of a self-publishing project that I launched in late 2014, a short book called &#8220;All Godless Here.&#8221; The book was a series of short essays on my favorite horror movies from Old Hollywood. My friend Andrew agreed to discuss the movies with me in a podcast. Link to [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"parent":0,"menu_order":0,"comment_status":"closed","ping_status":"closed","template":"","meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages/573"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/page"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=573"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages/573/revisions"}],"predecessor-version":[{"id":852,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/pages/573/revisions/852"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=573"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>