<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":266,"date":"2014-12-30T15:21:16","date_gmt":"2014-12-30T20:21:16","guid":{"rendered":"http://goldenagehorror.com/?p=266"},"modified":"2014-12-30T15:21:16","modified_gmt":"2014-12-30T20:21:16","slug":"peter-lorre","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/30/peter-lorre/","title":{"rendered":"Peter Lorre"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-271\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/peter-lorre-m-1.jpg\" alt=\"peter-lorre-m-1\" width=\"720\" height=\"540\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/peter-lorre-m-1.jpg 720w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/peter-lorre-m-1-300x225.jpg 300w\" sizes=\"(max-width: 720px) 100vw, 720px\" /></p>\n<p>The great tragedy of Peter Lorre&#8217;s career is the premature end that ghettoization, typecasting, and alcoholism brought it. His early career is possessed of such HIGH highs and he ended it with a premature death and a series of weak performances in worse movies.</p>\n<p><!--more--></p>\n<p>Lorre was the son of Hungarian emigrants to Austria, one son among many in a middle class Viennese family. His career was made when <a title=\"Fritz Lang\" href=\"http://goldenagehorror.com/fritz-lang/\">Fritz Lang</a> cast him in the thriller <em>M</em>. (Check back this week, we will be releasing a podcast on the subject of that film).</p>\n<p><em>M</em> is a masterpiece of film making from almost any perspective, and Lorre&#8217;s performance is one of the most compelling and impressive aspects of the film. Although not on screen for very long, Lorre manages to terrify, disturb, and even elicit the beginnings of sympathy for child killer Hans Beckert.</p>\n<p><img loading=\"lazy\" class=\"aligncenter size-full wp-image-272\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/1085975940528_peter_lorre_1935.jpg\" alt=\"1085975940528_peter_lorre_1935\" width=\"600\" height=\"768\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/1085975940528_peter_lorre_1935.jpg 600w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/1085975940528_peter_lorre_1935-234x300.jpg 234w\" sizes=\"(max-width: 600px) 100vw, 600px\" /></p>\n<p>After <em>M</em>, Lorre was a mild sensation, called the most talented actor in the world by novelist Graham Greene, and unfortunately, doomed to play the villain and the weirdo forever. He moved onto acting in Hitchcock films, and then soon after, to Hollywood, to star in the expressionist horror movie <a title=\"Mad Love (1935)\" href=\"http://goldenagehorror.com/mad-love-1935/\"><em>Mad Love</em></a>, directed by <a title=\"Episode 9: The Mummy\" href=\"http://goldenagehorror.com/episode-9-mummy/\"><em>The Mummy</em></a>&#8216;s Karl Freund.</p>\n<p>He played Mr Moto in a series of films, moved on to play in a variety of noirs and villainous roles, eventually landing some excellent and iconic parts &#8211; Joel Cairo in <i>The Maltese Falcon</i>, a notable part in <em>Casablanca</em>. He made an appearance in a childhood favorite of mine, playing Conseil in <em>20,000 Leagues Under the Sea</em>.</p>\n<p>As Peter Lorre aged, he became an alcoholic and his career seemed to flounder. Lorre suspected he was greylisted because of his friendship with <em>Threepenny Opera</em> author Bertholt Brecht, although I can&#8217;t find any evidence to support this.</p>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/still-of-peter-lorre-in-en-studie-i-skräck-1962-large-picture.jpg\" alt=\"still-of-peter-lorre-in-en-studie-i-skräck-(1962)-large-picture\" width=\"868\" height=\"1023\" class=\"aligncenter size-full wp-image-273\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/still-of-peter-lorre-in-en-studie-i-skräck-1962-large-picture.jpg 868w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/still-of-peter-lorre-in-en-studie-i-skräck-1962-large-picture-255x300.jpg 255w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/still-of-peter-lorre-in-en-studie-i-skräck-1962-large-picture-768x905.jpg 768w\" sizes=\"(max-width: 868px) 100vw, 868px\" /></p>\n<p>Lorre plays the title character in a Vincent Price/Roger Corman Poe film, the comedy fantasy <em>The Raven.</em> (Although <a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a> plays the villain, there is no relation to the <a title=\"Bela Lugosi\" href=\"http://goldenagehorror.com/bela-lugosi/\">Lugosi</a>/Karloff <a title=\"The GoldenAgeHorror.com Podcast Episode 6: The Raven\" href=\"http://goldenagehorror.com/goldenagehorror-com-podcast-episode-6-raven/\">film of the same name</a>, other than the tenuous Poe connection.) He is a ragged shadow of his former self. Lorre died at 59  a few years later.</p>\n<p>It&#8217;s impossible to forget, though, that at the height of his career, Peter Lorre was one of the most exciting actors in the world. He has notable parts in some of the greatest films of the Golden Age of Hollywood. He is still a highly regarded and imitated figure. Both films of his featured in our ebook and our podcast, Mad Love and M, are two of my favorites of the era, and worth seeing entirely.</p>\n","protected":false},"excerpt":{"rendered":"<p>The great tragedy of Peter Lorre&#8217;s career is the premature end that ghettoization, typecasting, and alcoholism brought it. His early career is possessed of such HIGH highs and he ended it with a premature death and a series of weak performances in worse movies.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[9,2,5],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["Peter Lorre"],"_yoast_wpseo_linkdex":["78"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558168841;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:95;}i:1;a:1:{s:2:\"id\";i:139;}i:2;a:1:{s:2:\"id\";i:275;}}}}"],"_wpas_done_all":["1"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"dsq_thread_id":["5659816816"],"_wpghs_github_path":["_posts/2014-12-30-peter-lorre.md"],"_sha":["106094325835a2ad21bfef34eb6c5492e51c9ee0"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/12/peter-lorre-m-1.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/266"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=266"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/266/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=266"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=266"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=266"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>