<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":177,"date":"2014-11-13T22:25:14","date_gmt":"2014-11-14T03:25:14","guid":{"rendered":"http://goldenagehorror.com/?p=177"},"modified":"2019-09-13T17:56:32","modified_gmt":"2019-09-13T17:56:32","slug":"podcast-episode-5-the-black-cat","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/11/13/podcast-episode-5-the-black-cat/","title":{"rendered":"Episode 5 &#8211; The Black Cat (1934)"},"content":{"rendered":"\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"500\" height=\"728\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_.jpg\" alt=\"\" class=\"wp-image-635\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_.jpg 500w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_-206x300.jpg 206w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></figure></div>\n\n\n\n<p>This movie is so good! I could watch The Black Cat every night.</p>\n\n\n\n<!--more-->\n\n\n\n<p><a title=\"The Black Cat (1934)\" href=\"http://goldenagehorror.com/black-cat-1934/\">My earlier essay on the Black Cat</a></p>\n\n\n\n<p><a href=\"http://mysteriousuniverse.org/2013/11/clash-of-monsters-boris-karloff-and-bela-lugosi/\">Lugosi vs Karloff</a></p>\n\n\n\n<p><a href=\"http://poestories.com/read/blackcat\">Edgar Allan Poe&#8217;s Original Story</a></p>\n\n\n\n<p>Edginess of the Black Cat</p>\n\n\n\n<p><a title=\"Podcast Episode 1: Dracula’s Daughter “The Teeming Madness of a Sleepless City”\" href=\"http://goldenagehorror.com/podcast-episode-1-draculas-daughter-teeming-madness-sleepless-city/\">The Concept of Dracula&#8217;s Daughter</a></p>\n\n\n\n<p>Karloff plays the organ at the beginning of the film</p>\n\n\n\n<p>Swan Lake is not in the Black Cat, what are we talking about?</p>\n\n\n\n<p><a title=\"Pre-Code.com The Black Cat\" href=\"http://pre-code.com/the-black-cat-1934-review/\">A lovely review of the Black Cat on pre-code.com </a></p>\n\n\n\n<p><a href=\"http://366weirdmovies.com/edgar-g-ulmers-the-black-cat-1934/\">366 Weird Movies talks about the Black Cat</a></p>\n\n\n\n<p><a href=\"http://www.tcm.com/this-month/article/461230%7C17869/The-Black-Cat.html\">The Black Cat on TCM</a></p>\n\n\n\n<p>Theme music: <a title=\"DuBoLoGy - Swan Lake Dub\" href=\"https://soundcloud.com/dubology-2/du-swan-lake-dub\">DuBoLoGy &#8211; Swan Lake Dub</a></p>\n","protected":false},"excerpt":{"rendered":"<p>This movie is so good! I could watch The Black Cat every night.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[99,109,137,138,153,166],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128496;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:105;}i:1;a:1:{s:2:\"id\";i:589;}i:2;a:1:{s:2:\"id\";i:42;}}}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73737.mp3\n15828491\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:16:24\";}"],"dsq_thread_id":["3222730802"],"_wpghs_github_path":["_posts/2014-11-13-podcast-episode-5-the-black-cat.md"],"_sha":["2f5056db9746282d6b729702e8e74188909f5147"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["60"],"_edit_lock":["1568397392:1"]},"episode-data":{"id":177,"feed":"podcast","url":"https://audio.simplecast.com/73737.mp3","duration":"0:16:24","size":"15828491","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/proxy.duckduckgo.com_.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/177"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=177"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/177/revisions"}],"predecessor-version":[{"id":636,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/177/revisions/636"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=177"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=177"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=177"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>