<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":133,"date":"2014-10-19T23:34:41","date_gmt":"2014-10-20T03:34:41","guid":{"rendered":"http://goldenagehorror.com/?p=133"},"modified":"2019-09-11T15:56:46","modified_gmt":"2019-09-11T15:56:46","slug":"podcast-episode-1-draculas-daughter-teeming-madness-sleepless-city","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/19/podcast-episode-1-draculas-daughter-teeming-madness-sleepless-city/","title":{"rendered":"Episode 1 &#8211; Dracula&#8217;s Daughter (1936)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1000\" height=\"485\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/pre-production-promotional-poster.jpg\" alt=\"\" class=\"wp-image-621\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/pre-production-promotional-poster.jpg 1000w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/pre-production-promotional-poster-300x146.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/pre-production-promotional-poster-768x372.jpg 768w\" sizes=\"(max-width: 1000px) 100vw, 1000px\" /></figure>\n\n\n\n<p>Myself and <a href=\"http://www.pizzapranks.com\">Andrew Baillie</a> will be recording a series of podcasts talking about the films discussed in my book.</p>\n\n\n\n<h3>What to Expect</h3>\n\n\n\n<p>Well, we talk about the plot of the movie, but not in depth. We&#8217;re not trying to do a summary here. We are instead trying to discuss the movie in an intelligent (although brief) fashion.</p>\n\n\n\n<p>Andrew is a horror movie novice; I watch these movies every day. We conceived of the podcast as being an interesting combination of those two elements.</p>\n\n\n\n<p>Go easy on us &#8211; we&#8217;re both nerds or thereabouts, not great radio voices and we talk over each other helter skelter. We&#8217;re new to this podcasting stuff.</p>\n\n\n\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"798\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dracsd2-1024x798-1024x798.jpg\" alt=\"\" class=\"wp-image-619\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dracsd2-1024x798.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/dracsd2-1024x798-300x234.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/dracsd2-1024x798-768x599.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<h3>Dracula&#8217;s Daughter &#8211; Show Notes</h3>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Dracula%27s_Daughter\">Dracula&#8217;s Daughter (Wikipedia)</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Motion_Picture_Production_Code\">Hays Production Code (Wikipedia)</a></p>\n\n\n\n<p><a href=\"http://www.jstor.org/discover/10.2307/462430?uid=3739952&amp;uid=2&amp;uid=4&amp;uid=3739256&amp;sid=21104858177757\">A Vampire in the Mirror: Sexuality in Dracula</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Carmilla\">Carmilla</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Sleepless_in_Seattle\">Sleepless in Seattle</a></p>\n\n\n\n<p><a href=\"http://www.amazon.com/gp/product/B00005LC4J/ref=as_li_tl?ie=UTF8&amp;camp=1789&amp;creative=390957&amp;creativeASIN=B00005LC4J&amp;linkCode=as2&amp;tag=cthudice-20&amp;linkId=KKLRPUXGYOEP6BJK\">Dracula&#8217;s Daughter/Son of Dracula (Universal Studios Dracula Double Feature) on Amazon</a></p>\n\n\n\n<p><a href=\"https://soundcloud.com/dubology-2/du-swan-lake-dub\">Theme music on sound cloud &#8211; DuBoLoGy &#8211; Swan Lake Dub</a></p>\n","protected":false},"excerpt":{"rendered":"<p>Myself and Andrew Baillie will be recording a series of podcasts talking about the films discussed in my book. What to Expect Well, we talk about the plot of the movie, but not in depth. We&#8217;re not trying to do a summary here. We are instead trying to discuss the movie in an intelligent (although [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[36,55,56,109,137,171],"post-meta-fields":{"_edit_last":["1"],"_oembed_9442fe33c534f380d8043a0c2c3110c5":["{{unknown}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73730.mp3\n19629412\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:20:22\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592519;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:148;}i:1;a:1:{s:2:\"id\";i:177;}i:2;a:1:{s:2:\"id\";i:230;}i:3;a:1:{s:2:\"id\";i:114;}i:4;a:1:{s:2:\"id\";i:540;}i:5;a:1:{s:2:\"id\";i:448;}}}}"],"dsq_thread_id":["5794648910"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-10-19-podcast-episode-1-draculas-daughter-teeming-madness-sleepless-city.md"],"_sha":["06f1fd0b5ba09ea4dab63d1d409f2d6534ba55c5"],"_yoast_wpseo_primary_category":["4"],"_wpas_skip_10396172":["1"],"_yoast_wpseo_content_score":["60"],"_edit_lock":["1568217407:1"]},"episode-data":{"id":133,"feed":"podcast","url":"https://audio.simplecast.com/73730.mp3","duration":"0:20:22","size":"19629412","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/pre-production-promotional-poster.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/133"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=133"}],"version-history":[{"count":4,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/133/revisions"}],"predecessor-version":[{"id":629,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/133/revisions/629"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=133"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=133"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=133"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>