<template>
  <div class="posts">
    <Excerpt v-for="post in posts" :post="post" :key="post.id" />
  </div>
</template>

<script>
import Excerpt from "../components/excerpt.vue";
import Subscribe from "../components/subscribe.vue";
import data from "../static/posts.json";

export default {
  components: {
    Excerpt,
    Subscribe
  },
  data() {
    return {
      posts: []
    };
  },

  methods: {
    getPosts() {
      data.forEach(slug => {
        fetch(`/routes/${slug}.json`)
          .then(response => {
            return response.json();
          })
          .then(response => {
            this.posts.push(response);
          });
      });
    }
  },

  mounted() {
    const self = this;

    self.getPosts();
  }
};
</script>
