<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":540,"date":"2017-06-06T14:23:24","date_gmt":"2017-06-06T18:23:24","guid":{"rendered":"http://goldenagehorror.com/?p=540"},"modified":"2019-10-10T14:39:39","modified_gmt":"2019-10-10T14:39:39","slug":"podcast-episode-38-house-1977","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/06/06/podcast-episode-38-house-1977/","title":{"rendered":"Episode 38 &#8211; House (1977)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"716\" height=\"1024\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/House_1977_poster-716x1024-716x1024.jpg\" alt=\"\" class=\"wp-image-749\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/10/House_1977_poster-716x1024.jpg 716w, https://gahuploads.blob.core.windows.net/wp-content/2019/10/House_1977_poster-716x1024-210x300.jpg 210w\" sizes=\"(max-width: 716px) 100vw, 716px\" /></figure>\n\n\n\n<p>Andrew and Matt discuss the nutty Japanese surrealist haunted house film House. (Andrew loves it)</p>\n\n\n\n<!--more-->\n\n\n\n<p>Seven Japanese schoolgirls travel to an aunt&#8217;s house &#8211; the aunt, however, turns out to be an undead ghost. The movie&#8217;s bizarre editing choices and camera tricks make it a real trip to observe. It has legitimately thematic depth that other movies like this sometimes lack, touching briefly on the effect of WWII on the Japanese.</p>\n\n\n\n<p>Somehow this turned into our longest episode ever. We talk about information found in&nbsp;<a href=\"https://en.wikipedia.org/wiki/House_(1977_film)\" target=\"_blank\" rel=\"noopener noreferrer\">The House wikipedia article</a>&nbsp;a lot. Be warned &#8212; we also discuss comics for a good 15 minutes in the middle of this episode.</p>\n\n\n\n<p>We watched the fabulous <a rel=\"noopener noreferrer\" href=\"http://amzn.to/2sdcAlB\" target=\"_blank\">Criterion Collection version of House.</a></p>\n\n\n\n<figure class=\"wp-block-image\"><img src=\"blob:https://api.twilitgrotto.com/0f984143-9c6f-b147-baf4-19625efd000a\" alt=\"\"/></figure>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt discuss the nutty Japanese surrealist haunted house film House. (Andrew loves it)</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[3,7],"tags":[18,66,83,94,151],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["90"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1558128513;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:527;}i:1;a:1:{s:2:\"id\";i:589;}i:2;a:1:{s:2:\"id\";i:551;}}}}"],"_yoast_wpseo_focuskw_text_input":["house podcast"],"_yoast_wpseo_focuskw":["house podcast"],"_yoast_wpseo_metadesc":["Andrew and Matt discuss the nutty Japanese surrealist haunted house film in our House podcast -- we also talk about anime, comix, Vincent Price and more."],"_yoast_wpseo_linkdex":["68"],"enclosure":["https://audio.simplecast.com/73778.mp3\n47360888\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:49:15\";}"],"_wpas_mess":["In our newest podcast, Andrew and Matt discuss the nutty Japanese surrealist haunted house film House."],"_wpas_done_all":["1"],"dsq_thread_id":["5886026228"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_edit_lock":["1570718380:1"]},"episode-data":{"id":540,"feed":"podcast","url":"https://audio.simplecast.com/73778.mp3","duration":"0:49:15","size":"47360888","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/10/House_1977_poster-716x1024-716x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/540"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=540"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/540/revisions"}],"predecessor-version":[{"id":751,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/540/revisions/751"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=540"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=540"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=540"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>