<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":158,"date":"2014-10-30T19:32:07","date_gmt":"2014-10-30T19:32:07","guid":{"rendered":"http://goldenagehorror.com/?p=158"},"modified":"2019-09-13T17:53:46","modified_gmt":"2019-09-13T17:53:46","slug":"podcast-episode-3-doctor-x-mash-laughing-murder","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/10/30/podcast-episode-3-doctor-x-mash-laughing-murder/","title":{"rendered":"Episode 3 &#8211; Doctor X (1932)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"640\" height=\"494\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Doctor-X-2.jpg\" alt=\"\" class=\"wp-image-626\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Doctor-X-2.jpg 640w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/Doctor-X-2-300x232.jpg 300w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></figure>\n\n\n\n<p>This week, Andrew and Matt discuss technicolor crazytown thriller Doctor X.</p>\n\n\n\n<h2>Show Notes</h2>\n\n\n\n<p><a title=\"Doctor X\" href=\"http://goldenagehorror.com/doctor-x/\">Matt&#8217;s essay on Doctor X</a></p>\n\n\n\n<p><a href=\"http://en.wikipedia.org/wiki/Cannibal_Holocaust\">cannibal holocaust</a></p>\n","protected":false},"excerpt":{"rendered":"<p>This week, Andrew and Matt discuss technicolor crazytown thriller Doctor X. Show Notes Matt&#8217;s essay on Doctor X cannibal holocaust</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"closed","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[11,7],"tags":[35,51,65,101,105,147,150],"post-meta-fields":{"_edit_last":["1"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73731.mp3\n24498636\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:25:26\";}"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592518;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:151;}i:1;a:1:{s:2:\"id\";i:95;}i:2;a:1:{s:2:\"id\";i:396;}i:3;a:1:{s:2:\"id\";i:244;}i:4;a:1:{s:2:\"id\";i:480;}i:5;a:1:{s:2:\"id\";i:496;}}}}"],"dsq_thread_id":["3215790107"],"_wpghs_github_path":["_posts/2014-10-30-podcast-episode-3-doctor-x-mash-laughing-murder.md"],"_sha":["634193047b891d6ea9cadff2ac20d8af7ad7937b"],"_yoast_wpseo_primary_category":[""],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_yoast_wpseo_content_score":["60"],"_edit_lock":["1568397226:1"]},"episode-data":{"id":158,"feed":"podcast","url":"https://audio.simplecast.com/73731.mp3","duration":"0:25:26","size":"24498636","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/Doctor-X-2.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/158"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=158"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/158/revisions"}],"predecessor-version":[{"id":631,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/158/revisions/631"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=158"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=158"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=158"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>