<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":873,"date":"2021-01-03T21:09:00","date_gmt":"2021-01-03T21:09:00","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=873"},"modified":"2021-02-06T21:12:52","modified_gmt":"2021-02-06T21:12:52","slug":"rare-exports-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/01/03/rare-exports-patreon-bonus-episode/","title":{"rendered":"Rare Exports (Patreon Bonus Episode)"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"768\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02-1024x768.jpg\" alt=\"\" class=\"wp-image-874\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02-1024x768.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02-300x225.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02-768x576.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02.jpg 1500w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>We talk about Rare Exports, a Christmas movie,  but mostly other stuff</p>\n","protected":false},"excerpt":{"rendered":"<p>We talk about Rare Exports, a Christmas movie,  but mostly other stuff</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,193,7],"tags":[],"post-meta-fields":{"_edit_lock":["1612646859:1"],"_wp_old_date":["2021-02-06"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/45782384"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/02/rare_exports_poster02-1024x768.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/873"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=873"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/873/revisions"}],"predecessor-version":[{"id":876,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/873/revisions/876"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=873"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=873"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=873"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>