<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":901,"date":"2021-05-03T15:13:55","date_gmt":"2021-05-03T15:13:55","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=901"},"modified":"2021-05-03T15:13:57","modified_gmt":"2021-05-03T15:13:57","slug":"scanners-1981-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/05/03/scanners-1981-patreon-bonus-episode/","title":{"rendered":"Scanners (1981) &#8211; Patreon Bonus Episode"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"641\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster-1024x641.jpg\" alt=\"\" class=\"wp-image-902\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster-1024x641.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster-300x188.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster-768x481.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster.jpg 1200w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>We tackle this Cronenberg flick as Patrick McGoohan would have wanted &#8211; from a prone position.</p>\n","protected":false},"excerpt":{"rendered":"<p>We tackle this Cronenberg flick as Patrick McGoohan would have wanted &#8211; from a prone position.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[193,7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1622297190:1"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/50805439"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/05/Scanners-Movie-Poster-1024x641.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/901"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=901"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/901/revisions"}],"predecessor-version":[{"id":904,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/901/revisions/904"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=901"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=901"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=901"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>