<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":279,"date":"2015-01-07T21:43:01","date_gmt":"2015-01-08T02:43:01","guid":{"rendered":"http://goldenagehorror.com/?p=279"},"modified":"2015-01-07T21:43:01","modified_gmt":"2015-01-08T02:43:01","slug":"symbolist-movement","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2015/01/07/symbolist-movement/","title":{"rendered":"The Symbolist Movement"},"content":{"rendered":"<p><div id=\"attachment_283\" style=\"width: 686px\" class=\"wp-caption aligncenter\"><img aria-describedby=\"caption-attachment-283\" loading=\"lazy\" class=\"wp-image-283 size-large\" title=\"Sirin and Alkonost by Viktor Vasnetsov\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/01/Vasnetsov_Sirin_Alkonost-1024x581.jpg\" alt=\"Sirin and Alkonost by Viktor Vasnetsov\" width=\"676\" height=\"384\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/Vasnetsov_Sirin_Alkonost-1024x581.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/Vasnetsov_Sirin_Alkonost-300x170.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/Vasnetsov_Sirin_Alkonost-768x436.jpg 768w\" sizes=\"(max-width: 676px) 100vw, 676px\" /><p id=\"caption-attachment-283\" class=\"wp-caption-text\">Sirin and Alkonost by Viktor Vasnetsov</p></div></p>\n<p>&nbsp;</p>\n<p>The Symbolist movement refers not to the literal practice of using one thing to represent another, but to an aesthetic, literary and artistic movement of the nineteenth century. The movement has close ties to the Romantic movement, which spawned <em>Frankenstein</em> (the novel) as well as Polidori&#8217;s <em>The Vampyr</em>, which can be seen as a sort of precursor to Dracula.</p>\n<p><!--more--></p>\n<p>The philosophical underpinnings of the movement can be found in the Germans Nietszche and Schopenhauer. To go into great detail is probably WAY beyond the scope of a blog about monster movies, so I won&#8217;t. Instead, let me list a few bits of the Symbolist philosophy and how it relates to the horror movies of the 1930&#8217;s.</p>\n<p>Symbolists believed, as you might imagine, that large philosophical and universal truths could not be depicted directly, but instead had to be  represented through symbol. The symbolist painters, for example, were obsessed with using symbols, figures, and motifs from Egyptian mythology and esoteric Western occult traditions.</p>\n<p><div id=\"attachment_282\" style=\"width: 630px\" class=\"wp-caption aligncenter\"><img aria-describedby=\"caption-attachment-282\" loading=\"lazy\" class=\"wp-image-282 size-full\" title=\"The Great Red Dragon and the Woman Clothed with Sun\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/01/william_blake_-_the_great_red_dragon_and_the_woman_clothed_in_sun.jpg\" alt=\"The Great Red Dragon and the Woman Clothed with Sun\" width=\"620\" height=\"801\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/william_blake_-_the_great_red_dragon_and_the_woman_clothed_in_sun.jpg 620w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/william_blake_-_the_great_red_dragon_and_the_woman_clothed_in_sun-232x300.jpg 232w\" sizes=\"(max-width: 620px) 100vw, 620px\" /><p id=\"caption-attachment-282\" class=\"wp-caption-text\">The Great Red Dragon and the Woman Clothed with Sun</p></div></p>\n<p>&nbsp;</p>\n<p>What does this have to do with Horror movies?</p>\n<p>The Universal horrors are all big, broad Gothic representations of big ideas without nuance or, in some cases, much depth. Frankenstein is Shelley&#8217;s novel reduced to the smallest possible kernel. Where does Man begin? Where does God? Gone is much of the plot. Instead, there is one, lumbering symbol after another. This is largely the sort of things the symbolist poets and artists wrestled with &#8211; the big questions. They weren&#8217;t concerned with bourgeoisie, slice of life Impressionism. Instead, they contended with life, death, God, and the soul.</p>\n<p>No one would accuse a 70 minute horror movie like <a title=\"Murders in the Rue Morgue (1932)\" href=\"http://goldenagehorror.com/murders-rue-morgue-1932/\">Murders in the Rue Morgue</a> of navel gazing, but most of these movies do contend with big issues. <a title=\"“Capital W” Weirdness\" href=\"http://goldenagehorror.com/capital-w-weirdness/\">And they certainly aren&#8217;t interested in depicted any sort of real life</a>.</p>\n<p><div id=\"attachment_284\" style=\"width: 460px\" class=\"wp-caption aligncenter\"><img aria-describedby=\"caption-attachment-284\" loading=\"lazy\" class=\"size-full wp-image-284\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/01/the_black_cat.jpg\" alt=\"&quot;The Black Mass&quot; in the Black Cat\" width=\"450\" height=\"338\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/the_black_cat.jpg 450w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/the_black_cat-300x225.jpg 300w\" sizes=\"(max-width: 450px) 100vw, 450px\" /><p id=\"caption-attachment-284\" class=\"wp-caption-text\">&#8220;The Black Mass&#8221; in the Black Cat</p></div></p>\n<p><a title=\"The Black Cat (1934)\" href=\"http://goldenagehorror.com/black-cat-1934/\">The Black Cat</a> is &#8220;expressionist&#8221; because of all its long shadows and modernist sets &#8211; but Hjalmar Poelzig worship Satan at a ridiculous, symbolic altar. The seediness of Karloff&#8217;s villain is deftly rendered with women in glass cases, immortal black cats, and overdone prop books wearing &#8220;Hail Satan&#8221; in Gothic type and black leather.</p>\n<p>There&#8217;s a case to be made for most any of these movies. I haven&#8217;t written much about Carl Dryer&#8217;s <em>Vampyr </em>yet, but we have recorded a podcast on the film for release in late January or early February. It is probably the most overtly symbolist of any thirties horror movie, going so far as to attempt to recreate the paintings of Edvard Munch &#8211; indeed, the whole film is a series of weird, symbolist still lifes, with Nicholas de Gunzberg driven bug eyed at leering old women, emaciated farmers and ominous archways.</p>\n<p><div id=\"attachment_285\" style=\"width: 686px\" class=\"wp-caption aligncenter\"><img aria-describedby=\"caption-attachment-285\" loading=\"lazy\" class=\"size-large wp-image-285\" src=\"https://goldenagehorror.com/wp-content/uploads/2015/01/vampyr-1932-de-carl-dreyer-i-1024x576.jpg\" alt=\"Vampyr\" width=\"676\" height=\"380\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/vampyr-1932-de-carl-dreyer-i-1024x576.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/vampyr-1932-de-carl-dreyer-i-300x169.jpg 300w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/vampyr-1932-de-carl-dreyer-i-768x432.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2015/01/vampyr-1932-de-carl-dreyer-i.jpg 1280w\" sizes=\"(max-width: 676px) 100vw, 676px\" /><p id=\"caption-attachment-285\" class=\"wp-caption-text\">Vampyr</p></div></p>\n<p>If anyone has a good book on the Symbolist  movement, especially the artists, please do recommend it to me. Is this a ridiculous notion? Or am I on the right track?</p>\n","protected":false},"excerpt":{"rendered":"<p>&nbsp; The Symbolist movement refers not to the literal practice of using one thing to represent another, but to an aesthetic, literary and artistic movement of the nineteenth century. The movement has close ties to the Romantic movement, which spawned Frankenstein (the novel) as well as Polidori&#8217;s The Vampyr, which can be seen as a sort of [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557993676;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:105;}i:1;a:1:{s:2:\"id\";i:95;}i:2;a:1:{s:2:\"id\";i:139;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667753073"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2015-01-07-symbolist-movement.md"],"_sha":["2ea4dfc66ca0e80114cab7f5bc1e53233933d111"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2015/01/Vasnetsov_Sirin_Alkonost-1024x581.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/279"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=279"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/279/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=279"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=279"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=279"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>