<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":420,"date":"2016-04-19T09:59:03","date_gmt":"2016-04-19T13:59:03","guid":{"rendered":"http://goldenagehorror.com/?p=420"},"modified":"2019-09-16T19:47:23","modified_gmt":"2019-09-16T19:47:23","slug":"the-fly","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/04/19/the-fly/","title":{"rendered":"Episode 27 &#8211; The Fly (1986)"},"content":{"rendered":"\n<div class=\"wp-block-image\"><figure class=\"aligncenter\"><img loading=\"lazy\" width=\"474\" height=\"701\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dafly.jpg\" alt=\"\" class=\"wp-image-703\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dafly.jpg 474w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/dafly-203x300.jpg 203w\" sizes=\"(max-width: 474px) 100vw, 474px\" /></figure></div>\n\n\n\n<p>Andrew and Matt talk about the 1986 Jeff David Cronenberg flick The Fly starring Jeff &#8220;Brundlefly&#8221; Goldblum and Geena Davis. </p>\n\n\n\n<!--more-->\n\n\n\n<p>Turns out Geena Davis went to the same high school as Andrew!</p>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/The_Fly_(1958_film)\">The 58 Fly with Vincent Price</a></li><li><a href=\"https://en.wikipedia.org/wiki/David_Cronenberg\">David Cronenberg</a></li><li><a href=\"https://en.wikipedia.org/wiki/Return_of_the_Fly\">Return of the Fly</a></li></ul>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" title=\"Misfits - Return of the fly\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/YcugGxlfYUk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<ul><li><a href=\"https://en.wikipedia.org/wiki/Geena_Davis\">Geena Davis</a></li><li><a href=\"https://en.wikipedia.org/wiki/Jeff_Goldblum\">Jeff Goldblum</a></li><li><a href=\"https://en.wikipedia.org/wiki/The_Fly_II\">The Fly 2</a></li><li><a href=\"http://www.idwpublishing.com/product/fly-outbreak-1/\">Fly Comic</a></li><li><a href=\"https://en.wikipedia.org/wiki/Regurgitation_(digestion)\">Fly digestion</a></li><li><a href=\"http://www.simpsonsworld.com/video/312271939920/episode/448291907952\">Treehouse of Horror &#8211; The Fly</a></li></ul>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and Matt talk about the 1986 Jeff David Cronenberg flick The Fly starring Jeff &#8220;Brundlefly&#8221; Goldblum and Geena Davis.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[32,45,48,77,141,154,155],"post-meta-fields":{"_edit_last":["1"],"_oembed_95e89fceccbd0bbbbf09c001b44ff717":["{{unknown}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73758.mp3\n26558787\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:27:35\";}"],"_yoast_wpseo_focuskw_text_input":["the fly"],"_yoast_wpseo_focuskw":["the fly"],"_yoast_wpseo_metadesc":["Andrew and Matt talk about the 1986 Jeff David Cronenberg flick The Fly starring Jeff \"Brundlefly\" Goldblum and Geena Davis."],"_yoast_wpseo_linkdex":["43"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592508;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:415;}i:1;a:1:{s:2:\"id\";i:207;}i:2;a:1:{s:2:\"id\";i:244;}i:3;a:1:{s:2:\"id\";i:340;}i:4;a:1:{s:2:\"id\";i:410;}i:5;a:1:{s:2:\"id\";i:480;}}}}"],"dsq_thread_id":["5677549959"],"_yoast_wpseo_content_score":["30"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2016-04-19-the-fly.md"],"_sha":["0a753ab15200bdb410b767025e383315bd764a64"],"_oembed_6a140d88687b42c279e43792e46e5ebb":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/YcugGxlfYUk?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_6a140d88687b42c279e43792e46e5ebb":["1498659945"],"_oembed_250d766a66afbaf7130f03766df4fd9f":["<iframe title=\"Misfits - Return of the fly\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/YcugGxlfYUk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_250d766a66afbaf7130f03766df4fd9f":["1568663173"],"_edit_lock":["1568663244:1"],"_oembed_3377cac43d96c879a75d7b90db023267":["<iframe title=\"Misfits - Return of the fly\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/YcugGxlfYUk?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_3377cac43d96c879a75d7b90db023267":["1568663068"]},"episode-data":{"id":420,"feed":"podcast","url":"https://audio.simplecast.com/73758.mp3","duration":"0:27:35","size":"26558787","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/dafly.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/420"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=420"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/420/revisions"}],"predecessor-version":[{"id":704,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/420/revisions/704"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=420"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=420"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=420"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>