<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":459,"date":"2016-08-12T21:11:16","date_gmt":"2016-08-13T01:11:16","guid":{"rendered":"http://goldenagehorror.com/?p=459"},"modified":"2019-09-19T19:29:40","modified_gmt":"2019-09-19T19:29:40","slug":"the-haunted-palace","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2016/08/12/the-haunted-palace/","title":{"rendered":"Episode 30 &#8211; The Haunted Palace (1963)"},"content":{"rendered":"\n<figure class=\"wp-block-image\"><img loading=\"lazy\" width=\"1024\" height=\"757\" src=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/haunted-palace-1024x757.jpg\" alt=\"\" class=\"wp-image-714\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/2019/09/haunted-palace.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/haunted-palace-300x222.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/2019/09/haunted-palace-768x568.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>This month, Andrew and Matt discuss the Corman/Price Lovecraft/Poe mashup &#8220;The Haunted Palace&#8221;. Matt struggles through his Massachusetts accent to pronounce &#8220;era&#8221;! Andrew revels in the ham faced babies!</p>\n\n\n\n<!--more-->\n\n\n\n<p>The Haunted Palace was released in 1963 &#8211; it is an adaptation of the HP Lovecraft story &#8220;The Case of Charles Dexter Ward&#8221; and the first feature film to include references to Lovecraftian touchstones like &#8220;The Necronomicon&#8221; and Cthulhu. AIP named it &#8220;The Haunted Palace&#8221; to create continuity with it and the other films in the Corman/Price series. It fits nicely in with the others &#8211; the story is gothic and lends itself nicely to the typical set work and Price scenery chewing that characterized the series. &nbsp;Despite some stylistic differences with the Lovecraft story, in the end, (I think) it turns out to be one of the better Lovecraft adaptations available.</p>\n\n\n\n<p>Note that the same story was also filmed in 1991 by Dan O&#8217;Bannon as&nbsp;<a href=\"https://en.wikipedia.org/wiki/The_Resurrected\">The Resurrected</a>, which is a worthy film bogged down by some unfortunate period touches.</p>\n\n\n\n<figure class=\"wp-block-embed-youtube wp-block-embed is-type-video is-provider-youtube wp-embed-aspect-4-3 wp-has-aspect-ratio\"><div class=\"wp-block-embed__wrapper\">\n<iframe loading=\"lazy\" width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/4YPz0unE4xo?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>\n</div></figure>\n\n\n\n<h2>Mentioned within our Haunted Palace podcast</h2>\n\n\n\n<p><a href=\"http://www.hplovecraft.com/writings/fiction/cdw.aspx\">The Case of Charles Dexter Ward</a></p>\n\n\n\n<p><a href=\"https://www.poetryfoundation.org/poems-and-poets/poems/detail/52370\">The Haunted Palace</a>&nbsp;(The Edgar Allan Poe poem)</p>\n\n\n\n<p><a href=\"http://amzn.to/2bouOFV\">The Witchfinder General</a></p>\n","protected":false},"excerpt":{"rendered":"<p>This month, Andrew and Matt discuss the Corman/Price Lovecraft/Poe mashup &#8220;The Haunted Palace&#8221;. Matt struggles through his Massachusetts accent to pronounce &#8220;era&#8221;! Andrew revels in the ham faced babies!</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7,8],"tags":[38,81,107,108,148,160,174],"post-meta-fields":{"_edit_last":["1"],"_yoast_wpseo_focuskw_text_input":["haunted palace"],"_yoast_wpseo_focuskw":["haunted palace"],"_yoast_wpseo_metadesc":["This month in the Golden Age Horror podcast, Andrew and Matt discuss the Corman/Price Lovecraft/Poe mashup \"The Haunted Palace.\""],"_yoast_wpseo_linkdex":["70"],"_yoast_wpseo_content_score":["30"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_jetpack_related_posts_cache":["a:1:{s:32:\"8f6677c9d6b0f903e98ad32ec61f8deb\";a:2:{s:7:\"expires\";i:1557436884;s:7:\"payload\";a:3:{i:0;a:1:{s:2:\"id\";i:535;}i:1;a:1:{s:2:\"id\";i:428;}i:2;a:1:{s:2:\"id\";i:527;}}}}"],"_wpas_done_all":["1"],"enclosure":["https://audio.simplecast.com/73761.mp3\n31428910\naudio/mpeg\na:1:{s:8:\"duration\";s:7:\"0:32:39\";}"],"dsq_thread_id":["5677541399"],"_wpghs_github_path":["_posts/2016-08-12-the-haunted-palace.md"],"_sha":["a45dc581c28412cd3063b0203952bc68d0933bbd"],"_wpas_skip_7721491":["1"],"_wpas_skip_10396172":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_oembed_74f62fae5eb36594c41d0e051379e862":["<iframe width=\"676\" height=\"507\" src=\"https://www.youtube.com/embed/4YPz0unE4xo?feature=oembed\" frameborder=\"0\" allowfullscreen></iframe>"],"_oembed_time_74f62fae5eb36594c41d0e051379e862":["1498659955"],"_oembed_1fa302fa48a46f0ffa966ebbf7c1b887":["<iframe width=\"500\" height=\"375\" src=\"https://www.youtube.com/embed/4YPz0unE4xo?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_1fa302fa48a46f0ffa966ebbf7c1b887":["1558442084"],"_edit_lock":["1570717874:1"],"_oembed_20b1a639c535f798df14593057eec1ec":["<iframe title=\"The Resurrected Trailer 1991\" width=\"580\" height=\"435\" src=\"https://www.youtube.com/embed/4YPz0unE4xo?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>"],"_oembed_time_20b1a639c535f798df14593057eec1ec":["1568921302"]},"episode-data":{"id":459,"feed":"podcast","url":"https://audio.simplecast.com/73761.mp3","duration":"0:32:39","size":"31428910","type":"audio/mpeg","width":"","height":""},"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/2019/09/haunted-palace-1024x757.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/459"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=459"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/459/revisions"}],"predecessor-version":[{"id":716,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/459/revisions/716"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=459"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=459"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=459"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>