<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":893,"date":"2021-04-03T16:38:14","date_gmt":"2021-04-03T16:38:14","guid":{"rendered":"https://api.twilitgrotto.com/goldenagehorror/?p=893"},"modified":"2021-04-03T16:38:16","modified_gmt":"2021-04-03T16:38:16","slug":"the-thing-1982-patreon-bonus-episode","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2021/04/03/the-thing-1982-patreon-bonus-episode/","title":{"rendered":"The Thing (1982) &#8211; Patreon Bonus Episode"},"content":{"rendered":"\n<figure class=\"wp-block-image size-large\"><img loading=\"lazy\" width=\"1024\" height=\"689\" src=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-1024x689.jpg\" alt=\"\" class=\"wp-image-894\" srcset=\"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-1024x689.jpg 1024w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-300x202.jpg 300w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-768x517.jpg 768w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-1536x1033.jpg 1536w, https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-2048x1378.jpg 2048w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></figure>\n\n\n\n<p>I&#8217;m not numbering these Patreon exclusive episodes anymore, goshdarn it. We take on John Carpenter for the first time discussing one of the best horror films ever made.</p>\n\n\n\n<p>Also, the Black Parade AND the Snyder Cut&#8230; for some reason.</p>\n","protected":false},"excerpt":{"rendered":"<p>I&#8217;m not numbering these Patreon exclusive episodes anymore, goshdarn it. We take on John Carpenter for the first time discussing one of the best horror films ever made. Also, the Black Parade AND the Snyder Cut&#8230; for some reason.</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[189,195,193,7,192],"tags":[],"post-meta-fields":{"_edit_lock":["1617467896:1"],"_edit_last":["1"],"patreon_link":["https://www.patreon.com/posts/thing-1982-49579899"],"_patreon_link":["field_601f056b85def"]},"episode-data":false,"post-thumbnail":"https://gahuploads.blob.core.windows.net/wp-content/sites/2/2021/04/thing_1982-1024x689.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/893"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=893"}],"version-history":[{"count":2,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/893/revisions"}],"predecessor-version":[{"id":896,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/893/revisions/896"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=893"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=893"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=893"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>