<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":576,"date":"2017-08-28T20:25:59","date_gmt":"2017-08-29T00:25:59","guid":{"rendered":"https://goldenagehorror.com/?p=576"},"modified":"2019-10-10T14:43:58","modified_gmt":"2019-10-10T14:43:58","slug":"update-necronomicon-2017","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2017/08/28/update-necronomicon-2017/","title":{"rendered":"Update &#8211; Necronomicon 2017"},"content":{"rendered":"\n<p>Andrew and I are hard at work trying to find a time in which to get together and record our episode on Godzilla. If you are looking for a foreign horror movie fix, I might suggest some past episodes? Aside from our last two episodes on <a href=\"https://goldenagehorror.com/podcast-episode-38-house-1977/\">House</a> and <a href=\"https://goldenagehorror.com/episode-39-nosferatu-vampyre-1979/\">Nosferatu: the Vampyr</a>, we also did episodes on M (episode 11), <a href=\"https://goldenagehorror.com/episode-10-testament-dr-mabuse/\">the Testament of Dr Mabuse</a> (Episode 10), <a href=\"https://goldenagehorror.com/episode-17-vampyr-fugue-state-masquerading-movie/\">Vampyr</a> (episode 17), and <a href=\"https://goldenagehorror.com/episode-25-suspiria/\">Suspiria</a> (episode 25).</p>\n\n\n\n<!--more-->\n\n\n\n<p>Otherwise, I figured I&#8217;d mention a couple of things that I learned when I went to the Necronomicon, the Weird fiction and Horror festival that takes place about a half hour from where I live, in Providence RI, the home of HP Lovecraft. There was plenty of overlap between the interests of people who listen to this podcast and the people who might attend that festival.</p>\n\n\n\n<p>The first panel I went to was the Eldritch Arthouse &#8211; the panelists were discussing Suspiria when I walked in, they also mentioned some movies that I definitely want to check out, Stalker and Possession being the big two recommendations that I got. Richard Stanley, the director of Hardware and Dust Devil was on that panel, and I was able to see him present material from his adaptation of the Colour Out of Space, which is in preproduction. It looks wild, like a more serious and frightening version of the Stuart Gordon pictures. Apparently it is actually on track to being made. The art looked really cool and if it manages to be half as good as he wants it to be, it will be amazing.</p>\n\n\n\n<p>There were lots of other panels and vendors, but I&#8217;ll skip going over haunted New England and Call of Cthulhu panels. If you are looking for recommendations for Providence restaurants, I have a few for you, but you can reach out to me for that stuff. There&#8217;s a bunch of ways to contact me there.</p>\n\n\n\n<p>I unfortunately had to go home instead of going to the Dunwich Horror Picture Show, but I went two years ago and it was a blast. That particular movie I&#8217;m sure will eventually be covered on the podcast.</p>\n\n\n\n<p>We&#8217;d like to start taking listener questions and comments on the show &#8211; if you have a message, you can leave a message for us by calling (508) 817-3408.</p>\n\n\n\n<p>Remember, we have Godzilla coming up, so if you have a question relating to that, now would be the time to send it in.</p>\n","protected":false},"excerpt":{"rendered":"<p>Andrew and I are hard at work trying to find a time in which to get together and record our episode on Godzilla. If you are looking for a foreign horror movie fix, I might suggest some past episodes? Aside from our last two episodes on House and Nosferatu: the Vampyr, we also did episodes [&hellip;]</p>\n","protected":false},"author":1,"featured_media":577,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[7],"tags":[],"post-meta-fields":{"_edit_last":["1"],"_thumbnail_id":["577"],"enclosure":["https://audio.simplecast.com/0f751482.mp3\n6586462\naudio/mpeg\na:1:{s:8:\"duration\";s:8:\"00:06:47\";}"],"_yoast_wpseo_primary_category":["4"],"_publicize_twitter_user":["@thewatermethod"],"_yoast_wpseo_content_score":["30"],"_wpas_done_all":["1"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556924669;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:148;}i:1;a:1:{s:2:\"id\";i:583;}i:2;a:1:{s:2:\"id\";i:114;}i:3;a:1:{s:2:\"id\";i:279;}i:4;a:1:{s:2:\"id\";i:527;}i:5;a:1:{s:2:\"id\";i:579;}}}}"],"dsq_thread_id":["6103257426"],"_edit_lock":["1570718639:1"]},"episode-data":{"id":576,"feed":"podcast","url":"https://audio.simplecast.com/0f751482.mp3","duration":"00:06:47","size":"6586462","type":"audio/mpeg","width":"","height":""},"post-thumbnail":false,"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/576"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=576"}],"version-history":[{"count":1,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/576/revisions"}],"predecessor-version":[{"id":757,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/576/revisions/757"}],"wp:featuredmedia":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media/577"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=576"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=576"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=576"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>