<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":205,"date":"2014-12-02T23:10:15","date_gmt":"2014-12-03T04:10:15","guid":{"rendered":"http://goldenagehorror.com/?p=205"},"modified":"2014-12-02T23:10:15","modified_gmt":"2014-12-03T04:10:15","slug":"white-zombie-1932","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/02/white-zombie-1932/","title":{"rendered":"White Zombie (1932)"},"content":{"rendered":"<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-217\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/lugosi-in-white-zombie.jpg\" alt=\"lugosi in white zombie\" width=\"535\" height=\"387\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/lugosi-in-white-zombie.jpg 535w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/lugosi-in-white-zombie-300x217.jpg 300w\" sizes=\"(max-width: 535px) 100vw, 535px\" /></p>\n<p>White Zombie, the 1932 movie starring Bela Lugosi, was made by the Halperin brothers to reflect the aesthetic of the previous decade. It&#8217;s hard for us to imagine now that movies made in 1932 would feel too modern to anyone, but apparently the Halperins felt the &#8220;talkie&#8221; was the beginning of the end for Western cinema. For some reason that isn&#8217;t entirely clear to me, they made their own talkie in protest.</p>\n<p><!--more--></p>\n<p>In all honesty that&#8217;s a bit disingenuous on my part &#8211; the movie does take great pains to seem like an artifact from a time that never really existed at all. It feels like a silent film with just a minimalist amount of dialogue, dressed up in Gothic Expressionist horrors.</p>\n<p><div id=\"attachment_221\" style=\"width: 687px\" class=\"wp-caption alignnone\"><img aria-describedby=\"caption-attachment-221\" loading=\"lazy\" class=\"size-full wp-image-221\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/francavilla-white-zombie1.jpg\" alt=\"Francesco Francavilla's depiction of Bela Lugosi in White Zombie\" width=\"677\" height=\"470\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/francavilla-white-zombie1.jpg 677w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/francavilla-white-zombie1-300x208.jpg 300w\" sizes=\"(max-width: 677px) 100vw, 677px\" /><p id=\"caption-attachment-221\" class=\"wp-caption-text\">Francesco Francavilla&#8217;s depiction of Bela Lugosi in White Zombie</p></div></p>\n<p><a href=\"http://www.tcm.com/this-month/article/139119%7C549/White-Zombie.html\">An article on Turner Classic Movies</a> notes that &#8220;The critics were particularly hard on White Zombie during its initial release and found it embarrassingly outdated and old-fashioned by current standards, citing the silent-era style of acting and Victorian era dialogue as examples.&#8221;</p>\n<p>This is completely valid criticism &#8211; the movie looks and feels a great deal like a silent movie &#8211; the actors act as though they are in one, with broad, emotional gestures and expressions. The film even cast Madge Bellamy, a silent film star, in the female lead.</p>\n<p>When Andrew and I recorded <a title=\"Episode 7: White Zombie\" href=\"http://goldenagehorror.com/episode-7-white-zombie/\">our podcast</a> on the film, Andrew was struck by Madge Bellamy&#8217;s screen presence, particularly in a scene where, transformed into a zombie, she plays the piano with a completely blank expression on her face.</p>\n<p>This scene is unreal and oneiric &#8211; not a scene you would find in a movie concerned with being modern or realistic. Instead, it highlights the methodology of this film &#8211; to bring back film into the real of the dream&#8230; and the nightmare.</p>\n<p><img loading=\"lazy\" class=\"alignnone size-full wp-image-219\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/bellamy-in-white-zombie.jpg\" alt=\"madge bellamy in white zombie\" width=\"560\" height=\"330\" /></p>\n<p>White Zombie isn&#8217;t perfect &#8211; it feels slapdash at times, and they couldn&#8217;t muster up enough creative magic to cover up the secondhand sets and amateur or over the top acting.</p>\n<p>But the general <a title=\"“Capital W” Weirdness\" href=\"http://goldenagehorror.com/capital-w-weirdness/\">Weirdness</a> of the script and the charisma of <a title=\"Bela Lugosi\" href=\"http://goldenagehorror.com/bela-lugosi/\">Bela Lugosi</a> as the lead overcome whatever problems the film may have, creating an intense, expressionistic horror film of which there are few equals.</p>\n","protected":false},"excerpt":{"rendered":"<p>White Zombie, the 1932 movie starring Bela Lugosi, was made by the Halperin brothers to reflect the aesthetic of the previous decade. It&#8217;s hard for us to imagine now that movies made in 1932 would feel too modern to anyone, but apparently the Halperins felt the &#8220;talkie&#8221; was the beginning of the end for Western [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[2],"tags":[24,63,80,109,187],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["white zombie"],"_yoast_wpseo_linkdex":["87"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592516;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:139;}i:1;a:1:{s:2:\"id\";i:223;}i:2;a:1:{s:2:\"id\";i:376;}i:3;a:1:{s:2:\"id\";i:105;}i:4;a:1:{s:2:\"id\";i:165;}i:5;a:1:{s:2:\"id\";i:171;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5667752636"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-12-02-white-zombie-1932.md"],"_sha":["74d9dacdb4d2a614184a74c1cdf386b39bc10861"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/12/lugosi-in-white-zombie.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/205"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=205"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/205/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=205"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=205"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=205"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>