<template>
            <div>
              <Single :post="post" />
            </div>
          </template>

          <script>

          import Single from "../components/single.vue";

          export default {
            components: {
              Single
            },

            data() {
              return {
                post: {"id":235,"date":"2014-12-10T21:17:00","date_gmt":"2014-12-11T02:17:00","guid":{"rendered":"http://goldenagehorror.com/?p=235"},"modified":"2014-12-10T21:17:00","modified_gmt":"2014-12-11T02:17:00","slug":"zita-johann","status":"publish","type":"post","link":"https://api.twilitgrotto.com/goldenagehorror/2014/12/10/zita-johann/","title":{"rendered":"Zita Johann"},"content":{"rendered":"<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/Zita-Johann-832x1024.jpg\" alt=\"Zita Johann\" width=\"676\" height=\"832\" class=\"aligncenter size-large wp-image-240\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Zita-Johann-832x1024.jpg 832w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Zita-Johann-244x300.jpg 244w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Zita-Johann-768x945.jpg 768w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/Zita-Johann.jpg 1463w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>One of the most interesting actresses of the Universal 1930&#8217;s horror pictures, Zita Johann appeared in exactly one classic horror film: she played Helen Grosvenor, the reincarnation of Princess Anck-es-en-Amon in the <a title=\"Boris Karloff\" href=\"http://goldenagehorror.com/boris-karloff/\">Boris Karloff</a> classic, The Mummy.</p>\n<p>Although The Mummy can rightly be criticized for being a Egyptian re-skinning of <a title=\"Dracula (1931)\" href=\"http://goldenagehorror.com/dracula-1931/\">Dracula</a>, it has many virtues of it&#8217;s own, which I hope to explore in a later post specifically about the film. One of these virtues is Zita Johann, whose acting is above the curve in general for a movie set in the 1930&#8217;s, and also has the virtue of having the Princess save herself and her soul at the conclusion of the film, a significant departure from many of these films.</p>\n<p><!--more--><br />\n<img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/zita-mummy.jpg\" alt=\"zita johann in the mummy\" width=\"500\" height=\"375\" class=\"aligncenter size-full wp-image-241\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/zita-mummy.jpg 500w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/zita-mummy-300x225.jpg 300w\" sizes=\"(max-width: 500px) 100vw, 500px\" /></p>\n<p>In fairness to many of her contemporary film damsels, she is given much better material to work with, at least in the sense that she is able to save herself, and she owes some of the standout nature of her performance to that; however, it is clear from examining her life that she was most concerned with producing art and not simply feeding the Hollywood machine.</p>\n<p>Zita Johann was born in 1904 in Hungary (in what is now Romania) but grew up in New York City. She had a very successful stage career prior to her film career, and acting opposite such stars as Clark Gable. She found the commercial restrictions of Hollywood confining.</p>\n<p>Zita was not afraid to stand up for herself, which led her to run afoul of the overbearing director of The Mummy, Karl Freund. Reportedly, he insisted that she had to perform some number of her scenes topless, attempting to intimidate her, but she responded by agreeing gleefully, calling his sexist bluff.</p>\n<p>Inspired by the teachings of Madame Helena Blavatsky, Zita was a believer in the power of the occult and spirit &#8211; she carried these beliefs into the Mummy, letting her past lives filter into her and inspire her. Her enthusiasm for the idea of playing an undying doomed romantic spirit shows through.</p>\n<p><img loading=\"lazy\" src=\"https://goldenagehorror.com/wp-content/uploads/2014/12/colorized-zita-johann-in-the-mummy-1024x839.jpg\" alt=\"colorized zita johann in the mummy\" width=\"676\" height=\"553\" class=\"aligncenter size-large wp-image-239\" srcset=\"https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/colorized-zita-johann-in-the-mummy-1024x839.jpg 1024w, https://api.twilitgrotto.com/goldenagehorror/wp-content/uploads/sites/2/2014/12/colorized-zita-johann-in-the-mummy-300x246.jpg 300w\" sizes=\"(max-width: 676px) 100vw, 676px\" /></p>\n<p>Zita Johann was a very compelling performer and she certainly led The Mummy something that Dracula did not have simply by appearing the film. My only real complaint is that she is not in more horror films &#8211; many of these films could have used her energy and spirit and willingness to stand up for Art.</p>\n<p><a title=\"Zita Johann's obituary\" href=\"http://www.nytimes.com/1993/09/30/obituaries/zita-johann-dead-actress-89-played-the-mummy-s-love.html\">Zita&#8217;s Obituary in the New York Times</a></p>\n<p>The Sin of Nora Moran, a classic pre-code noirish film starring Zita Johann, free on Youtube.</p>\n<p>https://www.youtube.com/watch?v=a9ZY_G53Xc8</p>\n","protected":false},"excerpt":{"rendered":"<p>One of the most interesting actresses of the Universal 1930&#8217;s horror pictures, Zita Johann appeared in exactly one classic horror film: she played Helen Grosvenor, the reincarnation of Princess Anck-es-en-Amon in the Boris Karloff classic, The Mummy. Although The Mummy can rightly be criticized for being a Egyptian re-skinning of Dracula, it has many virtues [&hellip;]</p>\n","protected":false},"author":1,"featured_media":0,"comment_status":"open","ping_status":"open","sticky":false,"template":"","format":"standard","meta":[],"categories":[9,2,5],"tags":[123,186],"post-meta-fields":{"_edit_last":["1"],"videourl":[""],"_yoast_wpseo_focuskw":["zita johann"],"_yoast_wpseo_linkdex":["85"],"_jetpack_related_posts_cache":["a:1:{s:32:\"37550b67d263a3ce789993dc25046c5f\";a:2:{s:7:\"expires\";i:1556592515;s:7:\"payload\";a:6:{i:0;a:1:{s:2:\"id\";i:244;}i:1;a:1:{s:2:\"id\";i:42;}i:2;a:1:{s:2:\"id\";i:148;}i:3;a:1:{s:2:\"id\";i:114;}i:4;a:1:{s:2:\"id\";i:165;}i:5;a:1:{s:2:\"id\";i:248;}}}}"],"_wpas_done_all":["1"],"dsq_thread_id":["5662859743"],"_wpas_skip_7721491":["1"],"_wpas_skip_7418898":["1"],"_wpas_skip_8918596":["1"],"_wpghs_github_path":["_posts/2014-12-10-zita-johann.md"],"_sha":["08719d7d6003624a105284f68637d9f95c38baeb"],"_oembed_18985bf645b922c9f5b32e30da1c0c8c":["{{unknown}}"],"_oembed_679b13ce4cd2c76a5d9144edec582117":["{{unknown}}"]},"episode-data":false,"post-thumbnail":"https://goldenagehorror.com/wp-content/uploads/2014/12/Zita-Johann-832x1024.jpg","_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/235"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/types/post"}],"author":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/users/1"}],"replies":[{"embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/comments?post=235"}],"version-history":[{"count":0,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts/235/revisions"}],"wp:attachment":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/media?parent=235"}],"wp:term":[{"taxonomy":"category","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/categories?post=235"},{"taxonomy":"post_tag","embeddable":true,"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags?post=235"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
              };
            },

          };
          </script>