<template>
  <div>
    <Category :tax="tax" />
  </div>
</template>

<script>

import Category from "../../components/category.vue";

export default {
  components: {
    Category
  },

  data() {
    return {
      tax: {"id":147,"count":2,"description":"","link":"https://api.twilitgrotto.com/goldenagehorror/tag/rocky-horror-picture-show/","name":"Rocky Horror Picture Show","slug":"rocky-horror-picture-show","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags/147"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/taxonomies/post_tag"}],"wp:post_type":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts?tags=147"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
    };
  },

};
</script>