<template>
  <div>
    <Category :tax="tax" />
  </div>
</template>

<script>

import Category from "../../components/category.vue";

export default {
  components: {
    Category
  },

  data() {
    return {
      tax: {"id":180,"count":1,"description":"","link":"https://api.twilitgrotto.com/goldenagehorror/tag/white-zombie/","name":"White Zombie","slug":"white-zombie","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags/180"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/taxonomies/post_tag"}],"wp:post_type":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts?tags=180"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
    };
  },

};
</script>