<template>
  <div>
    <Category :tax="tax" />
  </div>
</template>

<script>

import Category from "../../components/category.vue";

export default {
  components: {
    Category
  },

  data() {
    return {
      tax: {"id":182,"count":1,"description":"","link":"https://api.twilitgrotto.com/goldenagehorror/tag/witchfinder-general/","name":"witchfinder general","slug":"witchfinder-general","taxonomy":"post_tag","meta":[],"_links":{"self":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags/182"}],"collection":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/tags"}],"about":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/taxonomies/post_tag"}],"wp:post_type":[{"href":"https://api.twilitgrotto.com/goldenagehorror/wp-json/wp/v2/posts?tags=182"}],"curies":[{"name":"wp","href":"https://api.w.org/{rel}","templated":true}]}}
    };
  },

};
</script>